.project-header {
  background: $white;
  padding-top: 48px;
  padding-bottom: 20px;
  h1 {
    margin: 0 0 40px 0;
  }
  .btn-xs {
    margin-left: 32px;
    font-size: 14px !important;
    svg {
      vertical-align: text-bottom;
    }
  }
}
.project-header-nav {
  background: rgba($blue-light, 0.4);
  padding: 30px 0 25px 0;
  font-size: 16px;
  font-weight: 600;
  .nav-tabs {
    border: none;
    >li>a {
      color: $blue-dark;
      border: none;
      border-bottom: 2px solid transparent;
      padding: 0 0 6px 0;
      margin-right: 54px;
      &:hover, &:focus {
        background: none;
        color: $red;
        border-color: $red;
      }
    }
    >li.active>a, >li.active>a:focus, >li.active>a:hover {
      color: $red !important;
      background: none;
      border: 0px solid $red !important;
      border-bottom-width: 2px !important;
    }
  }
}