<div class="row" id="{{ feature }}-feature-tile">
  <div class="col-xs-12">
    <div class="panel panel-tile">
      <div class="container-fluid">
        <div class="row">
          <div class="col-xs-12">
            <h4 class="panel-name">
                {% if feature_templates[feature]['element_type'] and feature_templates[feature]['element_type'].lower() == 'polygon' %}
                  <span>polygon icon</span>
                {% elif feature_templates[feature]['element_type'] and feature_templates[feature]['element_type'].lower() == 'line' %}
                  <span>line icon</span>
                {% else %}
                <svg width="24" height="24" viewBox="0 0 24 24" fill="none" xmlns="http://www.w3.org/2000/svg">
                  <path d="M11.4915 9.44916V18.6363" stroke="#929DB3" stroke-linecap="round" stroke-linejoin="round"></path>
                  <path d="M13.5271 17.4662C18.1481 17.6045 21.661 18.2994 21.661 19.1357C21.661 20.0719 17.26 20.8306 11.8305 20.8306C6.40102 20.8306 2 20.0719 2 19.1357C2 18.3418 5.16746 17.675 9.44271 17.4913" stroke="#929DB3" stroke-linecap="round" stroke-linejoin="round"></path>
                  <path fill-rule="evenodd" clip-rule="evenodd" d="M14.8815 6.05933C14.8815 7.93153 13.3635 9.44916 11.4916 9.44916C9.61977 9.44916 8.10181 7.93153 8.10181 6.05933C8.10181 4.18746 9.61977 2.66949 11.4916 2.66949C13.3635 2.66949 14.8815 4.18746 14.8815 6.05933V6.05933Z" stroke="#929DB3" stroke-linecap="round" stroke-linejoin="round"></path>
                  <path d="M11.4915 4.36438C12.4277 4.36438 13.1864 5.12336 13.1864 6.0593" stroke="#929DB3" stroke-linecap="round" stroke-linejoin="round"></path>
                </svg>
                {% endif %}
              {{ feature }}
            </h4>
            <p>{{feature_templates[feature]['feature']}}</p>
          </div>
        </div>
        <div class="row">
          <div class="col-xs-12 row-tags-wrapper">
            <div class="row-tags">
              {% for tag in feature_templates[feature]['tags'] %}
              {% set subtags = feature_templates[feature]['tags'][tag] %}
                <span class="label label-default" title="{{tag}}{% if subtags %}: {{ subtags|join(', ') }}{% endif %}">
                  {{tag}}{% if subtags %}: {{ subtags|join(', ') }}{% endif %}
                </span>
              {% endfor %}
            </div>
          </div>
        </div>
        <div class="row">
          <div class="col-xs-12">
              <button class="btn btn-primary pull-right" onclick="addTypes('{{ feature }}')">Add</button>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>