{% set navigation_items = [
  (url_for('campaign_manager.home'), 'home', 'Home'),
  (url_for('campaign_manager.learn'), 'learn', 'Learn'),
  (url_for('campaign_manager.campaigns_all'), 'projects', 'My Projects')
] -%}

{% set active_page = active_page|default('home') -%}
{% from 'components/page_header.html' import page_header -%}

<div class="panel panel-pagetop">
  <div class="container container-fluid">
    <div class="panel-body">
      Mapping our world together
      <a class="pull-right" href="https://hotosm.org">
        hotosm.org
        <svg width="11" height="11" viewBox="0 0 11 11" class="pl2 v-btm">
          <path fill="currentColor" d="M9.778 9.778H1.222V1.222H5.5V0H1.222C.544 0 0 .55 0 1.222v8.556C0 10.45.544 11 1.222 11h8.556C10.45 11 11 10.45 11 9.778V5.5H9.778v4.278zM6.722 0v1.222h2.194L2.91 7.23l.862.862 6.007-6.007v2.194H11V0H6.722z"></path>
        </svg>
      </a>
    </div>
  </div>
</div>
<nav class="navbar navbar-default">
  <div class="container container-fluid">
    <div class="navbar-header">
      <button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#navbar-collapse" aria-expanded="false">
        <span class="sr-only">Toggle navigation</span>
        <span class="icon-bar"></span>
        <span class="icon-bar"></span>
        <span class="icon-bar"></span>
      </button>
      <a class="navbar-brand" href="{{url_for('campaign_manager.home')}}">
        <img alt="HOTOSM Logo" height="27" src="/static/img/hot-logo.svg">
      </a>
      <p class="navbar-text">Map Campaigner</p>
    </div>
    <div class="collapse navbar-collapse" id="navbar-collapse">
      <ul class="nav navbar-nav navbar-left">
        {% for href, id, text in navigation_items %}
        <li {% if id == active_page %}class="active" {% endif %}>
          <a href="{{ href|e }}">{{ text|e }}</a>
        </li>
        {% endfor %}
        {% if active_page == "styleguide" %}
        <li class="active">
          <a href="{{ url_for('campaign_manager.styleguide') }}">Styleguide</a>
        </li>
        {% endif %}
      </ul>
      <ul class="nav navbar-nav navbar-right">
        <li><a href="#" class="create-campaign-button">Create</a></li>
        <li id="login-button"><a class="btn btn-info btn-md" href="#">Log In</a></li>
        <li id="user-menu" class="dropdown">
          <a class="dropdown-toggle" data-toggle="dropdown" href="#">
            <span id="profile-name"></span> <span class="caret"></span>
          </a>
          <ul class="dropdown-menu dropdown-user">
            <li id="logout-button">
              <a class="" href="#">
                <svg role="image" width="16" height="16" viewBox="0 0 16 16">
                  <g fill="#2C3038" fill-rule="nonzero">
                    <path d="M15.967 7.065a.673.673 0 0 0-.144-.217L13.82 4.852a.67.67 0 0 0-.944 0 .663.663 0 0 0 0 .941l.863.86h-3.728a.666.666 0 1 0 0 1.331h3.728l-.863.86a.663.663 0 0 0 .472 1.136c.17 0 .342-.064.472-.195l2.002-1.995a.664.664 0 0 0 .145-.725z" />
                    <path d="M11.347 9.315a.666.666 0 0 0-.668.666v3.326H8.01V2.661a.666.666 0 0 0-.475-.637l-2.319-.693h5.464v3.327c0 .367.299.665.668.665.369 0 .667-.298.667-.665V.665A.666.666 0 0 0 11.347 0H.667C.643 0 .622.01.6.013A.67.67 0 0 0 .316.11C.3.121.283.121.269.131.264.137.262.144.256.148a.66.66 0 0 0-.177.21C.069.375.067.395.06.413.04.463.015.513.007.57.004.589.01.607.01.627.01.64 0 .652 0 .665v13.308c0 .317.225.59.537.652l6.674 1.33a.668.668 0 0 0 .798-.652v-.665h3.338c.369 0 .667-.298.667-.665V9.98a.666.666 0 0 0-.667-.666z" />
                  </g>
                </svg>
                Log Out
              </a>
            </li>
          </ul>
        </li>
      </ul>
    </div>
  </div>
</nav>
{% if page_title is defined %}
{{ page_header(page_title) }}
{% endif %}