{% set navigation_items = [
  (url_for('campaign_manager.home'), 'home', 'Home'),
  (url_for('campaign_manager.learn'), 'learn', 'Learn'),
  (url_for('campaign_manager.campaigns_all'), 'my-projects', 'My Projects')
] -%}

{% set active_page = active_page|default('home') -%}

<div class="panel panel-pagetop">
  <div class="container container-fluid">
    <div class="panel-body">
      Mapping our world together
      <a class="pull-right" href="https://hotosm.org">
        hotosm.org
        <svg width="11" height="11" viewBox="0 0 11 11" class="pl2 v-btm">
          <path fill="currentColor" d="M9.778 9.778H1.222V1.222H5.5V0H1.222C.544 0 0 .55 0 1.222v8.556C0 10.45.544 11 1.222 11h8.556C10.45 11 11 10.45 11 9.778V5.5H9.778v4.278zM6.722 0v1.222h2.194L2.91 7.23l.862.862 6.007-6.007v2.194H11V0H6.722z"></path>
        </svg>
      </a>
    </div>
  </div>
</div>
<nav class="navbar navbar-default">
  <div class="container container-fluid">
    <div class="navbar-header">
      <button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#navbar-collapse" aria-expanded="false">
        <span class="sr-only">Toggle navigation</span>
        <span class="icon-bar"></span>
        <span class="icon-bar"></span>
        <span class="icon-bar"></span>
      </button>
      <a class="navbar-brand" href="{{url_for('campaign_manager.home')}}">
        <img alt="HOTOSM Logo" height="27" src="/static/img/hot-logo.svg">
      </a>
      <p class="navbar-text">Map Campaigner</p>
    </div>
    <div class="collapse navbar-collapse" id="navbar-collapse">
      <ul class="nav navbar-nav navbar-left">
        {% for href, id, text in navigation_items %}
        <li {% if id == active_page %}class="active" {% endif %}>
          <a href="{{ href|e }}">{{ text|e }}</a>
        </li>
        {% endfor %}
        {% if active_page == "styleguide" %}
        <li class="active">
          <a href="{{ url_for('campaign_manager.styleguide') }}">Styleguide</a>
        </li>
        {% endif %}
      </ul>
      <ul class="nav navbar-nav navbar-right">
        <li><a href="#" class="create-campaign-button">Create</a></li>
        <li id="login-menu"><a class="btn btn-info btn-sm" href="#">Log In</a></li>
      </ul>
    </div>
  </div>
</nav>