<div class="project-header">
  <div class="container container-fluid">
    <div class='row'>
      <div class='col-sm-8'>
        <h1>{{ name }}</h1>
      </div>
      {% if user_id not in campaign_managers['osm_id'] %}
      <div class='col-sm-4 text-right'>
        <button class="btn btn-primary btn-xs button-manage" onclick="location.href='/edit/{{ uuid }}'">
          {% include 'svgs/pencil.html' %}
          Edit</button>
        <div id="delete-background" style="display:none;"></div>

          <div id="delete-pop" style="display:none;" class="modal" tabindex="-1" role="dialog">
                <div class="modal-header">
                  <div class="close-box" onclick="deleteRequest()">
                    <img src="/static/img/rectangle.svg" alt="close window">
                  </div>
                  <img src="/static/img/warning.svg" alt="warning sign" class="warning-img">
                </div>
                <div class="modal-body">
                  <div class="warning-msg">
                    Are you sure you want to delete the project
                    <span>{{ name }}</span>
                  </div>
                  <div  class="instruction">Check the box below to proceed with the deletion</div>
                  <div class="confirmation-msg">
                    <input type="checkbox" name="delete-check" id="delete-check" class="delete-check" value="confirm" onclick="confirmDelete()"  autocomplete="off"> <div class="input-msg">I understand that all the information related to this project will be permanently deleted. This operation cannot be undone.</div>
                  </div>
                </div>
                <div class="modal-footer delete-btns">
                  
                    <a class="btn btn-primary del" id="delete-btn" role="button" disabled="" onclick="executeDeletion('{{uuid}}', '{{user_id}}')">Delete this project</a>
                    <a class="btn btn-default cancel-del" role="button" onclick="deleteRequest()">Cancel, keep this project</a>
                 
                </div>
          </div>

        <button class="btn btn-primary btn-xs" onclick="deleteRequest()">
          <svg xmlns="http://www.w3.org/2000/svg" width="14" height="17" viewBox="0 0 16 19">
            <path fill="#D73F3F" fill-rule="nonzero" d="M15.118 2.57h-3.704V.68a.68.68 0 0 0-.68-.68H5.292a.68.68 0 0 0-.68.68v1.89H.906a.907.907 0 0 0 0 1.815h.908v13.228c0 .626.507 1.133 1.134 1.133h10.128c.626 0 1.133-.507 1.133-1.133V4.385h.908a.907.907 0 0 0 0-1.814zM5.065 16.178a.68.68 0 0 1-1.36 0V6.653a.68.68 0 0 1 1.36 0v9.524zm3.628 0a.68.68 0 0 1-1.36 0V6.653a.68.68 0 0 1 1.36 0v9.524zm1.36-13.606H5.973V1.36h4.082v1.21zm2.268 13.606a.68.68 0 0 1-1.36 0V6.653a.68.68 0 0 1 1.36 0v9.524z" />
          </svg>
          Delete</button>
      </div>
    </div>
    {% endif %}
    <div class="row details-list">
      <div class="col-xs-12 col-md-6">
        <p class="campaign-date">
          {% include 'svgs/calendar.html' %}<span class="moment-date">{{ start_date }}</span>&mdash;<span class="moment-date">{{ end_date }}</span>
          <span class="label label-danger" id="days-left"></span>
          <script>
            $(document).ready(function () {
              function getDaysLeft(end) {
                var endDate = moment(end, 'YYYY-MM-DD', true);
                var now = moment(new Date(), 'YYYY-MM-DD');
                return endDate.diff(now, 'days');
              }
              const daysLeft = getDaysLeft('{{ end_date }}');
              const warning = daysLeft > 0 ? `{% include 'svgs/timer.html' %} ${daysLeft} day${daysLeft > 1 ? 's' : ''} left!` : `{% include 'svgs/timer.html' %} Finished`;
              if (daysLeft <= 10) {
                $('#days-left').html(warning);
              } else {
                $('#days-left').hide();
              }
            });
          </script>
        </p>
      </div>
      <div class="col-xs-12 col-md-6">
        <p>{% include 'svgs/info.html' %}{% if description %}{{ description }}{% else %}No description{% endif %}</p>
      </div>
    </div>
    <div class="row details-list">
      <div class="col-xs-12 col-md-6">
        <p>
          {% include 'svgs/person1.html' %}Managers: <i>{% if campaign_manager_names %}
            {% for campaign_manager in campaign_manager_names %}
            <a href="https://www.openstreetmap.org/user/{{ campaign_manager }}" target="_blank">{{ campaign_manager }}</a>{% if campaign_manager != campaign_manager_names[-1] %},{% endif %}
            {% endfor %}
            {% else %}
            -
            {% endif %}</i>
          Viewers: <i>{% if campaign_viewer_names %}
              {% for campaign_viewer in campaign_viewer_names %}
              <a href="https://www.openstreetmap.org/user/{{ campaign_viewer }}" target="_blank">{{ campaign_viewer }}</a>{% if campaign_viewer != campaign_viewer_names[-1] %},{% endif %}
              {% endfor %}
              {% else %}
              -
              {% endif %}</i></p>
      </div>
      <div class="col-xs-12 col-md-6">
        <p>
          {% include 'svgs/gear.html' %}
          <a href="#">Manage in Tasking Manager {% include 'svgs/link.html' %}</a>
          <a href="#">Create PDF Maps {% include 'svgs/link.html' %}</a>
        </p>
      </div>
    </div>
  </div>
</div>

{% set project_navigation_items = [
  (url_for('campaign_manager.get_campaign', uuid=uuid), 'detail', 'Project Overview'),
  (url_for('campaign_manager.get_campaign_features', uuid=uuid), 'features', 'Feature Types'),
  (url_for('campaign_manager.get_campaign_contributors', uuid=uuid), 'contributors', 'Contributor Details'),
  (url_for('campaign_manager.get_campaign_area', uuid=uuid), 'area', 'Area Covered')
] -%}

<div class="project-header-nav">
  <div class="container container-fluid">
    <ul class="nav nav-tabs" role="tablist">
      {% for href, id, text in project_navigation_items %}
      <li {% if id == active_page %}class="active" {% endif %}>
        <a href="{{ href|e }}" id="nav-{{id}}">{{ text|e }}</a>
      </li>
      {% endfor %}
    </ul>
  </div>
</div>
