<div class="project-header">
  <div class="container container-fluid">
    <div class='row'>
      <div class='col-sm-8'>
        <h1>{{ name }}</h1>
      </div>
      <div class='col-sm-4 text-right'>
        <button class="btn btn-primary btn-xs button-manage" onclick="location.href='/edit/{{ uuid }}'">
          {% include 'svgs/pencil.html' %}
          Edit</button>
        <button class="btn btn-primary btn-xs">
          {% include 'svgs/delete.html' %}
          Delete</button>
      </div>
    </div>
    <div class="row details-list">
      <div class="col-xs-12 col-md-6">
        <p class="campaign-date">
          {% include 'svgs/calendar.html' %}<span class="moment-date">{{ start_date }}</span>&mdash;<span class="moment-date">{{ end_date }}</span>
          <span class="label label-danger" id="days-left"></span>
          <script>
            $(document).ready(function () {
              function getDaysLeft(end) {
                var endDate = moment(end, 'YYYY-MM-DD', true);
                var now = moment(new Date(), 'YYYY-MM-DD');
                return endDate.diff(now, 'days');
              }
              const daysLeft = getDaysLeft('{{ end_date }}');
              const warning = daysLeft > 0 ? `{% include 'svgs/timer.html' %} ${daysLeft} day${daysLeft > 1 ? 's' : ''} left!` : `{% include 'svgs/timer.html' %} Finished`;
              if (daysLeft <= 10) {
                $('#days-left').html(warning);
              } else {
                $('#days-left').hide();
              }
            });
          </script>
        </p>
      </div>
      <div class="col-xs-12 col-md-6">
        <p>{% include 'svgs/info.html' %}{% if description %}{{ description }}{% else %}No description{% endif %}</p>
      </div>
    </div>
    <div class="row details-list">
      <div class="col-xs-12 col-md-6">
        <p>
          {% include 'svgs/person1.html' %}Managers: <i>{% if campaign_manager_names %}
            {% for campaign_manager in campaign_manager_names %}
            <a href="https://www.openstreetmap.org/user/{{ campaign_manager }}" target="_blank">{{ campaign_manager }}</a>{% if campaign_manager != campaign_manager_names[-1] %},{% endif %}
            {% endfor %}
            {% else %}
            -
            {% endif %}</i>
          Viewers: <i>{% if campaign_viewer_names %}
              {% for campaign_viewer in campaign_viewer_names %}
              <a href="https://www.openstreetmap.org/user/{{ campaign_viewer }}" target="_blank">{{ campaign_viewer }}</a>{% if campaign_viewer != campaign_viewer_names[-1] %},{% endif %}
              {% endfor %}
              {% else %}
              -
              {% endif %}</i></p>
      </div>
      <div class="col-xs-12 col-md-6">
        <p>
          {% include 'svgs/gear.html' %}
          <a href="#">Manage in Tasking Manager {% include 'svgs/link.html' %}</a>
          <a href="#">Create PDF Maps {% include 'svgs/link.html' %}</a>
        </p>
      </div>
    </div>
  </div>
</div>

{% set project_navigation_items = [
  (url_for('campaign_manager.get_campaign', uuid=uuid), 'detail', 'Project Overview'),
  (url_for('campaign_manager.get_campaign_features', uuid=uuid), 'features', 'Feature Types'),
  (url_for('campaign_manager.get_campaign_contributors', uuid=uuid), 'contributors', 'Contributor Details'),
  (url_for('campaign_manager.get_campaign_area', uuid=uuid), 'area', 'Area Covered')
] -%}

<div class="project-header-nav">
  <div class="container container-fluid">
    <ul class="nav nav-tabs" role="tablist">
      {% for href, id, text in project_navigation_items %}
      <li {% if id == active_page %}class="active" {% endif %}>
        <a href="{{ href|e }}" id="nav-{{id}}">{{ text|e }}</a>
      </li>
      {% endfor %}
    </ul>
  </div>
</div>