{% extends 'new_base.html' %}

{% block title %}{{ name }}{% endblock %}


{% block content %}

    <div class="row">

        <div class="col-lg-1"></div>

        <div class="col-lg-2">
            <div class="panel panel-green panel-dashboard shadow-panel-1">
                <div class="panel-heading">
                    Ends In
                </div>
                <div class="panel-body">
                    {{ remaining_days }}
                </div>
                <div class="panel-footer">
                    Days
                </div>
            </div>
        </div>

        <div class="col-lg-2">
            <div id="features" class="panel panel-yellow panel-dashboard shadow-panel-1">
                <div class="panel-heading">
                    Features
                </div>
                <div class="panel-body">
                    0
                </div>
                <div class="panel-footer">
                    Collected
                </div>
            </div>
        </div>

        <div class="col-lg-2">
            <div class="panel panel-blue panel-dashboard shadow-panel-1">
                <div class="panel-heading">
                    By
                </div>
                <div class="panel-body">
                    {{ participants }}
                </div>
                <div class="panel-footer">
                    Participants
                </div>
            </div>
        </div>

        <div class="col-lg-2">
            <div class="panel panel-purple panel-dashboard shadow-panel-1">
                <div class="panel-heading">
                    Started
                </div>
                <div class="panel-body">
                    {{ start_date_date }}
                </div>
                <div class="panel-footer">
                    {{ start_date_year }}
                </div>
            </div>
        </div>

        <div class="col-lg-2">
            <div class="panel panel-red panel-dashboard shadow-panel-1">
                <div class="panel-heading">
                    Ends
                </div>
                <div class="panel-body">
                    {{ end_date_date }}
                </div>
                <div class="panel-footer">
                    {{ end_date_year }}
                </div>
            </div>
        </div>

        <div class="col-lg-1"></div>

    </div>

    <hr/>

    <div class="row">

        <div class="col-lg-7">
            <div class="panel panel-default">
                <div class="panel-heading">
                    <i class="fa fa-map-o" aria-hidden="true"></i> Campaign Map
                </div>
                <div class="panel-body">
                    <div id="campaign-map"></div>
                </div>
            </div>
        </div>

        <div class="col-lg-5">
            <div class="panel panel-default">
                <div class="panel-heading">
                    <i class="fa fa-th-list" aria-hidden="true"></i> Campaign Information
                </div>
                <div class="panel-body">
                    <div class="list-group">
                        <div class="list-group-item">
                            Name
                            <span class="pull-right text-muted">
                                {{ name }}
                            </span>
                        </div>
                        <div class="list-group-item">
                            Version
                            <span class="pull-right text-muted">
                                {{ version }}
                            </span>
                        </div>
                        <div class="list-group-item">
                            Last edited by
                            <span class="pull-right text-muted">
                                {{ edited_by }}
                            </span>
                        </div>
                        <div class="list-group-item">
                            Creator
                            <span class="pull-right text-muted">
                                {{ campaign_creator }}
                            </span>
                        </div>
                        <div class="list-group-item">
                            Status
                            <span class="pull-right text-muted">
                                {% if status %}
                                    {{ status }}
                                {% else %}
                                    -
                                {% endif %}
                            </span>
                        </div>
                        <div class="list-group-item">
                            Coverage
                            <span class="pull-right text-muted">
                                {% if coverage %}
                                    {{ coverage }}
                                {% else %}
                                    -
                                {% endif %}
                            </span>
                        </div>
                    </div>
                </div>
            </div>
        </div>

    </div>

{% endblock %}

{% block after_base_js %}
    <script>

        $(function () {
            $('#features').LoadingOverlay("show", {image : "/campaign_manager/static/resources/loading-spinner.gif"});
        });

        var drawnItems = new L.FeatureGroup();
        var map = L.map('campaign-map').setView([0, 0], 1);
        L.tileLayer('http://{s}.tile.openstreetmap.org/{z}/{x}/{y}.png', {
            attribution: '© <a href="http://www.openstreetmap.org" target="_parent">OpenStreetMap</a> and contributors, ' +
            'under an <a href="http://www.openstreetmap.org/copyright" target="_parent">open license</a>',
            maxZoom: 15
        }).addTo(map);
        {% if geometry %}
            drawnItems = L.geoJSON($.parseJSON('{{ geometry|safe }}'));
            map.addLayer(drawnItems);
            map.fitBounds(drawnItems.getBounds());
        {% endif %}
    </script>
{% endblock %}