{% extends 'new_base.html' %}

{% block title %} Home {% endblock %}

{% block content %}

    <script type="text/javascript">
        var allCampaignPosition = [];
    </script>

    <div class="row">
        <div class="col-lg-8">
            <div class="panel panel-default">
                <div class="panel-heading">
                    <i class="fa fa-map-o" aria-hidden="true"></i> Campaign Map
                    <div class="pull-right">
                        <div class="btn-group">
                            <button type="button" class="btn btn-default btn-xs dropdown-toggle" data-toggle="dropdown">
                                Actions
                                <span class="caret"></span>
                            </button>
                            <ul class="dropdown-menu pull-right" role="menu">
                                <li><a href="#">Action</a>
                                </li>
                                <li><a href="#">Another action</a>
                                </li>
                                <li><a href="#">Something else here</a>
                                </li>
                                <li class="divider"></li>
                                <li><a href="#">Separated link</a>
                                </li>
                            </ul>
                        </div>
                    </div>
                </div>
                <div class="panel-body">
                    <div id="campaign-map"></div>
                </div>
            </div>
        </div>

        <div class="col-lg-4">

                <button id="create-campaign" type="button" class="btn btn-outline btn-primary btn-lg btn-block">
                    <i class="fa fa-plus" aria-hidden="true"></i>
                    <span style="margin-left: 5px;">Create New Campaign</span>
                </button>

            <div class="panel panel-default" style="margin-top: 20px;">
                <div class="panel-heading">
                    <i class="fa fa-list-ul" aria-hidden="true"></i> Campaigns
                </div>
                <div id="panel-campaign">
                {% for campaign in campaigns %}
                    <div class="panel-body">
                        <div class="panel panel-primary shadow-panel-1" data-uuid="{{ campaign.uuid }}">
                            <div class="panel-heading">
                                <h4>{{ campaign.name }}</h4>
                            </div>
                            <div class="panel-body">
                                <p style="font-size: 9pt;" class="panel-description">
                                    {% if campaign.description %}
                                        {{ campaign.description }}
                                    {% else %}
                                        No description
                                    {% endif %}
                                </p>
                                <p class="sub-description">
                                    {% if campaign.tags %}
                                        Tags :
                                        {% for tag in campaign.tags %}
                                            <a href="/campaign_manager/tags/{{ tag }}">{{ tag }}</a>
                                            {% if tag != campaign.tags[-1] %}
                                                ,
                                            {% endif %}
                                        {% endfor %}
                                    {% endif %}
                                </p>
                            </div>
                            <a href="#" class="campaign-list campaign-list-disabled"
                               data-managers="{{ campaign.campaign_managers}}" data-uuid="{{ campaign.uuid }}">
                                <div class="panel-footer">
                                    <span class="pull-left">Manage</span>
                                    <span class="pull-right"><i class="fa fa-arrow-circle-right"></i></span>
                                    <div class="clearfix"></div>
                                </div>
                            </a>
                        </div>
                    </div>
                    <script type="text/javascript">
                        var geometry = {{ campaign.geometry | safe }};
                        geometry.features[0]['properties']['name'] = "{{ campaign.name }}";
                        geometry.features[0]['properties']['uuid'] = "{{ campaign.uuid }}";
                        allCampaignPosition.push(geometry);
                    </script>
                {% endfor %}
                </div>
            </div>


        </div>

    </div>

{% endblock %}

{% block before_base_js %}

    <script type="text/javascript">

        var map = L.map('campaign-map').setView([0, 0], 1);
        L.tileLayer('http://{s}.tile.openstreetmap.org/{z}/{x}/{y}.png', {
            attribution: '© <a href="http://www.openstreetmap.org" target="_parent">OpenStreetMap</a> and contributors, ' +
            'under an <a href="http://www.openstreetmap.org/copyright" target="_parent">open license</a>',
            maxZoom: 15
        }).addTo(map);

        L.geoJson(allCampaignPosition, {
            onEachFeature: function (feature, layer) {
                // Check if feature is a polygon
                if (feature.geometry.type === 'Polygon') {
                    // Don't stroke and do opaque fill
                    layer.setStyle({
                        'weight': 0.3,
                        'fillOpacity': 0.3
                    });
                    // Get bounds of polygon
                    var bounds = layer.getBounds();
                    // Get center of bounds
                    var center = bounds.getCenter();
                    // Use center to put marker on map
                    var marker = L.marker(center, {icon: orangeIcon}).addTo(map);
                    marker.bindPopup(
                        '<div class="campaign-marker"><a href="campaign/'+ feature['properties']['uuid'] +'"> ' +
                        feature['properties']['name'] +
                        '</a></div>'
                    );
                }
            }
        }).addTo(map);

        $('#create-campaign').click(function () {
            if (window.isAuthenticated) {
                location.href='create';
            } else {
                showNotifications('You need to login first.', 'danger');
            }
        });

    </script>

{% endblock %}

{% block after_base_js %}

    <script type="text/javascript">

        function updated(user) {

            var currentUser = user.display_name;
            var $campaignListElement = $('#panel-campaign').children().find('.campaign-list-disabled');

            for(var i=0; i < $campaignListElement.length; i++) {

                var $campaign = $($campaignListElement[i]);
                var managers = JSON.parse($campaign.attr('data-managers').replace(/'/g, '"'));

                if(containsObject(currentUser, managers)) {
                    $campaign.show();
                } else {
                    $campaign.hide();
                }
            }
        }

        function logoutSuccess() {
            var $campaignListElement = $('#panel-campaign').children().find('.campaign-list-disabled');
            for(var i=0; i < $campaignListElement.length; i++) {
                $($campaignListElement[i]).hide();
            }
        }

        $('.campaign-list').click(function () {
            location.href='campaign/edit/' + $(this).attr('data-uuid');
        });

        $('#panel-campaign .panel-body .panel-body').click(function(){
            location.href='campaign/' + $(this).parent().attr('data-uuid');
        });

        $('#panel-campaign .panel-body .panel-heading').click(function(){
            location.href='campaign/' + $(this).parent().attr('data-uuid');
        });

    </script>

{% endblock %}