<div class="col-lg-6 ranking">
    <div class="panel panel-tile" style="height: 304px">
          <div class="container-fluid">
            <div class="row">
              <div class="col-xs-12">
                <h4 class="panel-name">Contribution Ranking</h4>
                <p class="panel-subhead">Based on total edits made</p>
                {% for elm in contributors_top_ranking %}
                <div class="row contrib-row">
                  <div class="col-xs-3">
                    <span class="progress-label">{{ elm['name'] }}</span>
                  </div>

                  <div class="col-xs-9 progress progress-rank" style="background-color:transparent">
                    <div class="progress-bar" id="campaign-progress" role="progressbar" aria-valuenow="{{ elm['aria'] }}" aria-valuemin="0" aria-valuemax="100" style="width:{{ elm['width'] }}%">
                    </div>
                    <span class="progress-value">&nbsp;{{ elm['count'] }}</span>
                  </div>
                </div>
                {% endfor %}
              </div>
            </div>
          </div>
        </div>
  </div>
