<div class="detail-panel-information">
      <div class="panel-body summary-stats">
        <div class="row">

        <div class="col-sm-12 col-md-6">
        <div class="panel">
          <div class="container-fluid">
            <div class="row">
              <div class="col-xs-12">
                <div class="row">
                  <h4 class="panel-name">
                    Total features collected
                  </h4>
                </div>
              </div>
            </div>
            <div class="row">
              <div class="col-xs-12">
                <strong class="panel-total panel-total-primary text-center">
                  <span id="features-collected">{{ total_features }}</span>
                </strong>
              </div>
            </div>
          </div>
        </div>
      </div>
        
      <div class="col-sm-12 col-md-6">
        <div class="panel">
          <div class="container-fluid">
            <div class="row">
              <div class="col-xs-12">
                <div class="row">
                <h4 class="panel-name">
                  Complete features
                </h4>
                </div>
              </div>
            </div>
            <div class="row">
              <div class="col-xs-12">
                <strong class="panel-total panel-total-primary text-center">
                  <span id="areas-covered">{{  complete_pct }}%</span>
                </strong>
              </div>
            </div>
          </div>
        </div>
      </div>
</div>
<div class="row" style="margin-top: 13px;">      
      <div class="col-sm-12 col-md-6">
        <div class="panel">
          <div class="container-fluid">
            <div class="row">
              <div class="col-xs-12">
                <div class="row">
                <h4 class="panel-name">
                  Feature types monitored
                </h4>
                </div>
              </div>
            </div>
            <div class="row">
              <div class="col-xs-12">
                <strong class="panel-total panel-total-primary text-center">
                  <span id="feature-types"></span>
                </strong>
              </div>
            </div>
          </div>
        </div>
      </div>  

      <div class="col-sm-12 col-md-6">
        <div class="panel">
          <div class="container-fluid">
            <div class="row">
              <div class="col-xs-12">
                <div class="row">
                <h4 class="panel-name">
                  Total contributors
                </h4>
                </div>
              </div>
            </div>
            <div class="row">
              <div class="col-xs-12">
                <strong class="panel-total panel-total-primary text-center">
                  <span id="contributors">{{ total_contributors }}</span>
                </strong>
              </div>
            </div>
          </div>
        </div>
      </div>  

    </div>

  </div>
</div>
