<div class=" detail-panel-information">
      <div class="panel-body summary-stats">
        <div class="row">

        <div class="col-sm-12 col-md-6">
        <div class="panel">
          <div class="container-fluid">
            <div class="row">
              <div class="col-xs-12">
                <h4 class="panel-name">
                  Total features Collected
                </h4>
                <a href="" class="panel-more-button">
                  <svg xmlns="http://www.w3.org/2000/svg" width="24" height="24" viewBox="0 0 24 24">
                    <path fill="#D73F3F" fill-rule="nonzero" d="M15.375 7l-.97.97 3.837 3.843H3v1.374h15.242l-3.837 3.844.97.969 5.5-5.5z" />
                  </svg>
                </a>
              </div>
            </div>
            <div class="row">
              <div class="col-xs-12">
                <strong class="panel-total panel-total-primary text-center">
                  <span id="features-collected">
                </strong>
              </div>
            </div>
          </div>
        </div>
      </div>
        
      <div class="col-sm-12 col-md-6">
        <div class="panel">
          <div class="container-fluid">
            <div class="row">
              <div class="col-xs-12">
                <h4 class="panel-name">
                  Attributes completeness
                </h4>
                <a href="" class="panel-more-button">
                  <svg xmlns="http://www.w3.org/2000/svg" width="24" height="24" viewBox="0 0 24 24">
                    <path fill="#D73F3F" fill-rule="nonzero" d="M15.375 7l-.97.97 3.837 3.843H3v1.374h15.242l-3.837 3.844.97.969 5.5-5.5z" />
                  </svg>
                </a>
              </div>
            </div>
            <div class="row">
              <div class="col-xs-12">
                <strong class="panel-total panel-total-primary text-center">
                  <span id="areas-covered">{{ pct_covered_areas }}%</span>
                </strong>
              </div>
            </div>
          </div>
        </div>
      </div>
</div>
<div class="row">      
      <div class="col-sm-12 col-md-6">
        <div class="panel">
          <div class="container-fluid">
            <div class="row">
              <div class="col-xs-12">
                <h4 class="panel-name">
                  Feature types monitored
                </h4>
                <a href="" class="panel-more-button">
                  <svg xmlns="http://www.w3.org/2000/svg" width="24" height="24" viewBox="0 0 24 24">
                    <path fill="#D73F3F" fill-rule="nonzero" d="M15.375 7l-.97.97 3.837 3.843H3v1.374h15.242l-3.837 3.844.97.969 5.5-5.5z" />
                  </svg>
                </a>
              </div>
            </div>
            <div class="row">
              <div class="col-xs-12">
                <strong class="panel-total panel-total-primary text-center">
                  <span id="feature-types"></span>
                </strong>
              </div>
            </div>
          </div>
        </div>
      </div>  

      <div class="col-sm-12 col-md-6">
        <div class="panel">
          <div class="container-fluid">
            <div class="row">
              <div class="col-xs-12">
                <h4 class="panel-name">
                  Total contributors
                </h4>
                <a href="" class="panel-more-button">
                  <svg xmlns="http://www.w3.org/2000/svg" width="24" height="24" viewBox="0 0 24 24">
                    <path fill="#D73F3F" fill-rule="nonzero" d="M15.375 7l-.97.97 3.837 3.843H3v1.374h15.242l-3.837 3.844.97.969 5.5-5.5z" />
                  </svg>
                </a>
              </div>
            </div>
            <div class="row">
              <div class="col-xs-12">
                <strong class="panel-total panel-total-primary text-center">
                  <span id="contributors"></span>
                </strong>
              </div>
            </div>
          </div>
        </div>
      </div>  

    </div>

  </div>
</div>
