<div id="features-details"></div>
  <table id="table_id" class="row-border" style="width:100%">
    <thead>
      <tr>
        <th>OSM ID</th>
        <th>Feature Type</th>
        <th>Status</th>
        <th>Last edited by</th>
        <th>Last edited date</th>
        <th>Attributes found</th>
        <th>Attributes not found</th>
      </tr>
    </thead>
    <tbody>
    </tbody>
  </table>

<script type="text/javascript">
  function getDetails() {
    var s3CampaignUrl = '{{ s3_campaign_url | safe }}';
    $.ajax({
    type: 'GET',
    url: s3CampaignUrl + '/all_features.json',
    dataType: 'json',
    success: function (data) {
      $.each(data, function(i, d){
        var attrsFound = displayTags(d.attributes);
        var attrsNotFound = displayTags(d.missing_attributes);
        var row = `
      <tr>
        <td class="osm-id">` + d.id + `</td>
        <td>` + d.feature_type + `</td>
        <td>` + d.status + `</td>
        <td>` + d.last_edited_by + `</td>
        <td>` + moment(d.last_edit_date, 'YYYY-MM-DDTHH:mm:ssZ', true).format('YYYY.MM.DD') + `</td>
        <td class="found">` + attrsFound + `</td>
        <td class="not-found">` + attrsNotFound + `</td>
      </tr>`;
      $('#table_id tbody').append(row);
      });
      $('#table_id').DataTable();
    }  
   });
  }

  function displayTags(tags) {
    var listTags = '';
    $.each(tags, function(i, t){
      tag = '<span class="detail-tag">' + t + '</span> '
      listTags = listTags + tag;
    });
    return listTags;
  }

 getDetails();
 
</script>
