<div id="total-feature-completeness-errors"></div>
  <table id="pagination-errors" class="table">
    <thead>
      <tr>
        <th>OSM node ID</th>
        <th>Feature Type</th>
        <th>Status</th>
        <th>Last edited by</th>
        <th>Last edited date</th>
        <th>Attributes found</th>
        <th>Attributes not found</th>
      </tr>
    </thead>
    <tbody>
    </tbody>
  </table>
  <div class='pagination-nav'>
    <nav>
      <ul class="pager" style="text-align:left">
        <li class='previous-page'><a data-target="#">Previous</a></li>
        <li class='current-page'></li>
        <li class='next-page'><a data-target="#">Next</a></li>
      </ul>
    </nav>
  </div>

<script type="text/javascript">
  function getDetails() {
    var uuid = '{{ uuid }}';
    var types = {{ types| tojson }};

    var details = [];

    details.push($.ajax({
    type: 'GET',
    url: '/campaign/' + uuid + '/details/shop=supermarket',
    dataType: 'json',
    success: function (data) {
      for(var i=0; i<data.length; i++) {
        d = {node_id: data[i].node_id, 
             feature_type: "supermarket",
             status: '', 
             editor: data[i].edited_by, 
             date: data[i].edited_date,
             attribute_found: '', 
             attribute_not_found: ''};
        // console.log(d);
        details.push(d);
      }
    },
    }));

    details = details.slice(1)
    console.log(details);
    totalPages = Math.round(details.length / 10);
    console.log(totalPages);
    currentPage = 0;
    sliceStart = 0;
    sliceEnd = 10;
    renderPage(details.slice(sliceStart, sliceEnd));
  }

    function renderPage(slicedData) {
    $('#pagination-errors tbody').html('');
    $('.current-page').html(`${currentPage + 1}/${totalPages}`);
    var prout = slicedData;
    for (var i = 0; i < prout.length; i++) {
      var dataRow = buildData(prout[i]);
      var row = `
      <tr>
        <td>${dataRow.node_id}</td>
        <td>${dataRow.feature_type}</td>
        <td>${dataRow.status}</td>
        <td>${dataRow.editor}</td>
        <td>${dataRow.edited_date}</td>
        <td>${dataRow.attribute_found}</td>
        <td>${dataRow.attribute_not_found}</td>
      </tr>`;
      $('#pagination-errors tbody').append(row);
    }
  }

    function buildData(data) {    
    return {
      node_id: data.node_id, 
      feature_type: data.type,
      status: data.status, 
      editor: data.edited_by, 
      date: data.edited_date,
      attribute_found: data.attribute_found, 
      attribute_not_found: data.attribute_not_found
    }
  }

   $('.next-page').click(function() {
    currentPage += 1;
    sliceStart += 10;
    sliceEnd += 10;

    if (currentPage === totalPages)
      resetIndexes();

    renderPage(data.slice(sliceStart, sliceEnd));
  });

  $('.previous-page').click(function() {
    if (currentPage === 0)
      return
    currentPage -= 1;
    sliceStart -= 10;
    sliceEnd -= 10;

    if (currentPage < 0)
      resetIndexes();

    renderPage(data.slice(sliceStart, sliceEnd));
  });    

  function resetIndexes() {
    currentPage = 0;
    sliceStart = 0;
    slicedEnd = 10;
  }

  getDetails();
</script>
