<div id="features-details"></div>
  <table id="table_id" class="row-border" style="width:100%">
    <thead>
      <tr>
        <th>OSM ID</th>
        <th>Feature Type</th>
        <th>Status</th>
        <th>Last edited by</th>
        <th>Last edited date</th>
        <th>Attributes found</th>
        <th>Attributes not found</th>
      </tr>
    </thead>
    <tbody>
    </tbody>
  </table>

<script type="text/javascript">
  function getDetails() {
    var uuid = '{{ uuid }}';
    var types = {{ types| tojson }};

    $.ajax({
    type: 'GET',
    url: '/campaign/' + uuid + '/details',
    dataType: 'json',
    success: function (data) {
      $.each(data, function(i, d){
        // console.log(d);
        var attrsFound = displayTags(d.attributes_found);
        var attrsNotFound = displayTags(d.attributes_not_found);
        var row = `
      <tr>
        <td class="osm-id">` + d.node_id + `</td>
        <td>` + 'supermarket' + `</td>
        <td>` + d.status + `</td>
        <td>` + d.edited_by + `</td>
        <td>` + d.edited_date + `</td>
        <td class="found">` + attrsFound + `</td>
        <td class="not-found">` + attrsNotFound + `</td>
      </tr>`;
      $('#table_id tbody').append(row);
      });
      $('#table_id').DataTable();
    }  
   });
  }

  function displayTags(tags) {
    var listTags = '';
    $.each(tags, function(i, t){
      tag = '<span class="detail-tag">' + t + '</span> '
      listTags = listTags + tag;
    });
    return listTags;
  }

 getDetails();
 
</script>
