*.pyc
python
venv
.idea
apache/osm-reporter.apache.conf
reporter/config/local.py
components/
data
*~
secret.py
.DS_STORE
.vscode
.env
node_modules/
lambda_functions/process/make_vector_tiles/node_modules
# Elastic Beanstalk Files
.elasticbeanstalk/*
!.elasticbeanstalk/*.cfg.yml
!.elasticbeanstalk/*.global.yml
dependencies/
*.zip