# Common to all builds in the build matrixs
os: linux
language: python # This lets us use newer python versions from virtualenv
sudo: false
cache:
  apt: true
  pip: true
  directories:
    # commented out - we want to get fresh overpass file each time
    #- /tmp # cache any previously downloaded .osm files
  timeout: 1000
compiler: clang

python:
  - '3.6'
  - '3.5'
  - '3.4'

env:
  global:
    - ON_TRAVIS=true
    - SECRET_KEY='tT\xd7\xb06\xf7\x9b\xff\x0fZL\xca\xca\x11\xefM\xacr\xfb\xdf\xca\x9b'
    - APP_SETTINGS=app_config.DevelopmentConfig
    - DATABASE_URL=localhost

matrix:
  fast_finish: true
  include:
    - python: '3.6'
      env: TRAVIS_CONFIG=PYTHON3
    - python: '3.5'
      env: TRAVIS_CONFIG=PYTHON3
    - python: '3.4'
      env: TRAVIS_CONFIG=PYTHON3

  exclude:
    - python: '3.6'
    - python: '3.5'
    - python: '3.4'

git:
  depth: 30

before_install:

install:
  - pip install coveralls
  - pip install -r deployment/docker/requirements.txt
  - pip install -r deployment/docker/requirements-dev.txt

before_script:

script:
  - flake8 --config .flake8 flask_project
  - nosetests flask_project

after_script:
  - coveralls

email:
  - dimas@kartoza.com
  - irwan@kartoza.com
  - anita@kartoza.com
