.btn {
  border-radius: 2px;
}
.btn-primary {
  background: $red;
  border: none;
  color: $white !important;
  &:hover, &:focus, &.active {
    background: $red !important;
    color: $white !important;
  }
}
.btn-default {
  color: $blue-dark;
  background: $white;
  border: 1px solid $grey-light;
}
.btn-info {
  background: $blue-dark;
  border: none;
  color: $white !important;
  font-family: 'Archivo', sans-serif;
  &:hover, &:focus, &.active {
    background: $blue-dark !important;
    color: $white !important;
  }
}
.btn-sm {
  font-size: 16px !important;
  padding: 11px 24px !important;
}
.btn-lg {
  min-width: 200px;
  font-size: 16px !important;
  line-height: 18px;
}