.panel-campaign {
  color: $red;
  margin: 0;
  a {
    color: $red;
    font-family: 'Archivo', sans-serif;
  }
  svg {
    margin-bottom: -1px;
    margin-left: 5px;
  }
  .panel-body {
    padding: 13px 0;
    vertical-align: middle;
  }
  font-family: 'Barlow Condensed', sans-serif;
  font-size: 12px;
  font-weight: 500;
  @include respond-above(md) {
    .container {
      margin: 0;
      width: 100%;
    }  
  }
}
