.footer {
  background-color:$blue-dark;
  color: $white;
  width: 100%;
  padding-top: 55px;
  padding-bottom: 32px;
  margin-top: 80px;
  a {
    color: $white;
  }
  .footer-text {
    font-size: 24px;
    line-height: 31px;
  }
  .list-unstyled {
    margin: 40px 0;
    @include respond-above(md) {
      margin-top: 125px;
    }
    li {
      display: inline-block;
    }
  }
  @include respond-below(md) {
    .pull-right {
      float: left !important;
      clear: both;
    }
  }
}