.panel-pagetop, .navbar-default {
  font-family: 'Barlow Condensed', sans-serif;
  font-size: 12px;
  font-weight: 500;
}

.panel-pagetop {
  color: $red;
  margin: 0;
  a {
    color: $red;
    font-family: 'Archivo', sans-serif;
  }
  svg {
    margin-bottom: -1px;
    margin-left: 5px;
  }
  .panel-body {
    padding: 13px 0;
    vertical-align: middle;
  }
}

.navbar-default {
  background-color: $white;
  .navbar-brand {
    padding: 23px 0;
    height: auto;
  }
  .navbar-text {
    font-size: 22px;
    color: $blue-dark;
    margin-top: 19px;
    margin-left: 9px;
    margin-right: 50px;
    @include respond-above(md) {
      margin-right: 105px;
    }
  }
  .navbar-collapse {
    padding-top: 18px;
    .btn {
      margin-top: -4px;
    }
  }
  .navbar-toggle {
    margin-top: 18px;
  }
  @include respond-below(md) {
    .navbar-header {
      margin-left: 0;
    }
  }
  .navbar-nav>li {
    margin: 0 20px;
    >a:not(.btn) {
      font-size: 18px;
      color: $blue-dark;
      text-transform: uppercase;
      padding: 8px 0;
    }
    >a:not(.btn):hover, &.active>a:not(.btn), &.active>a:not(.btn):hover {
      border-bottom: 2px solid $blue-dark;
      background: none;
      color: $blue-dark;
    }
    &#create_campaign > a {
      color: $red;
      border-color: $red;
      @include respond-below(sm) {
        margin-bottom: 30px;
      }
    }
  }
}