.panel-pagetop, .navbar-default {
  font-family: 'Barlow Condensed', sans-serif;
  font-size: 12px;
  font-weight: 500;
  @include respond-above(md) {
    .container {
      margin: 0;
      width: 100%;
    }  
  }
}

.panel-pagetop {
  color: $red;
  margin: 0;
  a {
    color: $red;
    font-family: 'Archivo', sans-serif;
  }
  svg {
    margin-bottom: -1px;
    margin-left: 5px;
  }
  .panel-body {
    padding: 13px 0;
    vertical-align: middle;
  }
}

.navbar-default {
  background-color: $white;
  position: sticky;
  top: 0;
  z-index: 100;
  margin-bottom: 0;
  .navbar-brand {
    padding: 23px 0;
    height: auto;
    margin-left: 0 !important;
  }
  .navbar-text {
    float: left;
    font-size: 22px;
    color: $blue-dark;
    margin-top: 19px;
    margin-left: 9px;
    margin-right: 50px;
    @include respond-above(md) {
      margin-right: 105px;
    }
  }
  .navbar-collapse {
    padding-top: 18px;
  }
  .navbar-toggle {
    margin-top: 18px;
    border: none;
    .icon-bar {
      background: $black;
      height: 3px;
      width: 24px;
    }
  }
  @include respond-below(md) {
    .navbar-header {
      margin-left: 0;
    }
  }
  .navbar-nav>li {
    margin: 0 20px;
    &:last-child, &#login-button {
      margin-right: 0;
    }
    >a:not(.btn) {
      font-size: 18px;
      color: $blue-dark;
      text-transform: uppercase;
      padding: 8px 0;
    }
    >a:not(.btn):hover, &.active>a:not(.btn), &.active>a:not(.btn):hover {
      border-bottom: 2px solid $blue-dark;
      background: none;
      color: $blue-dark;
    }
    a.create-campaign-button {
      color: $red !important;
      border-color: $red !important;
      @include respond-below(sm) {
        margin-bottom: 30px;
      }
    }
    >a.dropdown-toggle {
      border: none !important;
    }
    &.dropdown.open {
      background: none;
      >a.dropdown-toggle {
        background: none;
        color: $blue-dark;
      }
    }
    .dropdown-menu {
      font-family: 'Archivo', sans-serif;
      border-radius: 2px;
      box-shadow: 4px 8px 12px 0 rgba(0, 0, 0, 0.2);
      border: solid 1px $tan;
      background-color: $white;
      padding: 0;
      min-width: auto;
      a {
        font-size: 16px;
        line-height: 37px;
        &:hover {
          background: $tan;
        }
        svg {
          margin-right: 8px;
          vertical-align: text-bottom;
        }
      }
    }
  }
}

.jumbotron {
  height: 163px;
  margin: 0;
  padding: 0;
  border-radius: 0;
  background-color: rgb(237,239,242);
  background-image:
  radial-gradient(rgb(171,173,176) 0.63px, transparent 1.26px),
  radial-gradient(rgb(171,173,176) 0.63px, transparent 1.26px);
  background-size: 4.725px 4.725px;
  background-position: 0 0, 2.3625px 2.3625px;
  font-family: 'Barlow Condensed', sans-serif;
  .container {
    position: relative;
    height: 100%;
  }
  h1 {
    padding: 10px 22px 10px 20px;
    margin: 0;
    background: $red;
    color: $white;
    text-transform: uppercase;
    display: inline;
    position: absolute;
    bottom: 0;
    font-weight: bold;
    font-size: 64px;
    line-height: 72px;
  }
}