.panel-pagetop, .navbar-default {
  font-family: 'Barlow Condensed', sans-serif;
  font-size: 12px;
  font-weight: 500;
}

.panel-pagetop {
  color: $red;
  margin: 0;
  a {
    color: $red;
    font-family: 'Archivo', sans-serif;
  }
  svg {
    margin-bottom: -1px;
    margin-left: 5px;
  }
  .panel-body {
    padding: 13px 16px;
    vertical-align: middle;
  }
}

.navbar-default {
  background-color: $white;
  padding: 5px;
}

.navbar-brand {
  color: #5c5c5c !important;
  font-weight: 900;
}

.navbar-nav a {
  font-size: 11pt;
  color: #888080 !important;
  font-weight: 100 !important;
}

.navbar-nav a:hover {
  border-bottom: 2px solid #5e5e5e;
  padding-bottom: 12px;
}

.navbar-top-links {
  margin-right: 0;
}

.navbar-top-links li {
  display: inline-block;
}

.navbar-top-links li:last-child {
  margin-right: 15px;
}

.navbar-top-links li a {
  padding: 15px;
  min-height: 50px;
}

.navbar-top-links .dropdown-menu li {
  display: block;
}

.navbar-top-links .dropdown-menu li:last-child {
  margin-right: 0;
}

.navbar-top-links .dropdown-menu li a {
  padding: 3px 20px;
  min-height: 0;
}

.navbar-top-links .dropdown-menu li a div {
  white-space: normal;
}

.navbar-top-links .dropdown-messages, .navbar-top-links .dropdown-tasks, .navbar-top-links .dropdown-alerts {
  width: 310px;
  min-width: 0;
}

.navbar-top-links .dropdown-messages {
  margin-left: 5px;
}

.navbar-top-links .dropdown-tasks {
  margin-left: -59px;
}

.navbar-top-links .dropdown-alerts {
  margin-left: -123px;
}

.navbar-top-links .dropdown-user {
  left: auto;
}

.nav.navbar-nav {
  margin-left: 30px;
}

@media (min-width: 768px) {
  .navbar-top-links .dropdown-messages, .navbar-top-links .dropdown-tasks, .navbar-top-links .dropdown-alerts {
    margin-left: auto;
  }
}