@import "/static/libs/bootstrap/css/bootstrap.min.css";
@import "/static/libs/metisMenu/metisMenu.min.css";
@import "/static/libs/leaflet/css/leaflet.css";
@import "/static/libs/mapbox-gl/mapbox-gl.css";
@import "/static/css/datepicker.min.css";
@import "/static/css/leaflet-search/leaflet-search.css";

@import "/static/css/map-campaigner.css"; // Legacy CSS

@import "variables";
@import "media-queries";

// Styles for reusable components
@import "components/buttons";
@import "components/headings";
@import "components/progress";
@import "components/labels";
@import "components/details-list";
@import "components/panels";
@import "components/tables";
@import "components/status";
@import "components/complex"; // Styles made up of compound components

// Styles for template partial layouts
@import "templates/header";
@import "templates/project-header";
@import "templates/footer";

// Styles for page specific adjustments to layout and spacing
@import "pages/general";
@import "pages/home";
@import "pages/styleguide";
@import "pages/campaigns";

form {
  .help-block {
    display: none;
  }
  .has-error {
    .help-block {
      display: block;
    }
  }
}
#campaign-map-display {
  height: 600px;
  z-index: 1;
}
