<!-- Modal -->
<style>
    #yaml-format {
        display: none;
    }

    .modal-content {
        background-color: #f7f7f7 !important;
    }

    .modal-required-message, .modal-error-message {
        display: none;
        color: #ac3232;
    }

    #modal-form label {
        margin-bottom: 16px;
    }

    .custom-tag-row {
        width: 100%;
        margin-bottom: 10px;
        height: 36px;
    }

    .select-types:disabled {
        width: 90% !important;
        float: left;
    }

    .edit-custom-type {
        padding-left: 5px;
        float: left;
        padding-top: 4px;
    }

    .edit-custom-type i {
        font-size: 20px;
        cursor: pointer;
    }

    .custom-help-block {
        font-size: 9.4pt;
        padding-left: 20px;
    }

    .help {
        margin-top: 10px;
        margin-bottom: 10px;
        text-align: left;
    }

    .modal-footer .modal-required-message {
        text-align: center;
        margin-top: 10px;
    }

</style>
<div id="custom-types-tags" class="modal fade" role="dialog">
    <div id="easy-format" class="modal-dialog">
        <!-- Modal content-->
        <div class="modal-content">
            <div class="modal-header">
                <button type="button" class="close" data-dismiss="modal">&times;</button>
                <h4 class="modal-title">+ Add custom type</h4>
            </div>
            <div class="modal-body">
                <div id="modal-form">
                    <label>Type</label>
                    <div class="form-group">
                        <input id="custom_type_name" placeholder="Name" type="text" value="" class="form-control">
                        <div class="modal-required-message">This field is required</div>
                        <p class="help-block">
                            This is name of this type. For example : Educational Facilities.
                        </p>
                    </div>
                    <div class="form-group">
                        <input id="custom_type_feature" placeholder="Feature" type="text" value="" class="form-control">
                        <div class="modal-required-message">This field is required</div>
                        <ul class="custom-help-block">
                            <li>This is specific feature of data for this type. For example: building, amenity, etc.</li>
                            <li>To make it more specific, add pairing key=value in here. For example: building=school or building=school,university.</li>
                        </ul>
                    </div>
                    <br>
                    <label>Tags</label>
                    <div id="tag-requirement-message" class="modal-required-message">Tag is required at least 1.</div>
                    <div id="custom-tags" class="form-group">
                    </div>
                    <div class="form-group">
                        <input id="btn-add" class="form-control" type="button" value="+ Add tag" onclick="addNewCustomTags()">
                        <ul class="custom-help-block">
                            <li>Add new multiple tags for this type.</li>
                            <li>Tag is the attribute that checked on the feature. For example : name. This will check "name" attribute is exist or not in the feature.</li>
                            <li>For specific tag, add pairing key=value in here. For example: emergency=yes,no. This will check if 'yes' or 'no' is value for emergency attribute.</li>
                        </ul>
                    </div>
                </div>
            </div>
            <div class="modal-footer">
                <button type="button" class="btn btn-default btn-orange" onclick="switchToYamlFormat()">Switch to yaml format</button>
                <button type="button" id="btn-add-custom-type" class="btn btn-default btn-orange" onclick="saveCustomType()">Add</button>
                <button type="button" class="btn btn-default btn-orange" data-dismiss="modal">Close</button>
                <div class="modal-required-message">This name already registered, please choose other name.</div>
            </div>
        </div>
    </div>
    <div id="yaml-format" class="modal-dialog">
        <!-- Modal content-->
        <div class="modal-content">
            <div class="modal-header">
                <button type="button" class="close" data-dismiss="modal">&times;</button>
                <h4 class="modal-title">+ Add custom types in YAML</h4>
            </div>
            <div class="modal-body">
                <div id="modal-form">
                    <div class="form-group">
                        <textarea id="yaml-input" rows="10" placeholder="put yaml types in here" type="text" class="form-control">
type-1:
    feature: feature-1
    tags:
        - tag-1:
            - condition-1
            - condition-2
        - tag-2
        - tag-3
                        </textarea>
                        <div class="modal-required-message">This field is required</div>
                        <div class="modal-error-message"></div>
                        <p class="help-block">
                            Edit templates in yaml above.
                        </p>
                    </div>
                </div>
            </div>
            <div class="modal-footer">
                <button id="switch-to-easy-format" type="button" class="btn btn-default btn-orange" onclick="switchToEasyFormat()">Switch to easy format</button>
                <button type="button" id="btn-add-custom-type" class="btn btn-default btn-orange" onclick="saveYamlCustomType()">Add</button>
                <button type="button" class="btn btn-default btn-orange" data-dismiss="modal">Close</button>
                <div class="modal-required-message">Some names already registered, please choose other name.</div>
                <div class="help">
                    <b>GUIDE :</b>
                    <pre class="example">
restaurant:
    feature: amenity
    tags:
        - amenity:
            - restaurant
            - fast-food
        - name
        - cuisine
shop:
    feature: amenity
    tags:
        - amenity:
            - shop
        - name
        - opening_hours
                        </pre>
                    Put types in yaml format. The formats are:<br>
                    - Whitespace is sensitive. Each child element must be indented below its parent element.<br>
                    - The first parent, put <b>title</b> of custom type.<br>
                    - The second one 2 key, which are feature and tags.<br>
                    - <b>Feature</b> : This is specific feature of data for this type. For example: building, amenity, etc.<br>
                    - To make it more specific, add pairing key=value in here. For example: building=school or building=school,university.<br>
                    - <b>Tags</b> : The format is the list, put dash for every line.
                    - Tag is the attribute that checked on the feature. For example : name. This will check "name" attribute is exist or not in the feature.
                    - For specific tag, add new child for that tags (for example amenity). It will check attributes is restaurant or fast-food.
                    - Can put second type (or more) by creating new parent
                </div>
            </div>
        </div>
    </div>
</div>
<script type='text/template' id='_custom_new_tag'>
    <% if (!is_required) { %>
    <div class="custom-tag-row">
        <% }else{ %>
        <div class="custom-tag-row" id="required-custom-tag-row">
            <% } %>
            <div class="col-lg-10">
                <div class="form-group">
                    <% if (!is_required) { %>
                    <input placeholder="New tag" type="text" class="custom-tag-input form-control">
                    <% }else{ %>
                    <input placeholder="New tag" type="text" class="custom-tag-input form-control" disabled>
                    <% } %>
                    <div class="modal-required-message">This field is required</div>
                </div>
            </div>
            <% if (!is_required) { %>
            <div class="col-lg-2">
                <button class="btn btn-warning btn-sm btn-block" style="margin-top: 1px" type="button" onclick="removeCustomTags(this)"><i class="fa fa-minus"></i></button>
            </div>
            <% } %>
        </div>
</script>
<script>
    $("#custom_type_feature").keyup(function () {
        addNewCustomTags($(this).val(), true);
    });
    var rowElements = {};
    $('#custom-types-tags').on('show.bs.modal', function (e) {
        rowElements = null;
        var relatedTarget = e.relatedTarget;
        var type_selected = $(relatedTarget).closest('.form-group').find('select').val();
        modalReset();
        if (type_selected) {
            $('#yaml-input').val('');
            addingCustomTypeForm(type_selected, $(relatedTarget).closest('.row'))
            $('#custom-types-tags .modal-title').html('Edit custom type of ' + type_selected);
        } else {
            if ($(relatedTarget).data('format') == 'all-yaml') {
                $('#custom-types-tags .modal-title').html('Edit all custom types');
                $('#switch-to-easy-format').hide();
                switchToYamlFormat();
                $('#yaml-input').val('');
                $('.select-types:disabled').each(function (index, element) {
                    type_selected = $(element).val();
                    addingCustomTypeForm(type_selected, element);
                });
            }
        }
    });
    function addingCustomTypeForm(type_selected, element) {
        rowElements[type_selected] = element;
        var type = types[type_selected];
        {# init for easy format #}
        $('#custom_type_name').val(type_selected);
        $('#custom_type_feature').val(type['feature']);
        $("#custom_type_feature").trigger("keyup");
        $.each(type['tags'], function (key, value) {
            var tag_value = key.replace(': ', '=');
            if (value.length > 0) {
                tag_value += '=' + value.join();
            }
            if (type['feature'] != tag_value) {
                addNewCustomTags(tag_value)
            }
        });
        $('#easy-format #btn-add-custom-type').html('Save');
        $('#yaml-format #btn-add-custom-type').html('Save');

        {# init for yaml format #}
        var yamlType = $.extend({}, type);
        delete yamlType['insights'];
        delete yamlType['custom'];

        var tags = [];
        $.each(yamlType['tags'], function (key, value) {
            if (value.length == 0) {
                var keys = key.split(': ');
                if (keys[1]) {
                    var thisTag = {};
                    var thisTagKeys = keys[1].split(',');
                    $.each(thisTagKeys, function (index, value) {
                        thisTagKeys[index] = $.trim(value);
                    });
                    thisTag[keys[0]] = thisTagKeys;
                    tags.push(thisTag);
                } else {
                    tags.push(key);
                }
            } else {
                var thisTag = {};
                thisTag[key] = value;
                tags.push(thisTag);
            }
        });
        yamlType['tags'] = tags;
        var cleanYamlType = {};
        cleanYamlType[type_selected] = yamlType;
        $('#yaml-input').val(
            $('#yaml-input').val() + jsyaml.dump(cleanYamlType)
        );
    }
    function switchToYamlFormat() {
        $('#yaml-format').show();
        $('#easy-format').hide();
    }
    function switchToEasyFormat() {
        $('#yaml-format').hide();
        $('#easy-format').show();
    }
    function addCustomType(typeData) {
        types[typeData['type']] = {
            feature: typeData['feature'],
            insights: [
                "FeatureAttributeCompleteness",
                "CountFeature",
                "MapperEngagement"
            ],
            tags: typeData['tags'],
            custom: true
        };
    }
    function modalReset() {
        rowElements = {};
        $('#custom-types-tags .modal-title').html('+ Add custom type');
        $('#btn-add-custom-type').html('Add');
        $('#custom_type_name').val('');
        $('#custom_type_feature').val('');
        $('#custom-tags').html('');
        $('.modal-required-message').hide()
        $('#yaml-input').val($('#yaml-input').html());
        $('#switch-to-easy-format').show();
    }
    function addNewCustomTags(value, is_required) {
        if (!is_required || $('#required-custom-tag-row').length == 0) {
            var template = _.template($("#_custom_new_tag").html());
            var html = template({
                is_required: is_required
            });
            $('#custom-tags').append(html);
            if (value) {
                $('#custom-tags').children().last().find('input').val(value);
            }
        }
        if (is_required) {
            $('#required-custom-tag-row').find('input').val(value);
        }
    }
    function removeCustomTags(element) {
        $(element).closest('.custom-tag-row').remove();
    }
    function showCustomTypeRequiredMessage(element) {
        $(element).closest('.form-group').find('.modal-required-message').show();
    }
    function customTypeToTypeFormat() {
        var type_json = {
            feature: $('#custom_type_feature').val(),
            insights: [
                "FeatureAttributeCompleteness",
                "CountFeature",
                "MapperEngagement"
            ],
            tags: {},
            custom: true
        };
        $('.custom-tag-input').each(function (i, tag) {
            var vals = $(tag).val().split('=');
            var key = vals[0];
            if (vals[1]) {
                type_json['tags'][key] = vals[1].split(',');
            } else {
                type_json['tags'][key] = [];
            }
        });
        return {
            custom_type_name: $('#custom_type_name').val(),
            custom_type_value: type_json

        };
    }
    function saveCustomType() {
        $('.modal-required-message').hide();

        {# check name #}
        var $name = $('#custom_type_name');
        if (!$name.val()) {
            showCustomTypeRequiredMessage($name);
        }
        {# check feature #}
        var $feature = $('#custom_type_feature');
        if (!$feature.val()) {
            showCustomTypeRequiredMessage($feature);
        }
        {# check tags #}
        if ($('.custom-tag-input').length === 0) {
            $('#tag-requirement-message').show();
        }
        $('.custom-tag-input').each(function (i, tag) {
            if (!$(tag).val()) {
                showCustomTypeRequiredMessage(tag);
            }
        });
        {# save if there is no error #}
        if ($('.modal-required-message:visible').length === 0) {
            var customType = customTypeToTypeFormat();
            var name = customType['custom_type_name'];
            var value = customType['custom_type_value'];
            if (!rowElements[name] && types[name]) {
                $('.modal-footer .modal-required-message').show();
            } else {
                $(rowElements[name]).remove();
                $('#custom-types-tags').modal('toggle');
                types[name] = value;
                addTypes(name)
            }
        }
    }

    function saveYamlCustomType() {
        $('.modal-required-message,.modal-error-message').hide();
        try {
            var data = jsyaml.load($('#yaml-input').val());
            {# check value #}
            var correctFormat = true;
            $.each(data, function (key, value) {
                if (!value['feature'] || !value['tags']) {
                    $('.modal-error-message').show();
                    $('.modal-error-message').html('No feature or tags as child of ' + key);
                    correctFormat = false;
                }
                if (!rowElements[key] && types[key]) {
                    $('.modal-footer .modal-required-message').show();
                    correctFormat = false;
                }
                var cleanTags = {};
                if (value['tags'] && value['feature']) {
                    $.each(value['tags'], function (index, value) {
                        if (jQuery.type(value) === 'string') {
                            cleanTags[value] = []
                        } else {
                            var firstKey = Object.keys(value)[0];
                            cleanTags[firstKey] = value[firstKey];
                        }
                    });
                    {# tags for features #}
                    var features = value['feature'].split('=');
                    cleanTags[features[0]] = [];
                    if (features[1]) {
                        cleanTags[features[0]] = features[1].split(',');
                    }
                }
                value['custom'] = true;
                value['insights'] = [
                    "FeatureAttributeCompleteness",
                    "CountFeature",
                    "MapperEngagement"
                ];
                value['tags'] = cleanTags;
            });
            if (correctFormat) {
                $.each(data, function (key, value) {
                    $(rowElements[key]).closest('.row').remove();
                    types[key] = value;
                    addTypes(key);
                });
                $('#custom-types-tags').modal('toggle');
            }
        } catch (error) {
            $('.modal-error-message').show();
            $('.modal-error-message').html(error.message);
        }
    }
</script>