<style>
  #yaml-format {
    display: none;
  }
  .modal-content {
    background-color: #f7f7f7 !important;
  }
  .modal-required-message,
  .modal-error-message {
    display: none;
    color: #ac3232;
  }
  .select-types {
    width: 70% !important;
    float: left;
  }
  .help {
    margin-top: 10px;
    margin-bottom: 10px;
    text-align: left;
  }
  .modal-footer .modal-required-message {
    text-align: center;
    margin-top: 10px;
  }
  #custom-types-tags ul li a {
    color: black;
  }
  #custom-types-tags ul li.disabled {
    display: none;
  }
</style>

<div id="custom-types-tags" class="modal fade" role="dialog">
  <div class="modal-dialog modal-xl">
    <div class="modal-content">
      <div class="modal-header">
        <button type="button" class="close" data-dismiss="modal">&times;</button>
        <h2 class="modal-title">Add a Feature</h2>
        <br />
        <p>Choose one of the following methods to add a feature and attributes.</p>
        <ul class="nav nav-tabs">
          <li id="li-template" class="active"><a data-toggle="tab" href="#modal-template">Templates</a></li>
          <li id="li-custom"><a data-toggle="tab" href="#modal-custom">Custom Form</a></li>
          <li id="li-yaml"><a data-toggle="tab" href="#modal-yaml">YAML Editor</a></li>
        </ul>
      </div>
      <div class="modal-body">
        <div class="tab-content">
          <div id="modal-template" class="tab-pane fade in active">
            <div class="container-fluid">
              {% for feature in feature_templates %}
                {% include 'components/feature_tile.html' %}
              {% endfor %}
            </div>
          </div>
          <div id="modal-custom" class="tab-pane fade">
            {% include 'modals/modal_form.html' %}
          </div>
          <div id="modal-yaml" class="tab-pane fade">
            <p><b>Note:</b> In the YAML editor, you can add more than one feature type at a time.</p>
            {% include 'modals/modal_yaml.html' %}
          </div>
        </div>
      </div>
    </div>
  </div>
</div>

<script>
  var rowElements = {};
  $('#custom-types-tags').on('show.bs.modal', function (e) {
    rowElements = null;
    var relatedTarget = e.relatedTarget;
    var type_selected = $(relatedTarget).closest('.form-group').find('select').val();
    modalReset();
    if (type_selected) {
      $('#yaml-input').val('');
      addingCustomTypeForm(type_selected, $(relatedTarget).closest('.row'))
      $('#custom-types-tags .modal-title').html('Edit custom type of ' + type_selected);
    }
  });
</script>