<div class="container-fluid">
  <div class="row">
  <div class="col-sm-6">
      <h4>Editor</h4>
      <textarea id="yaml-input" rows="18" placeholder='"All Restaurants":
  feature: amenity=restaurant
  tags:
    - name
    - cuisine
    - opening_hours
  element_type: Point
"Local Shops":
  feature: shop
  tags:
    - name
    - opening_hours
    - shop:
      - art
      - bakery
      - bicycle
  element_type: Polygon' type="text" class="form-control"></textarea>
      <div class="modal-required-message">This field is required</div>
      <div class="modal-required-message">Some names are already registered, please choose different names.</div>
      <div class="modal-error-message"></div>
      <p class="help-block">
        <h4>Notes</h4>
        - YAML is white-space sensitive. Follow the indentation of the example exactly.<br>
        - Values that contain spaces should be wrapped in double quotes, e.g. <code>"My Custom Feature Name"</code>.<br>
        - The top-level parent is the <code>title</code> of the custom feature type.<br>
        - The second-level should have two keys: <code>feature</code> and <code>tags</code>.<br>
        - You can add more than one feature type at a time in the YAML editor.
      </p>
    </div>
  <div class="col-sm-6">
    <div class="help">
        <h4>Example</h4>
        <pre class="example">
"All Restaurants":
  feature: amenity=restaurant
  tags:
    - name
    - cuisine
    - opening_hours
  element_type: Point
"Local Shops":
  feature: shop
  tags:
    - name
    - opening_hours
    - shop:
      - art
      - bakery
      - bicycle
  element_type: Polygon
        </pre>
        <p class="help-block">
        <h4>&nbsp;</h4>
        - <code>feature</code>: The <a href="https://wiki.openstreetmap.org/wiki/Map_Features">OpenStreetMap feature</a> you want to track. For example: <code>building</code>, <code>amenity</code>, <code>building=school</code> or <code>building=school,university</code>.<br>
        - <code>tags</code> : This is a list of <a href="https://wiki.openstreetmap.org/wiki/Category:Key_descriptions">OpenStreetMap keys</a> you want to track. Start every item with a dash (i.e. <code>-</code>). For example: <code>name</code>, <code>operator</code>, <code>opening_hours</code>.
        - <code>element_type</code>: Can be <code>Point</code>, <code>Line</code>, or <code>Polygon</code>.
        </p>
      </div>
  </div>
</div>


<div class="form-footer">
  <div class="pull-right">
    <button type="button" class="btn btn-default" data-dismiss="modal">Cancel</button>
    <button type="button" id="btn-add-custom-type" class="btn btn-primary" onclick="saveYamlCustomType()">Add</button>
  </div>
</div>
</div>

