<br>
<div>
    <div>
        <div id="modal-form">
            <label>Type</label>
            <div class="form-group">
                <input id="custom_type_name" placeholder="Name" type="text" value="" class="form-control">
                <div class="modal-required-message">This field is required</div>
                <p class="help-block">
                    This is name of this type. For example : Educational Facilities.
                </p>
            </div>
            <div class="form-group">
                <input id="custom_type_feature" placeholder="Feature" type="text" value="" class="form-control">
                <div class="modal-required-message">This field is required</div>
                <ul class="custom-help-block">
                    <li>This is specific feature of data for this type. For example: building, amenity, etc.</li>
                    <li>To make it more specific, add pairing key=value in here. For example: building=school or building=school,university.</li>
                </ul>
            </div>
            <br>
            <label>Geometry Type</label>
            <div class="form-group">
                <select id="custom_type_element_type" class="form-control">
                    <option name=""></option>
                    <option name="Point">Point</option>
                    <option name="Line">Line</option>
                    <option name="Polygon">Polygon</option>
                </select>
                <ul class="custom-help-block">
                    <li>
                        Geometry type defines the OSM elements you want to be included in your campaign.
                    </li>
                    <li>
                        If no Geometry type is selected, then it will fetch Point, Line and Polygon type elements from OSM.
                    </li>
                    <li>
                        Relations are not included.
                    </li>
                </ul>
            </div>
            <br />
            <label>Tags</label>
            <div id="tag-requirement-message" class="modal-required-message">Tag is required at least 1.</div>
            <div id="custom-tags" class="form-group">
            </div>
            <div class="form-group">
                <input id="btn-add" class="form-control" type="button" value="+ Add tag" onclick="addNewCustomTags()">
                <ul class="custom-help-block">
                    <li>Add new multiple tags for this type.</li>
                    <li>Tag is the attribute that checked on the feature. For example : name. This will check "name" attribute is exist or not in the feature.</li>
                    <li>For specific tag, add pairing key=value in here. For example: emergency=yes,no. This will check if 'yes' or 'no' is value for emergency attribute.</li>
                </ul>
            </div>
        </div>
    </div>
    <div class="row">
        <div class="pull-right">
            <button type="button" id="btn-add-custom-type" class="btn btn-default btn-orange" onclick="saveCustomType()">Add</button>
            <button type="button" class="btn btn-default btn-orange" data-dismiss="modal">Close</button>
        </div>
    <div class="modal-required-message">This name already registered, please choose other name.</div>

    </div>
</div>