<form>
  <div class="container-fluid">
    <div id="modal-form" class="row">
      <div class="col-md-6">
        <div class="form-group">
          <label>Feature Name <span class="required">*</span></label>
          <input id="custom_type_name" required placeholder='Feature name, e.g. "Educational Facilities"' type="text" value="" class="form-control">
          <p class="help-block">A feature name is required.</p>
        </div>
        <div class="form-group">
          <label>Feature <span class="required">*</span></label>
          <input id="custom_type_feature" required placeholder='OpenStreetMap feature, e.g. "building=school"' type="text" value="" class="form-control">
          <p class="help-block">This field is required.</p>
          <p class="help-block help-block-visible">Enter the name of an <a href="https://wiki.openstreetmap.org/wiki/Map_Features">OpenStreetMap feature</a> you want to track.</p>
        </div>
        <label>Geometry Type <span class="required">*</span></label>
        <div class="form-group">
          <select id="custom_type_element_type" required class="form-control">
            <option name=""></option>
            <option name="Point">Point</option>
            <option name="Line">Line</option>
            <option name="Polygon">Polygon</option>
          </select>
        </div>
      </div>
      <div class="col-md-6">
        <label>Tags <span class="required">*</span></label>
        <div id="tag-requirement-message" class="modal-required-message">At least 1 tag is required.</div>
        <div id="custom-tags"></div>
        <div class="form-group">
          <input class="btn btn-primary pull-right" type="button" value="Add tag" onclick="addNewCustomTags()">
          <p class="help-block help-block-visible">Add the <a href="https://wiki.openstreetmap.org/wiki/Category:Key_descriptions">OpenStreetMap keys</a> you want to track.</p>
        </div>
      </div>
    </div>
  </div>
  <div class="form-footer">
    <div class="pull-right">
      <button type="button" class="btn btn-default" data-dismiss="modal">Cancel</button>
      <button type="button" id="btn-add-custom-type" class="btn btn-primary" onclick="saveCustomType()">Save</button>
    </div>
  </div>
</form>
<script type='text/template' id='_custom_new_tag'>
  <% if (!is_required) { %>
    <div class="custom-tag-row row">
  <% }else{ %>
    <div class="custom-tag-row row" id="required-custom-tag-row">
  <% } %>
  <% if (is_first) { %>
  <div class="col-xs-12">
    <% }else{ %>
  <div class="col-xs-9">
    <% } %>
    <div class="form-group">
      <% if (!is_required) { %>
        <input placeholder='Tag name, e.g. "after_school=yes"' type="text" class="custom-tag-input form-control">
      <% }else{ %>
        <input placeholder='Tag name, e.g. "after_school=yes"' type="text" class="custom-tag-input form-control" disabled>
      <% } %>
      <div class="modal-required-message">This field is required</div>
    </div>
  </div>
  <% if (!is_required) { %>
    <% if (!is_first) { %>
      <div class="col-xs-3">
        <button class="btn btn-primary btn-sm pull-right" type="button" onclick="removeCustomTags(this)">Remove</button>
      </div>
        <% } %>
  <% } %>
  </div>
</script>