.team-members, .team-member-activity, .contribution{
	width: 90%;
	height: 225px;
	background: #e3e3e3;
	margin-top: 10px;
}

.completeness, .graph, .feature-collected{
	background: #e3e3e3;
	height: 100%;
	width: 285px;
}

.area-info, .chat{
	width: 100%;
}

.area-info{
	margin-top: 10px;
	height: 225px;
	display: inline-flex;
	justify-content: space-between;
}

.team-member-chat{
	margin-top: 50px;
	display: inline-flex;
	justify-content: space-between;
}

.team-members-name, .member{
	height: 600px;
}

.member-name{
	display: flex;
	justify-content: space-between;
	padding-bottom: 10px;
}

.member-image{
	height: 30px;
	width: 30px;
	border-radius: 50%;
	background: #e3e3e3;
}

.member-info{
	display: flex;
	width: 15%;
	justify-content: space-between;
	align-items: center;
}
.team-members-name h3{
	margin-bottom: 70px;
}

.member-osm-info{
	width: 93%;
	height: 100px;
	background: #FEAD47;
	z-index: 2;
	position: absolute;
	border-radius: 2px 2px 0px 0px;
}

.osm-user-image{
	height: 80px;
	width: 80px;
	border-radius: 50%;
	background: white;
	margin-left: 2%;
}

.chat
{
    list-style: none;
    height: 325px;
    margin: 0;
    padding: 0;
}

.chat li
{
    margin-bottom: 10px;
    padding-bottom: 5px;
    border-bottom: 1px dotted #B3A9A9;
}

.chat li.left .chat-body
{
    margin-left: 60px;
}

.chat li.right .chat-body
{
    margin-right: 60px;
}


.chat li .chat-body p
{
    margin: 0;
}

.panel .slidedown .glyphicon, .chat .glyphicon
{
    margin-right: 5px;
}

.panel-member-chat{
	height: 400px;
}

.panel-body-chat
{
	margin-top: 110px;
    overflow-y: scroll;
}

::-webkit-scrollbar-track
{
    -webkit-box-shadow: inset 0 0 6px rgba(0,0,0,0.3);
    background-color: #F5F5F5;
}

::-webkit-scrollbar
{
    width: 12px;
    background-color: #F5F5F5;
}

::-webkit-scrollbar-thumb
{
    -webkit-box-shadow: inset 0 0 6px rgba(0,0,0,.3);
    background-color: #555;
}

/* reminder modal css */
.overlay{
	z-index: 9999;
	height: 100vh;
	width: 100vw;
	position: fixed;
	top:0px;
	left: 0px;
	background: black;
	opacity: 0.6;
	display: none;
}

.reminder-popup{
	position: fixed;
	top:150px;
	left:30%;
	z-index: 10000;
	display: none;
}

#modal-form label {
    margin-bottom: 16px;
}
