.detail-campaign-name {
    font-weight: bold;
}

.detail-tag {
    color: white;
    font-weight: lighter;
    background: #4ea5b2;
    border-radius: 3px 0 0 3px;
    display: inline-block;
    height: 26px;
    line-height: 26px;
    padding: 0 20px 0 15px;
    position: relative;
    margin: 0 10px 10px 0;
    text-decoration: none;
    -webkit-transition: color 0.2s;
}

.detail-tag::after {
    background: #f7f7f7;
    border-bottom: 13px solid transparent;
    border-left: 10px solid #4ea5b2;
    border-top: 13px solid transparent;
    content: '';
    position: absolute;
    right: 0;
    top: 0;
}

.detail-panel-information, .detail-panel-insights {
    border-radius: 10px !important;
}

.detail-panel-insights>.panel-heading {
    background: none;
    text-align: center;
    font-size: 13pt;
}

.advance-insights {
    display: none;
}

.advance-insights .panel-body {
    min-height: 100px;
    width: 100%;
}

.detail-campaign-status {
    font-size: 12pt;
}

.detail-campaign-timeline {
    padding-top: 15px;
    font-weight: lighter;
    font-size: 11pt;
}

.detail-creator-info a {
    color: #46828f;
}

.detail-campaign-status i {
    margin-right: 5px;
}

.detail-progress {
    padding-top: 40px;
}

.progress {
    border-radius: 10px;
    background-color: #ebebeb;
}

.progress-bar {
    border-radius: 10px;
    background-color: #77a1aa;
}

.running {
    color: #46828f;
}

.finished {
    color: #ac3232;
}

.detail-creator-info {
    font-size: 11pt;
}

.insight-function-panel {
    margin-top: 20px;
}

.insight-function-panel a {
    color: #46828f;
}

.btn-manage {
    background-color: #ac3232;
    display: none;
    border: 0;
    font-weight: bold;
    border-radius: 15px;
    font-size: 13pt;
    padding-left: 50px !important;
    padding-right: 50px !important;
}

.btn-share {
    background-color: #00aced;
    border: 0;
    font-size: 8pt;
    border-radius: 3px;
    padding-top: 3px !important;
    padding-bottom: 3px !important;
    margin-right: 10px;
    margin-top:10px;
}


@media (max-width: 450px) {
    .btn-share-group .btn {
        font-size: 11px !important;
    }
}

.button-manage {
    padding-top: 30px;
    text-align: center;
}

.fb-share-button {
    margin-top:10px;
}

.btn-share-fb {
    background-color: #4267b2;
}

.btn-share-fb:hover {
    background-color: #365899 !important;
}

.btn-share:hover {
    background-color: #0084b4;
}

.btn-manage:hover {
    background-color: #992c2c;
}

.btn-manage:active {
    background-color: #832424 !important;
}

.insight-content {
    min-height: 70px;
}

.insight-content .footer, .advance-insights .footer {
    color: #898989;
    padding: 20px;
    font-style: italic;
    font-size: 12px;
    text-align: center;
}

.hide {
    display: none;
}

.show {
    display: inline !important;
}

.leaflet-top.leaflet-right input {
    background-color: white;
    border: 1px solid gray;
    width: 120px;
    height: 27px;
    font-size: 10pt;
    font-weight: 600;
    color: black;
}

.leaflet-top.leaflet-right input:hover {
    background-color: #f4f4f4 !important;
}

.added-project {
    margin-top: 20px;
    padding-left: 20px;
    padding-right: 20px;
}

.project-detail-desc {
    font-size: 9pt;
    color: #565656 !important;
}

.project-detail-name {
    font-weight: bolder;
    color: #46828f !important;
}
.project-detail-name:hover{
    cursor: pointer;
}

.insight-type-sub-content {
    padding: 20px;
}

#campaign-map-detail {
    height: 500px;
    margin-top: 4px;
    margin-left: -15px;
}

.map-side-panel {
    background-color: #eae8e8;
    margin-top: 4px;
    height: 500px;
}

.map-side-list {
    border-bottom: 1px solid #cdcdcd;
}

.map-side-list-name {
    padding-top: 15px;
    padding-bottom: 15px;
    font-size: 17px;
    font-weight: bold;
    color: #565656;
}

.map-side-list-number {
    padding-top: 15px;
    padding-bottom: 15px;
    font-size: 17px;
    font-weight: bold;
    color: #739da6;
}

.map-side-list-action {
    border-left: 1px solid #cdcdcd;
    font-size: 12pt;
    text-align: center;
    height: 55px;
}

.side-action {
    margin-top: 15px;
}

.side-panel-wrapper {
    padding-left: 20px;
}

@media (max-width: 1215px) {

    .side-panel-wrapper {
        padding-right: 20px;
    }

    .map-side-list-action {
        display: none;
    }

    .map-side-panel {
        height: 100% !important;
    }

    #campaign-map-detail {
        margin-right: -15px !important;
    }
}