.detail-campaign-name {
    font-weight: bold;
}

.detail-tag {
    color: white;
    font-weight: lighter;
    background: #4ea5b2;
    border-radius: 3px 0 0 3px;
    display: inline-block;
    height: 26px;
    line-height: 26px;
    padding: 0 20px 0 15px;
    position: relative;
    margin: 0 10px 10px 0;
    text-decoration: none;
    -webkit-transition: color 0.2s;
}

.detail-tag::after {
    background: #f7f7f7;
    border-bottom: 13px solid transparent;
    border-left: 10px solid #4ea5b2;
    border-top: 13px solid transparent;
    content: '';
    position: absolute;
    right: 0;
    top: 0;
}

.detail-panel-information, .detail-panel-insights {
    border-radius: 10px !important;
}

.detail-panel-insights>.panel-heading {
    background: none;
    text-align: left;
    font-size: 14pt;
    color: #565656;
    padding: 20px;
    font-weight: bold;
}

.advance-insights {
    display: none;
}

.advance-insights .panel-body {
    min-height: 100px;
    width: 100%;
}

.detail-campaign-status {
    font-size: 12pt;
}

.detail-campaign-timeline {
    padding-top: 15px;
    font-weight: lighter;
    font-size: 11pt;
}

.detail-creator-info a {
    color: #46828f;
}

.detail-campaign-status i {
    margin-right: 5px;
}

.detail-progress {
    padding-top: 40px;
}

.progress {
    border-radius: 10px;
    background-color: #ebebeb;
}

.progress-bar {
    border-radius: 10px;
    background-color: #77a1aa;
}

.running {
    color: #46828f;
}

.finished {
    color: #ac3232;
}

.detail-creator-info {
    font-size: 11pt;
}

.insight-function-panel {
    margin-top: 20px;
}

.insight-function-panel a {
    color: #46828f;
}

.btn-manage {
    background-color: #ac3232;
    display: none;
    border: 0;
    font-weight: bold;
    border-radius: 15px;
    font-size: 13pt;
    padding-left: 50px !important;
    padding-right: 50px !important;
}

.btn-share {
    background-color: #00aced;
    border: 0;
    font-size: 8pt;
    border-radius: 3px;
    padding-top: 3px !important;
    padding-bottom: 3px !important;
    margin-right: 10px;
    margin-top:10px;
}

.btn-share-group .btn{
    border-radius: 0 !important;
}

@media (max-width: 450px) {
    .btn-share-group .btn {
        font-size: 11px !important;
    }
    .tab-content>.tab-pane {
        display: block !important;
    }
}

.button-manage {
    padding-top: 30px;
    text-align: center;
}

.fb-share-button {
    margin-top:10px;
}

.btn-share-fb {
    background-color: #4267b2;
}

.btn-share-fb:hover {
    background-color: #365899 !important;
}

.btn-share:hover {
    background-color: #0084b4;
}

.btn-manage:hover {
    background-color: #992c2c;
}

.btn-manage:active {
    background-color: #832424 !important;
}

.insight-content {
    min-height: 70px;
}

.insight-content .footer, .advance-insights .footer {
    color: #898989;
    padding: 20px;
    font-style: italic;
    font-size: 12px;
    text-align: center;
}

.hide {
    display: none;
}

.show {
    display: inline !important;
}

.leaflet-top.leaflet-right input {
    background-color: white;
    border: 1px solid gray;
    width: 120px;
    height: 27px;
    font-size: 10pt;
    font-weight: 600;
    color: black;
}

.leaflet-top.leaflet-right input:hover {
    background-color: #f4f4f4 !important;
}

.added-project {
    margin-top: 20px;
    padding-left: 20px;
    padding-right: 20px;
}

.project-detail-desc {
    font-size: 9pt;
    color: #565656 !important;
}

.project-detail-name {
    font-weight: bolder;
    color: #46828f !important;
}
.project-detail-name:hover{
    cursor: pointer;
}

#campaign-map-detail {
    height: 500px;
    margin-top: 4px;
    margin-left: -15px;
}

.map-side-panel {
    background-color: #eae8e8;
    margin-top: 4px;
    height: 500px;
    border: 1px solid #cdcdcd;
    overflow-y: scroll;
    overflow-x: hidden;
}

.map-side-list {
    border-bottom: 1px solid #cdcdcd;
}

.map-side-panel {
    padding-left: 0 !important;
    padding-right: 0 !important;
}

.map-side-panel .row {
    padding-left: 10px;
    padding-right: 15px;
}

.map-side-list-name {
    padding-top: 15px;
    padding-bottom: 15px;
    font-size: 17px;
    font-weight: bold;
    color: #565656;
}

.map-side-list-number {
    padding-top: 15px;
    padding-bottom: 15px;
    font-size: 17px;
    font-weight: bold;
    color: #739da6;
}

.map-side-list-action {
    border-left: 1px solid #cdcdcd;
    font-size: 12pt;
    text-align: center;
    height: 55px;
}

.side-action {
    margin-top: 15px;
}

.side-panel-wrapper {
    padding-left: 20px;
}

.side-action {
    color: #949494;
}

.side-action.active {
    color: #565656;
}

.map-side-type {
    background-color: white;
}

.type-title {
    height: 60px;
    font-size: 20pt;
    margin-top: -10px;
    color: #565656;
    font-weight: bold;
    border-bottom: 1px solid #e5e5e5;
    padding-left: 20px;
    padding-top: 10px;
}

@media (max-width: 1215px) {

    .side-panel-wrapper {
        padding-right: 20px;
    }

    .side-panel-progress {
        margin-bottom: 10px !important;
    }

    .update-status {
        display: none;
    }

    .map-side-list-action {
        display: none;
    }

    .map-side-panel {
        height: 100% !important;
    }

    #campaign-map-detail {
        margin-right: -15px !important;
    }


    .insight-type-content .col-lg-4 {
        height: 100% !important;
    }

    .type-title {
        padding-top: 15px;
        border-top: 1px solid #e5e5e5;
        font-size: 15pt;
        margin-bottom: 10px;
    }

    .type-insight-text {
        font-size: 30pt !important;
        padding-bottom: 40px !important;
        padding-top: 20px !important;
    }

}

div.side-action a{
    color: #828282;
}

div.side-action a:hover{
    color: #3a3a3a;
}

div.side-action .fa-eye:hover, .fa-map-pin:hover {
    cursor:pointer;
}

.side-panel-progress {
    height: 12px !important;
    margin-top: 8px;
    margin-bottom: -10px;
}

.summary {
    color: #5f5f5f;
}

.summary-content {
    margin-top: 25px;
}

.summary .pull-right {
    font-size: 12pt;
    color: #739da6;
    font-weight: bold;
}

.multiple-row .col-lg-10{
    padding-top: 8px;
}

.single-row .col-lg-10 {
    padding-top: 8px;
    height: 40px;
}

.single-row .map-side-list-action {
    height: 40px !important;
}

.insight-summaries {
    display: none;
}

.insight-title {
    text-align: center;
    font-size: 15pt;
    font-weight: bold;
}

.chart-legends {
    font-size: 8pt;
}

.chart-legends li {
    padding-bottom: 8px;
}

.chart-legends ul {
    list-style-type: none;
}

#remote-projects-summaries .fa-eye:hover {
    cursor: pointer;
}

.no-data {
    color: #a60300;
    padding-left: 20px;
    height: 200px;
}

#remote-projects-summaries .fa-eye {
    color: #949494;
}

#remote-projects-summaries .active {
    color: #565656;
}

#feature-completeness-error-table {
    font-size: 10pt;
}

#total-feature-completeness-errors, .total-osmcha-errors {
    font-size: 40pt;
    font-weight: bold;
    color: #a5352e;
    padding-bottom: 20px;
}

.row.insight-type-content, .row.insight-type-sub-content {
    margin-bottom: -15px !important;
}

.insight-type-content .col-lg-4 {
    height: 380px;
}

.type-1, .type-2 {
    border-right: 1px solid #e5e5e5;
}

.advance-insight-title {
    font-size: 15pt;
    font-weight: bold;
    margin-bottom: 20px;
}

.overview-container {
    height: 300px;
    overflow:auto;
    padding-left: 10px;
    padding-right: 10px;
    border:1px solid #ddd;
}

#mapper-engagement-frequency-wrapper {
    padding: 20px;
}

#contribution-amount {
    padding: 8px;
}

#user-engagement-wrapper {
    display: none;
}

#user-engagement-wrapper {
    height: 350px;
}

#user-engagement-wrapper .col-lg-4 {
    height: 385px;
    padding-top: 20px;
    padding-bottom: 20px;
}

.user-engagement-loading {
    text-align: center;
    padding-top: 20px;
}

.type-insight-text {
    color: #77a1aa;
    font-size: 60pt;
    font-weight: bolder;
    text-align: center;
    margin-bottom: 20px;
    padding-top: 80px;
}

.update-status {
    margin-top: 10px;
    margin-right: 20px;
    font-size:10pt;
    font-style: italic;
    font-weight: lighter;
}

.update-status-information {
    display: none;
}

.total-features {
    display: none;
}

.see-detail {
    width: 100%;
    text-align: center;
    cursor: pointer;
    margin: 10px;
    padding-top: 20px;
}

.progress-bar-indicator {
    color: #77a1aa;
    font-size: 30pt;
    font-weight: bolder;
    text-align: center;
    margin-bottom: 20px;
    padding-top: 20px;
}

.progress-bar-wrapper {
    background-color: #EBEBEB;
    border-radius: 50px;
    height: 10px;
}

.progress-bar-wrapper .progress-bar {
    height: 10px;
    background-color: #77a1aa;
    border-radius: 50px;
}

.feature-list-table {
    font-size: 10pt;
}

.completness {
    padding-top: 40px;
}

.completness .feature-list-table {
    display: none;
}

.feature-list-table .error-indicator {
    background-color: #77a1aa;
    color: white;
}

.feature-list-table .clean-indicator {
    background-color: green;
    color: white;
}

td {
    padding-top: 3px;
    padding-bottom: 3px;
}

tr {
    vertical-align: top;
}

tr.odd:hover, tr.even:hover {
    background-color: rgba(59, 132, 172, 0.13) !important;
}

tr.odd {
    background-color: rgba(223, 234, 242, 0.20) !important;
}

.show-members:hover {
    cursor: pointer;
}

.relation-member {
    display: none;
}

.error-completeness {
    color: #c90623;
}

.warning-completeness {
    color: #c99015;
}

.feature-detail {
    max-height: 300px;
    overflow: auto;
}