.cc-panel {
    border-radius: 10px !important;
}

#campaign-panel {
    /*padding: 40px !important;*/
    padding-right: 0 !important;
}

.cc-title {
    text-align: center;
    color: #565656;
    font-weight: bold;
    padding-bottom: 20px;
    margin-top: 10px;
    text-transform: capitalize;
}

.cc-steps {
    text-align: center;
    overflow: hidden;
    position: relative;
    margin-top: 20px;
    margin-bottom: 30px;
}

.cc-progress {
    position: absolute;
    top: 24px;
    left: 0;
    width: 100%;
    height: 10px;
    border-radius: 10px;
    background: #c5c5c5;
    margin-top: -5px;
}

.cc-progress-line {
    position: absolute;
    top: 0;
    left: 0;
    height: 10px;
    border-radius: 10px;
    background: #46828f;
}

.cc-step {
    position: relative;
    float: left;
    width: 14.28%;
    padding: 0 5px;
}

.cc-step-icon {
    display: inline-block;
    width: 40px;
    height: 40px;
    margin-top: 4px;
    background: #c5c5c5;
    font-size: 16px;
    color: #fff;
    line-height: 40px;
    -moz-border-radius: 50%;
    -webkit-border-radius: 50%;
    border-radius: 50%;
}

.cc-step.activated .cc-step-icon {
    background: #46828f;
    border: 1px solid #46828f;
    color: #fff;
    line-height: 38px;
}

.cc-step.active .cc-step-icon {
    width: 48px;
    height: 48px;
    margin-top: 0;
    background: #46828f;
    font-size: 22px;
    line-height: 48px;
}

.cc-step p {
    padding-top: 10px;
    font-weight: bold;
    color: #ccc;
}

.cc-step.activated p {
    color: #46828f;
}

.cc-step.active p {
    color: #46828f;
}

#prev-form {
    margin-left: 15px;
}

#next-form {
    margin-right: 15px;
}

.panel-header-info.panel-section {
    margin-left: 25px;
    padding-top: 10px;
}

.dashboard-settings, .campaign-name-header, .campaign-status, .form-group > label {
    font-weight: 700;
    font-size: 12pt;
}

.cc fieldset {
    display: none;
}

.cc-buttons {
    margin-top: 50px !important;
}

.btn-next {
    margin-right: 15px;
}

.btn-next, .btn-prev, .submit-button {
    color: white;
    background-color: #ac3232;
    border: 0;
    font-weight: bold;
    border-radius: 15px;
    width: 180px;
}

.btn-next:hover, .btn-prev:hover {
    color: white;
    background-color: #992c2c;
}

.btn-next:active, .btn-prev:active {
    color: white;
    background-color: #832424 !important;
}

.submit-button {
    background-color: #46828f !important;
    display: table;
    margin: 0 auto;
}

.submit-button:hover {
    color: white;
    background-color: #355f6c !important;
}

.submit-button:active {
    color: white;
    background-color: #2c4c59 !important;
}

.insight-functions {
    min-height: 100px;
}

.error {
    border-color: #ac3232;
}

.error::placeholder {
    color: #ac3232;
}

.btn-add-coverage {
    width: 150px;
    border-color: #46828f;
    color: #46828f;
    border-radius: 15px;
}

.btn-add-coverage:hover {
    color: white;
    background-color: #46828f;
}

.error-form {
    color: #ac3232 !important;
    margin-top: 2px;
}

#description {
    height: 200px;
}

#managers-list {
    padding-top: 10px;
    padding-bottom: 20px;
}

.manager {
    height: 150px !important;
    padding: 5px 15px;
    border-radius: 6px;
    margin-right: 5px;
    background-color: #dedede;
}

.remove-manager, .remove-tags {
    cursor: pointer;
    padding-left: 8px;
    color: #ac3232;
}

.remove-manager:hover {
    color: #dc3939;
    cursor: pointer;
}

#page-wrapper {
    margin: 0;
    padding: 0;
}

.status-inactive {
    color: #898989;
}

.status-active {
    color: green;
}

#campaign-inactive, #campaign-active {
    display: none;
}

.panel-header-info {
    color: #898989;
    font-size: 8pt !important;
    font-weight: 700;
}

.panel-header {
    border-radius: 0 !important;
    padding: 11px 25px !important;
    border-top: none !important;
}

.panel-header span {
    line-height: 17pt;
}

.col-lg-2 {
    width: 20.7%;
    padding-right: 0;
}

.col-lg-10 {
    width: 78.3%;
    padding-left: 0;
    padding-right: 0;
}

.campaign-name-header {
    font-size: 14pt !important;
}

#campaign-panel.col-lg-9 {
    padding: 0 !important;
}

#campaign-panel.panel-body.cc {
    padding-top: 0 !important;
}

.form-header.col-lg-3, .form-header.col-lg-9, .form-header.col-md-6 {
    padding-left: 0 !important;
    padding-right: 0 !important;
}

.form-header.col-lg-9, .form-body.col-lg-9 {
    width: 70%;
}

.form-header.col-lg-3 {
    width: 30%;
}

.panel.panel-default.panel-header.form-header {
    float: left;
}

.panel.panel-default.panel-header {
    height: 55pt;
    border-collapse: collapse;
    border-top: none;
    margin-left: -1px;
    margin-right: -1px;
    background-color: white;
}

.start-date input {
    border: none !important;
    box-shadow: none !important;
}

.panel.panel-default {
    border-collapse: collapse;
    border-top: none;
    background-color: #f7f7f7;
    margin-bottom: 0;
}

#campaign-form input#start_date, #campaign-form input#end_date {
    border: none;
    box-shadow: none;
    padding: 0;
    height: auto !important;
}

#campaign-form input {
    height: 45px !important;
}

.form-body {
    padding-left: 25px;
    margin-top: 20px;
}

.cc-nav.active {
    background-color: #dedede !important;
}

.cc-nav {
    font-size: 16px !important;
    padding-top: 20px !important;
    height: 50pt !important;
}

#campaign-form textarea#description {
    margin-top: 25px;
}

#campaign-form input#name {
    border: none !important;
    box-shadow: none !important;
    height: 25px !important;
    padding: 0 !important;
}

.form-body.col-lg-3 {
    margin-top: 50px;
}

.help-block {
    font-size: 10pt;
    margin-left: 10px !important;
}

#campaign-form input::placeholder, #campaign-form textarea::placeholder {
    font-size: 11pt;
    font-weight: normal !important;
}

.cc-nav.activated {
    color: #46828f;
}

.cc-nav-icon.activated {
    display: block !important;
    color: #46828f;
}

.cc-nav {
    border: none !important;
}

select.dashboard-settings {
    border: none !important;
    width: 100% !important;
    -webkit-appearance: none;
    font-size: 14pt;
    box-shadow: none;
    background-color: white;
    font-weight: 700;
}

.hide {
    display: none !important;
}

.show {
    display: block;
}

.project-detail-desc {
    font-size: 9pt;
    color: #565656 !important;
}

.project-detail-name {
    font-weight: bolder;
    color: #46828f !important;
}

.project-detail-name:hover {
    cursor: pointer;
}

#remote-map {
    height: 500px;
    width: 100%;
}

.next-project-page {
    margin-left: 10px;
    padding-bottom: 2px;
    padding-top: 2px;
}

.prev-project-page {
    margin-right: 10px;
    padding-bottom: 2px;
    padding-top: 2px;
}

#page-wrapper .row {
    margin-right: 0 !important;
}

#list-projects .panel-default {
    border-top: 1px solid #ddd !important;
    margin-top: 10px;
}

input#start_date.form-control.error::placeholder,
input#end_date.form-control.error::placeholder {
    font-size: 10pt !important;
}

input#name {
    font-weight: 700 !important;
}

input#search-osm-user-text {
    width: 50%;
}

.select-types {
    height: 40px;
    box-shadow: none;
    border: 1px solid #ddd;
    border-radius: 10px;
    padding: 5px;
    margin-bottom: 5px;
    background-color: white;
    width: 100% !important;
    margin-left: 13px;
    margin-top: 5px;
}

.btn-add-tag {
    position: relative;
}

input#btn-add {
    width: 150px !important;
    height: 35px !important;
    border-radius: 25px !important;
    background-color: #dedede;
}

.additional-key-tags {
    display: none;
    position: absolute;
    left: -2px;
    top: 34px;
    z-index: 999;
    list-style-type: none;
    border: 1px solid #dedede !important;
    background-color: white;
    border-radius: 5px;
    padding-left: 0px;
    color: black;
}

.additional-key-tags li {
    padding: 5px;
    border-bottom: 1px solid #dedede;
}

.additional-key-tags li:hover {
    opacity: 0.7;
}

.additional-key-tags li:last-child {
    border-bottom: none;
}

.key-tags {
    border: 1px solid #dedede !important;
    background-color: white;
    border-radius: 5px;
    padding: 5px;
    margin: 5px;
    margin-left: 0px !important;
}

#TypesTagsContainer {
    margin-top: 5px;
}

#TypesTagsContainer .row {
    margin-left: 0px;
}

.row-tags {
    margin-bottom: 15px !important;
}

.type-selection.required-form.error {
    color: #ac3232;
}

.types-required-message {
    display: none;
    color: #ac3232;
}

.clickable-menu:hover {
    cursor: pointer;
}

.select-tag {
    background: none;
    border: none !important;
    box-shadow: none !important;
    -moz-box-shadow: none;
}

#advanced-mode-textarea {
    min-height: 500px;
    margin-top: 30px;
    margin-bottom: 30px;

}