option_settings:
  aws:elasticbeanstalk:container:python:
    WSGIPath: wsgi.py
    NumProcesses: 1
    NumThreads: 15
  aws:elasticbeanstalk:application:environment:
    APP_SETTINGS: SET_APP_SETTINGS
    OAUTH_CONSUMER_KEY: SET_OAUTH_CONSUMER_KEY
    OAUTH_SECRET: SET_OAUTH_SECRET
    ATTIC_DATA_SERVER_URL: http://overpass-api.de/api/interpreter
    DEFAULT_OVERPASS_URL: http://exports-prod.hotosm.org:6080/api/interpreter
    SECRET_KEY: THE_SECRET_KEY
    SENTRY_DSN: SET_SENTRY_DSN
    AWS_ACCESS_KEY_ID: SET_AWS_ACCESS_KEY_ID
    AWS_SECRET_ACCESS_KEY: SET_AWS_SECRET_ACCESS_KEY
  aws:elasticbeanstalk:container:python:staticfiles:
    /static/: flask_project/campaign_manager/static/
