files:
  "/etc/nginx/conf.d/proxy.conf":
    mode: "000644"
    owner: root
    group: root
    content: |
      server {
         listen 80;
         if ($http_x_forwarded_proto != 'https') {
             return 301 https://$host$request_uri;
         }
      }
      
container_commands:
  01_reload_nginx:
    command: "sudo service nginx reload"