web:
  #image: kartoza/osm-reporter
  build: docker
  hostname: web
  container_name: osmreporter_web
  environment:
    - PGUSER=docker
    - PGPASSWORD=docker
    - PGHOST=db
    - APP_SETTINGS=app_config.ProductionConfig
    - DATABASE_URL=postgresql://db/gis
  ports:
    - "64000:8080"
  volumes:
    - ../flask_project:/home/web/osm_reporter
    - ${CAMPAIGN_DATA}:/home/web/field-campaigner-data
  restart: on-failure:5
  user: root

dev:
  build: docker
  dockerfile: Dockerfile.dev
  hostname: devweb
  container_name: osmreporter_devweb
  environment:
    - PGUSER=docker
    - PGPASSWORD=docker
    - PGHOST=db
    - APP_SETTINGS=app_config.DevelopmentConfig
    - DATABASE_URL=postgresql://db/gis
  ports:
    - "64002:5000"
  volumes:
    - ../flask_project:/home/web/osm_reporter
    - ${CAMPAIGN_DATA}:/home/web/field-campaigner-data

test:
  build: docker
  dockerfile: Dockerfile.test
  hostname: testweb
  container_name: osmreporter_testweb
  environment:
    - PGUSER=docker
    - PGPASSWORD=docker
    - PGHOST=db
    - APP_SETTINGS=app_config.DevelopmentConfig
    - DATABASE_URL=postgresql://db/gis
  ports:
    - "64001:8080"
  volumes:
    - ../flask_project:/home/web/osm_reporter
