<!DOCTYPE html>
<head>
    <meta charset="UTF-8">
    <title>Open Street Map Reporter</title>
    <link rel="shortcut icon" href="/static/img/favicon.ico"/>
    <link rel="stylesheet" href="/static/css/bootstrap.css"
          type="text/css" static="screen, projection"/>
    <link rel="stylesheet" href="http://cdn.leafletjs.com/leaflet-0.4.5/leaflet.css" />
     <!--[if lte IE 8]>
         <link rel="stylesheet" href="http://cdn.leafletjs.com/leaflet-0.4/leaflet.ie.css" />
     <![endif]-->
    <link rel="stylesheet" href="/static/css/reporter.css"
          type="text/css" static="screen, projection"/>
     <script language="javascript"
                type="text/javascript" src="/static/js/jquery.js"></script>
    <script language="javascript"
            type="text/javascript"
            src="/static/js/jquery.flot.js"></script>
    <script language="javascript"
            type="text/javascript" src="/static/js/jquery.flot.pie.js"></script>
    <script src="http://cdn.leafletjs.com/leaflet-0.4.5/leaflet.js"></script>
    <script language="javascript"
            type="text/javascript" src="/static/js/reporter.js"></script>
     <style type="text/css">
        body {
            padding-top: 60px;
            padding-bottom: 40px;
        }
    </style>

</head>
<body>

    <div class="container">
        {% if error %}
        <div class="alert alert-error">
           <button type="button" class="close" data-dismiss="alert">&times;</button>
           <strong>Oops!</strong> {{ error }}
        </div>
        {% endif %}
        <div class="hero-unit">
            <h1>Open Street Map Reporter</h1>
            <p>This page lists people who have contributed building data to a map.</p>
        </div>

        <div class="row">
            <div class="span12" id="map">
            </div>
        </div>
        <div class="row">
            <div class="span4">
                <div id="chart" style="height:300px;"></div>
                <h2>About</h2>
                <p><img src="/static/img/linfiniti-logo-300.png"/></p>
                <p>This application was created by
                    <a href="http://linfiniti.com">Linfiniti</a>. The source
                    code for this app is
                    <a href="https://github.com/timlinux/osm-reporter">
                        available on GitHub</a>.
                </p>
            </div>
            <div class="span8">
                <h2>Building Contributors</h2>
                <p>
                    <table class="table">
                        <thead>
                            <tr>
                                <th>#</th>
                                <th>Name</th>
                                <th>Way Count</th>
                                <th>Node Count</th>
                            </tr>
                        </thead>
                        <tbody>

                            {% for myEntry in mySortedUserList %}
                            <tr>
                                <td>{{ loop.index }}</td>
                                <td>{{ myEntry.name }}
                                {%  if myEntry.crew %}
                                    <span class="label label-success">
                                        Crew</span>
                                {% endif %}
                                {%  if loop.first %}
                                    <span class="label label-important">
                                        Guru!</span>
                                {% endif %}
                                </td>
                                <td>{{ myEntry.ways }}</td>
                                <td>{{ myEntry.nodes }}</td>
                            </tr>
                            {% endfor %}
                            <th>Totals</th>
                            <th>{{ myUserCount }}</th>
                            <th>{{ myWayCount }}</th>
                            <th>{{ myNodeCount }}</th>
                            </tr>
                        </tbody>
                    </table>
                </p>
            </div>
        </div>
    </div>
    <script type="text/javascript">
        $(document).ready(function(){
            var map = L.map('map', {
                updateStatsControl: {{ display_update_control }}
            });
            L.tileLayer('http://{s}.tile.openstreetmap.org/{z}/{x}/{y}.png', {
                attribution: '© <a href="http://www.openstreetmap.org" target="_parent">OpenStreetMap</a> and contributors, under an <a href="http://www.openstreetmap.org/copyright" target="_parent">open license</a>',
                maxZoom: 18
            }).addTo(map);
            var bounds = [
                [{{ coordinates.SW_lat }}, {{ coordinates.SW_lng }}],
                [{{ coordinates.NE_lat }}, {{ coordinates.NE_lng }}],
            ]
            map.fitBounds(bounds);
            L.rectangle(bounds, {
                color: "#ff7800",
                weight: 2,
                fill: false,
                clickable: false
            }).addTo(map);
        });
        $(function () {
            var myData = [
                {%  for myEntry in mySortedUserList %}
                {
                    label: "{{myEntry.name}}",
                    data: {{ myEntry.ways }},
                    crew: {{ myEntry.crew|lower }}
                },
                {%  endfor %}]
            var myPlot = $.plot($("#chart"), myData, {
                series: { 
                    pie: {show: true,
                          tilt: 0.5,
                          label: {show:true, threshold: 0.05}}
                },
                legend: {show: false}
            });
        });
    </script>
</body>
