<!DOCTYPE html>
<head>
    <meta charset="UTF-8">
    <title>Open Street Map Reporter</title>
    <link rel="shortcut icon" href="/static/img/favicon.ico"/>
    <link rel="stylesheet" href="/static/css/bootstrap.css"
          type="text/css" static="screen, projection"/>
    <link rel="stylesheet" href="http://cdn.leafletjs.com/leaflet-0.4.5/leaflet.css" />
     <!--[if lte IE 8]>
         <link rel="stylesheet" href="http://cdn.leafletjs.com/leaflet-0.4/leaflet.ie.css" />
     <![endif]-->
    <link rel="stylesheet" href="/static/css/reporter.css"
          type="text/css" static="screen, projection"/>
     <script language="javascript"
                type="text/javascript" src="/static/js/jquery.js"></script>
    <script language="javascript"
            type="text/javascript"
            src="/static/js/jquery.flot.js"></script>
    <script language="javascript"
            type="text/javascript" src="/static/js/jquery.flot.pie.js"></script>
    <script src="http://cdn.leafletjs.com/leaflet-0.4.5/leaflet.js"></script>
    <script src="/static/js/heatcanvas.js"></script>
    <script src="/static/js/heatcanvas-leaflet.js"></script>
    <script language="javascript"
            type="text/javascript" src="/static/js/reporter.js"></script>
     <style type="text/css">
        body {
            padding-top: 60px;
            padding-bottom: 40px;
        }
    </style>

</head>
<body>

    <div class="container">
        {% if error %}
        <div class="alert alert-error">
           <button type="button" class="close" data-dismiss="alert">&times;</button>
           <strong>Oops!</strong> {{ error }}
        </div>
        {% endif %}
        <div class="hero-unit">
            <h1>Open Street Map Reporter</h1>
            <p>This page lists people who have contributed <strong>{{ current_tag_name }}</strong>
                data to a map.</p>
            {% if current_tag_name == "building" %}
            <p><a href="#" onclick="downloadBuildingsShape();">Download</a> this
                building data as a zipped shapefile.</p>
            {% else %}
            <p><a href="#" onclick="downloadRoadsShape();">Download</a> this
              highway data as a zipped shapefile.</p>
            {% endif %}
        </div>

        <div class="row">
            <div class="span12" id="map">
            </div>
        </div>

        <div class="row">
            <div class="span4">
                <div id="chart" style="height:300px;"></div>
                <h2>About</h2>
                <p><img src="/static/img/linfiniti-logo-300.png"/></p>
                <p>This application was created by
                    <a href="http://linfiniti.com">Linfiniti</a>. The source
                    code for this app is
                    <a href="https://github.com/timlinux/osm-reporter">
                        available on GitHub</a>.
                </p>
            </div>
            <div class="span8">
                <h2>{{ current_tag_name|capitalize }} Contributors</h2>
                <p>
                    <table class="table">
                        <thead>
                            <tr>
                                <th>#</th>
                                <th>Name</th>
                                <th>Way Count</th>
                                <th>Node Count</th>
                                <th>Show HeatMap</th>
                                <th>Show Details</th>
                            </tr>
                        </thead>
                        <tbody>
                            {% for myEntry in mySortedUserList %}
                            <tr>
                                <td>{{ loop.index }}</td>
                                <td>{{ myEntry.name }}
                                {%  if myEntry.crew %}
                                    <span class="label label-success">
                                        Crew</span>
                                {% endif %}
                                {%  if loop.first %}
                                    <span class="label label-important">
                                        Guru!</span>
                                {% endif %}
                                </td>
                                <td>{{ myEntry.ways }}</td>
                                <td>{{ myEntry.nodes }}</td>
                                <td><input type="radio" name="view-hm"
                                           class="view-hm"
                                       data-user="{{ myEntry.name }}">
                                </td>
                                <td><input type="checkbox"
                                            value="details{{ loop.index }}"
                                            class="details-toggle"
                                            checked=""/>
                                </td>
                            </tr>
                            <tr id="details{{ loop.index }}"
                                class="details-row">
                                <td colspan="6" >
                                    <div style="height: 120px">
                                        <div id="overview{{ loop.index }}"
                                          style="margin-left:50px;
                                                 margin-top:20px;
                                                 width:500px;
                                                 height:80px"></div>
                                        <div class="centered">
                                            <strong>Start date:</strong>
                                            {{ myEntry.start }},
                                            <strong>End date:</strong>
                                            {{ myEntry.end }}
                                        </div>
                                        <div class="centered">
                                            <strong>Active days:</strong>
                                            <span class="badge">{{ myEntry.activeDays }}</span>
                                            <strong>Ways per day:</strong>
                                            Average <span class="badge badge-success">{{ myEntry.average }}</span>
                                            Best <span class="badge badge-info">{{ myEntry.best }}</span>
                                            Worst <span class="badge badge-warning">{{ myEntry.worst }}</span>
                                            </div>
                                        </div>
                                    {# <div>{{ myEntry.timeline|safe }}</div>  #}
                                    </div>
                                </td>
                            </tr>
                            {% endfor %}
                            <tr>
                              <td>Totals</td>
                              <td>{{ myUserCount }}</td>
                              <td>{{ myWayCount }}</td>
                              <td>{{ myNodeCount }}</td>
                              <td><button class="clear-hm btn">Clear
                                  HeatMap</button></td>
                              <td><input type="checkbox" id="all-details"
                                         checked />
                                  Toggle all</td>
                            </tr>
                        </tbody>
                    </table>
                </p>
            </div>
        </div>
    </div>
    <script type="text/javascript">
        $(document).ready(function(){
            map = L.map('map', {
                updateStatsControl: {{ display_update_control }},
                statsControlOptions: {
                    choices: {{ available_tag_names|safe }},
                    selected: "{{ current_tag_name }}"
                }
            });
            L.tileLayer('http://{s}.tile.openstreetmap.org/{z}/{x}/{y}.png', {
                attribution: '© <a href="http://www.openstreetmap.org" target="_parent">OpenStreetMap</a> and contributors, under an <a href="http://www.openstreetmap.org/copyright" target="_parent">open license</a>',
                maxZoom: 18
            }).addTo(map);
            var bounds = [
                [{{ coordinates.SW_lat }}, {{ coordinates.SW_lng }}],
                [{{ coordinates.NE_lat }}, {{ coordinates.NE_lng }}],
            ]
            map.fitBounds(bounds);
            L.rectangle(bounds, {
                color: "#ff7800",
                weight: 2,
                fill: false,
                clickable: false
            }).addTo(map);
            window.bbox = map.getBounds().toBBoxString();
        });
        $(function () {
            {# Pie chart for all users #}
            var myData = [
                {%  for myEntry in mySortedUserList %}
                {
                    label: "{{myEntry.name}}",
                    data: {{ myEntry.ways }},
                    crew: {{ myEntry.crew|lower }}
                },
                {%  endfor %}]
            var myPlot = $.plot($("#chart"), myData, {
                series: {
                    pie: {show: true,
                          tilt: 0.5,
                          label: {show:true, threshold: 0.05}}
                },
                legend: {show: false}
            });
            {# User timeline charts #}
            {% for myEntry in mySortedUserList %}
                var d{{ loop.index }} = {{ myEntry.timeline|safe }};
                for (i=0; i < d{{ loop.index }}.length; i++)
                {
                    var pair = d{{ loop.index }}[i];
                    console.log(i + "/" + d{{ loop.index }}.length + ":" + pair);
                    var dateString = pair[0];
                    var splitString = dateString.split("-");
                    var year = parseInt(splitString[0]);
                    var month = parseInt(splitString[1]) - 1; //javascript stupidity - base 0 months
                    var day = parseInt(splitString[2]);
                    pair[0] = new Date(year, month, day).getTime();
                    console.log(i + "/" + d{{ loop.index }}.length + ":" + pair);
                    d{{ loop.index }}[i] = pair;
                }

                var overview{{ loop.index }} = $.plot($("#overview{{ loop.index }}"), [d{{ loop.index }}], {
                    series: {
                        lines: { show: true, lineWidth: 1 },
                        shadowSize: 0
                    },
                    xaxis: { mode: "time", timeformat: "%d-%m-%y" },
                    yaxis: { min: 0, autoscaleMargin: 0.1 }
                });
                {# Do this last to prevent flot rendering artifacts. #}
                //$('.details-row').hide();

            {% endfor %}
        });
        function downloadBuildingsShape()
        {
          var url = '/buildings-shp?bbox=' + map.getBounds().toBBoxString();
          console.log('New url: ' + url + ' <--');
          window.location.replace(url);
        }
        function downloadRoadsShape()
        {
            var url = '/roads-shp?bbox=' + map.getBounds().toBBoxString();
            console.log('New url: ' + url + ' <--');
            window.location.replace(url);
        }

    </script>
</body>
