<svg xmlns="http://www.w3.org/2000/svg" width="24" height="24" viewBox="0 0 24 24">
  <g fill="none" fill-rule="evenodd" stroke="#929DB3" transform="translate(1 2)">
    <path stroke-linecap="round" stroke-linejoin="round" d="M13.894 7.46a2.96 2.96 0 1 1-5.92 0 2.96 2.96 0 0 1 5.92 0z"></path>
    <path stroke-linecap="round" stroke-linejoin="round" d="M15.867 15.354H6c0-2.577 2.184-4.934 4.934-4.934s4.933 2.357 4.933 4.934z"></path>
    <rect width="21" height="19" x=".5" y=".5" rx="4"></rect>
  </g>
</svg>