<svg width="292" height="216" viewBox="0 0 292 216" fill="none" xmlns="http://www.w3.org/2000/svg">
  <g id="Group 14">
    <g id="Group 9">
      <path id="Shape" opacity="0.25" d="M0 0V200H240V0H0Z" fill="#929DB3" />
      <path id="Path" opacity="0.25" d="M62 188H12V136H62V188Z" fill="#929DB3" />
      <path id="Path_2" opacity="0.25" d="M62 124H12V74H62V124Z" fill="#929DB3" />
      <path id="Path_3" opacity="0.25" d="M124 188H74V136H124V188Z" fill="#929DB3" />
      <path id="Path_4" opacity="0.25" d="M124 124H74V74H124V124Z" fill="#929DB3" />
      <path id="Path_5" opacity="0.25" d="M124 62H74V12H124V62Z" fill="#929DB3" />
      <path id="Path Copy 2" opacity="0.25" d="M62 62H12V12H62V62Z" fill="#929DB3" />
      <path id="Path_6" opacity="0.25" d="M188 124H136V74H188V124Z" fill="#929DB3" />
    </g>
    <g id="Group 10">
      <path id="Stroke 743" fill-rule="evenodd" clip-rule="evenodd" d="M163 161.819L174.411 118.482L255.592 38L286.819 68.9535L205.633 149.441L163 161.819Z" fill="#D73F3F" fill-opacity="0.5" stroke="#C0383A" stroke-width="9" stroke-linecap="round" stroke-linejoin="round" />
      <path id="Stroke 744" d="M230.34 64.0671L260.752 94.4788" stroke="#C0383A" stroke-width="9" stroke-linejoin="round" />
      <path id="Stroke 745" d="M176.034 118.374L206.445 148.785" stroke="#C0383A" stroke-width="9" stroke-linecap="round" stroke-linejoin="round" />
      <path id="Stroke 745_2" d="M207.803 127.244L231.788 103.621" stroke="#C0383A" stroke-width="9" stroke-linecap="round" stroke-linejoin="round" />
    </g>
    <g id="Rectangle Copy 2">
      <rect x="12" y="12" width="50" height="50" fill="#D73F3F" style="mix-blend-mode:multiply" />
    </g>
    <path id="Stroke 745_3" d="M139.459 185.395L187 185.5" stroke="#C0383A" stroke-width="9" stroke-linecap="round" stroke-linejoin="round" />
  </g>
</svg>