<div class="completness">
    <h3 class="progress-bar-indicator">{{ data.complete }}/{{ data.total }} ({{ data.percentage }} %)</h3>
    <div class="progress-bar-wrapper">
        <div class="progress-bar" style="width: {{ data.percentage }}%"></div>
    </div>
    <div class="see-detail" onclick="see_completeness_details(this)">see detail</div>
    <table class="feature-list-table">
        <tr>
            <th>ID</th>
            {% for key in data.attributes %}
                <th>{{ key }}</th>
            {% endfor %}
            <th>Completeness</th>
        </tr>
        {% for row in data.data %}
            <tr>
                <td><a href="http://www.openstreetmap.org/{{ row['type'] }}/{{ row['id'] }}">{{ row['id'] }}</a></td>
                {% for key in data.attributes %}
                    {% if row['tags'][key] %}
                        <td>{{ row['tags'][key] }}</td>
                    {% elif row[key] %}
                        <td>{{ row[key] }}</td>
                    {% else %}
                        <td>-</td>
                    {% endif %}
                {% endfor %}
                {% if row['error'] %}
                    <td class="error-indicator">Error</td>
                {% else %}
                    <td class="clean-indicator">Clean</td>
                {% endif %}
            </tr>
        {% endfor %}
    </table>
</div>
<style type="text/css">
    .see-detail {
        width: 100%;
        text-align: center;
        color: gray;
        cursor: pointer;
        margin: 10px;
    }

    .progress-bar-indicator {
        color: #AC3232;
        margin-top: 0px;
    }

    .progress-bar-wrapper {
        background-color: #EBEBEB;
        border-radius: 50px;
        height: 10px;
    }

    .progress-bar {
        height: 10px;
        background-color: #AC3232;
        border-radius: 50px;
    }

    .feature-list-table {
        display: none;
        width: 100%;
        border-collapse: collapse;
        font-size: 12px;
    }

    .feature-list-table td, .feature-list-table th {
        padding-left: 5px;
        padding-right: 5px;
        border: 1px solid black;
    }

    .feature-list-table .error-indicator {
        color: red;
    }

    .feature-list-table .clean-indicator {
        color: green;
    }
</style>
<script>
    function see_completeness_details(event) {
        if (!$(event).closest(".completness").find(".feature-list-table").is(":visible")) {
            $(event).html("Hide detail");
            $(event).closest(".completness").find(".feature-list-table").show();
        } else {
            $(event).html("See detail");
            $(event).closest(".completness").find(".feature-list-table").hide();
        }
    }
</script>