<div class="completness">
    <div class="total-features">{{ data.total }}</div>
    <h3 class="progress-bar-indicator">{{ data.complete }}/{{ data.total }} ({{ data.percentage }} %)</h3>
    <div class="progress-bar-wrapper">
        <div class="progress-bar" style="width: {{ data.percentage }}%"></div>
    </div>
    <div class="table-insight-view">
        <div class="see-detail" onclick="see_completeness_details(this)"><i class="fa fa-caret-up" aria-hidden="true"></i> hide incomplete features list</div>
        <table class="feature-list-table" style="width: 100%">
            <thead>
            <tr>
                <th>Name</th>
                <th>Type</th>
                <th>Status</th>
                {% for key in data.attributes %}
                    <th>{{ key }}</th>
                {% endfor %}
            </tr>
            </thead>
            <tbody>
            {% for row in data.data %}
                {% if row['error'] %}
                    <tr>
                        <td>
                            <a target="_blank" href="http://www.openstreetmap.org/{{ row['type'] }}/{{ row['id'] }}">
                                {{ row['type'] }} :
                                {% if 'tags' in row %}
                                    {% if row['tags']['name'] %}
                                        {{ row['tags']['name'] }} ({{ row['id'] }})
                                    {% else %}
                                        {{ row['id'] }}
                                    {% endif %}
                                {% else %}
                                    {{ row['id'] }}
                                {% endif %}
                            </a>
                            {% if row['type'] == 'relation' %}
                                <span class="show-members">
                                    <i class="fa fa-arrow-circle-down" aria-hidden="true" data-toggle="tooltip" data-placement="top" data-original-title="Show members"></i>
                                </span>
                                <div class="relation-member">
                                    Members :
                                    <ul>
                                        {% for member in row['members'] %}
                                            <li>
                                                <a target="_blank" href="http://www.openstreetmap.org/{{ member['type'] }}/{{ member['ref'] }}">
                                                    {{ member['type'] }} : {{ member['ref'] }}
                                                </a>
                                            </li>
                                        {% endfor %}
                                    </ul>
                                </div>
                            {% endif %}
                        </td>
                        <td>
                            {{ row['type'] }}
                        </td>
                        <td>
                            {% if row['warning_message'] %}
                                <div class="warning-completeness">Warning: {{ row['warning_message'] }}</div>
                            {% endif %}
                            {% if row['error_message'] %}
                                <div class="error-completeness">Error: {{ row['error_message'] }}</div>
                            {% endif %}
                        </td>
                        {% for key in data.attributes %}
                            {% if not row['tags'] %}
                                <td>-</td>
                            {% elif row['tags'][key] %}
                                <td>{{ row['tags'][key] }}</td>
                            {% elif row[key] %}
                                <td>{{ row[key] }}</td>
                            {% else %}
                                <td>-</td>
                            {% endif %}
                        {% endfor %}
                    </tr>
                {% endif %}
            {% endfor %}
            </tbody>
        </table>
    </div>
    <div class="footer">
        Data updated at {{ data['last_update'] }}.
        {% if data['updating'] %}
            <br>
            Currently updating.
        {% endif %}
    </div>
</div>
<style type="text/css">

    .total-features {
        display: none;
    }

    .see-detail {
        width: 100%;
        text-align: center;
        cursor: pointer;
        margin: 10px;
        padding-top: 20px;
    }

    .progress-bar-indicator {
        color: #77a1aa;
        font-size: 30pt;
        font-weight: bolder;
        text-align: center;
        margin-bottom: 20px;
        padding-top: 20px;
    }

    .progress-bar-wrapper {
        background-color: #EBEBEB;
        border-radius: 50px;
        height: 10px;
    }

    .progress-bar-wrapper .progress-bar {
        height: 10px;
        background-color: #77a1aa;
        border-radius: 50px;
    }

    .feature-list-table {
        font-size: 10pt;
    }

    .completness .feature-list-table {
        display: none;
    }

    .feature-list-table .error-indicator {
        background-color: #77a1aa;
        color: white;
    }

    .feature-list-table .clean-indicator {
        background-color: green;
        color: white;
    }

    td {
        padding-top: 3px;
        padding-bottom: 3px;
    }

    tr {
        vertical-align: top;
    }

    tr.odd:hover, tr.even:hover {
        background-color: rgba(59, 132, 172, 0.13) !important;
    }

    tr.odd {
        background-color: rgba(223, 234, 242, 0.20) !important;
    }

    .show-members:hover {
        cursor: pointer;
    }

    .relation-member {
        display: none;
    }

    .error-completeness {
        color: #c90623;
    }

    .warning-completeness {
        color: #c99015;
    }
</style>
<script>
    $(document).tooltip({
        selector: "[data-toggle=tooltip]",
        container: "body"
    });
    var tab_id = '{{ function_id }}';
    var $wrapper = $('#' + tab_id);
    $wrapper.find('.feature-list-table').DataTable({
        "bSortClasses": false,
        "aLengthMenu": [5, 10, 25, 50, "All"],
        "iDisplayLength": 5,
        "rowReorder": {
            selector: 'td:nth-child(2)'
        },
        "responsive": true
    });
    $wrapper.find('.feature-list-table').show();
    function see_completeness_details(event) {
        var $featureListTable = $(event).next().find('.feature-list-table');

        if (!$featureListTable.is(":visible")) {
            $(event).html('<i class="fa fa-caret-up" aria-hidden="true"></i> hide incomplete features list');
            $featureListTable.parent().show();
        } else {
            $(event).html('<i class="fa fa-caret-down" aria-hidden="true"></i> show incomplete features list');
            $featureListTable.parent().hide();
        }
    }
    $('.show-members').unbind('click').click(function (e) {
        if ($(this).children().hasClass('fa-arrow-circle-down')) {
            $(this).siblings('.relation-member').show();
            $(this).children().removeClass('fa-arrow-circle-down');
            $(this).children().addClass('fa-arrow-circle-up');
            $(this).children().attr('data-original-title', 'Hide members');
        } else {
            $(this).siblings('.relation-member').hide();
            $(this).children().removeClass('fa-arrow-circle-up');
            $(this).children().addClass('fa-arrow-circle-down');
            $(this).children().attr('data-original-title', 'Show members');

        }
    });
</script>