<div class="row piechart-wrapper">
    <div class="col-lg-4"></div>
    <div class="col-lg-4">
        <canvas class="pieChart"></canvas>
    </div>
    <div class="col-lg-4"></div>
</div>

<script type="text/javascript">
    var function_id = "{{ function_id }}";
    var $wrapper = $('#{{ function_id }}');
    var chart_data = {
        labels: [],
        datasets: [{
            data: [],
            backgroundColor: [],
            borderWidth: 0
        }]
    };

    {% for key, value in data.items() %}
        {% if key != 'yes' %}
            chart_data['labels'].push(capitalizeFirstLetter('{{ key }}'));
            chart_data['datasets'][0]['data'].push('{{ value }}');
            chart_data['datasets'][0]['backgroundColor'].push(getRandomColor());
        {% endif %}
    {% endfor %}
    
    if (chart_data['labels'].length !== 0) {
        var ctx = $wrapper.find(".pieChart");
        var options = {};
        // And for a doughnut chart
        var myDoughnutChart = new Chart(ctx, {
            type: 'doughnut',
            data: chart_data,
            options: options
        });
    } else {
        $wrapper.find('.piechart-wrapper').addClass('error');
        $wrapper.find('.piechart-wrapper').html(
                '<div id="notification" class="alert alert-danger alert-dismissable">No chart can be rendered.</div>'
        )
    }
</script>