{% if feature_type %}
    <div class="insight-title" style="margin-bottom: 40px;">{{ feature_type }} By Type</div>
{% else %}
    <div class="insight-title" style="margin-bottom: 40px;">Count Feature</div>
{% endif %}
<div class="row piechart-wrapper">
    <canvas class="pieChart" style="padding-left: 15px;"></canvas>
</div>
<div class="row">
    {% if feature_type %}
        <div class="update-status-information">
            {% if data['updating'] %}
                Currently updating in background...
            {% else %}
                Data updated at {{ data['last_update'] }}
            {% endif %}
        </div>
    {% else %}
        <div class="footer">
            Data updated at {{ data['last_update'] }}
            {% if data['updating'] %}
                <br>
                Currently updating.
            {% endif %}
        </div>
    {% endif %}
</div>

<script type="text/javascript">
    var tab_id = '{{ function_id }}';
    var $wrapper = $('#'+tab_id);
    var chart_data = {
        labels: [],
        datasets: [{
            data: [],
            backgroundColor: []
        }]
    };

    {% for key, value in data['data'].items() %}
        {% if key != 'yes' %}
            chart_data['labels'].push('{{ key }}');
            chart_data['datasets'][0]['data'].push('{{ value }}');
            chart_data['datasets'][0]['backgroundColor'].push('#' + intToRGB(hashCode("{{ key }}")));
        {% endif %}
    {% endfor %}

    if (chart_data['labels'].length !== 0) {
        var ctx = $wrapper.find(".pieChart");
        // And for a doughnut chart
        var myDoughnutChart = new Chart(ctx, {
            type: 'bar',
            data: chart_data,
            options: {
                legend: {
                    display: false
                }
            }
        });

        $wrapper.find('.chart-legends').html(myDoughnutChart.generateLegend());
    } else {
        $wrapper.find('.piechart-wrapper').addClass('error');
        $wrapper.find('.piechart-wrapper').html(
                '<div id="notification" style="margin-bottom: 10px;" class="no-data">No chart can be rendered.</div>'
        )
    }

</script>