<form id="coverage-upload" method="post" action='/campaign_manager/campaign/{{ data.uuid }}/coverage-upload-chunk' enctype="multipart/form-data">
    <div class="coverage-uploader">
        <div id='coverage-last-upload' style="color: gray; margin-bottom: 10px;">
            {% if data.coverage %}
                uploaded by <a href="www.openstreetmap.org/user/{{ data.coverage.last_uploader }}">{{ data.coverage.last_uploader }}</a>
                at {{ data.coverage.last_uploaded }}
            {% endif %}
        </div>
        <div class="file-indicator">
            {% for file in data.files %}
                <div class='file-indicator-row complete'>
                    {{ file }}
                    <span class='percent-indicator'>100%</span>
                </div>
            {% endfor %}
        </div>
        <div class="btn-group" style="width: 100%">
            <button class="add-file btn btn-outline btn-primary btn-lg">
                <span>Add file(s)</span>
                <input id="upload-button" name="file" type="file" class="upload" multiple/>
            </button>
            <button class="file-upload btn btn-outline btn-primary btn-lg">Upload</button>
        </div>

    </div>
</form>
<style type="text/css">
    .coverage-uploader button {
        width: 50%;
    }

    .add-file {
        position: relative;
        overflow: hidden;
        margin-bottom: 10px;
    }

    .add-file input.upload {
        position: absolute;
        top: 0;
        right: 0;
        margin: 0;
        padding: 0;
        font-size: 20px;
        cursor: pointer;
        opacity: 0;
        filter: alpha(opacity=0);
        height: 100%;
        width: 100%;
    }

    .file-indicator {
        font-style: italic;
        color: gray;
        margin-bottom: 10px;
    }

</style>
<script>
    var coverage_geojson = null;
    {% if data.coverage %}
        coverage_geojson = {{ data.coverage.geojson|safe }};
    {% endif %}
    var is_in_upload = false;
    var coverage_layer = null;
    var coverage_info = null;
    var coverage_legend = null;
    var $coverage = $("#coverage-upload ");
    function add_coverage_file_indicator(filename, complete) {
        var complete_class = '';
        var percent = '0%';
        if (complete) {
            complete_class = 'complete';
            percent = '100%';
        }
        $coverage.find(".file-indicator").append(
                "<div class='file-indicator-row " + complete_class + "'>" +
                filename +
                "<span class='percent-indicator'>" + percent + "</span>" +
                "</div>"
        );
    }
    $(function () {
        $coverage.find(".file-upload").prop('disabled', true);
        $coverage.find("#upload-button").change(function () {
            $coverage.find(".file-indicator").html("");
            for (var i = 0; i < $(this).get(0).files.length; ++i) {
                add_coverage_file_indicator($(this).get(0).files[i].name);
            }
            $coverage.find('#coverage-last-upload').hide();
            $coverage.find(".file-upload").prop('disabled', false);
        });
        $coverage.find(".file-upload").click(function () {
            if (is_in_upload && $coverage.find('.file-indicator-row ').length > 0) {
                $(this).prop('disabled', true);
                $coverage.find(".coverage-uploader .add-file").prop('disabled', true);
                $coverage.find(".coverage-uploader #upload-button").css('cursor', 'not-allowed');
                $coverage.find(".coverage-uploader #upload-button").prop('disabled', true);
            } else {
                return false;
            }
        });

        {# upload file #}
        var upload_url = '/campaign_manager/campaign/' + '{{ data.uuid }}' + '/coverage-upload-chunk';
        $('#coverage-upload').fileupload({
            url: upload_url,
            dataType: 'json',
            maxRetries: 100,
            retryTimeout: 500000,
            maxChunkSize: 100000, // 100 KB
            add: function (e, uploadData) {
                $coverage.find(".file-upload").on('click', function () {
                    uploadData.submit();
                });
                is_in_upload = true;
            },
            fail: function (e, uploadData) {
                var filename = uploadData.files[0].name;
            },
            done: function (e, uploadData) {
                var filename = uploadData.files[0].name;
                var $nameIndicator = $coverage.find(".file-indicator").find("div:contains('" + filename + "')");
                $nameIndicator.addClass('complete');
                $nameIndicator.find('.percent-indicator').html('100%');
                var all_complete = true;
                $coverage.find('.file-indicator').find('.file-indicator-row').each(function (index, element) {
                    if (!$(element).hasClass('complete')) {
                        all_complete = false;
                    }
                });
                if (all_complete) {
                    $coverage.find(".add-file").prop('disabled', false);
                    $coverage.find("#upload-button").css('cursor', 'pointer');
                    $coverage.find("#upload-button").prop('disabled', false);
                    is_in_upload = false;
                    coverage_upload_complete();
                }
            },
            progress: function (e, uploadData) {
                var filename = uploadData.files[0].name;
                var $nameIndicator = $coverage.find(".file-indicator").find("div:contains('" + filename + "')");
                var progress = parseInt(uploadData.loaded / uploadData.total * 100, 10);
                $nameIndicator.find('.percent-indicator').html(progress + '%');
            }
        });
        get_coverage();
    });
    function coverage_upload_complete() {
        $.ajax({
            url: '/campaign_manager/campaign/' + uuid + '/coverage-upload-success?uploader=' + $("#profile-name").html(),
            dataType: 'json',
            success: function (data) {
                if (!data['success']) {
                    $coverage.find('#coverage-last-upload').show();
                    $coverage.find('#coverage-last-upload').css('color', 'red');
                    $coverage.find('#coverage-last-upload').html(data['reason']);
                } else {
                    $coverage.find(".file-indicator").html('');
                    $coverage.find('#coverage-last-upload').show();
                    $coverage.find('#coverage-last-upload').css('color', 'gray');
                    $coverage.find('#coverage-last-upload').html(
                            'uploaded by <a href="www.openstreetmap.org/user/' +
                            data['data']['last_uploader'] + '">' +
                            data['data']['last_uploader'] + '</a> at ' +
                            data['data']['last_uploaded']);
                    $.each(data['files'], function (index, value) {
                        add_coverage_file_indicator(value, true);
                    });
                    coverage_geojson = data['data']['geojson'];
                    get_coverage();
                }
            }
        });
    }
    function get_coverage() {
        if (!coverage_geojson) {
            return;
        }
        var that = this;
        if (Object.keys(coverage_geojson).length != 0) {
            if (coverage_layer) {
                that.map.removeLayer(coverage_layer);
                that.map.removeControl(coverage_info);
                that.map.removeControl(coverage_legend);
            }

            var today = new Date();
            var style = {
                weight: 2,
                opacity: 1,
                color: 'white',
                dashArray: '3',
                fillOpacity: 0.8
            };
            var older_color = "#5CB85C";
            var future_color = "#E76F4A";

            {# create layer #}
            coverage_layer = L.geoJSON(coverage_geojson, {
                style: function (feature) {
                    var property_date = new Date(feature.properties.date);
                    if (property_date < today) {
                        style['fillColor'] = older_color;
                        return style;
                    } else {
                        style['fillColor'] = future_color;
                        return style;
                    }
                },
                onEachFeature: function (feature, layer) {
                    layer.on({
                        mouseover: highlightFeature,
                        mouseout: resetHighlight,
                        click: zoomToFeature
                    });
                },
                filter: function (feature) {
                    if (!feature.properties.date) return false;
                    return true;
                }
            });
            that.map.addLayer(coverage_layer);

            {# create legend #}
            coverage_legend = L.control(
                    {position: 'bottomright'}
            );
            coverage_legend.onAdd = function () {
                var div = L.DomUtil.create('div', 'info legend');
                div.innerHTML += '<div><i style="background:' + older_color + '"></i>Mapped<br></div>';
                div.innerHTML += '<div><i style="background:' + future_color + '"></i>Not yet<br></div>';
                return div;
            };
            that.map.addControl(coverage_legend);

            {# create info #}
            coverage_info = L.control(
                    {position: 'topright'}
            );
            coverage_info.onAdd = function () {
                this._div = L.DomUtil.create('div', 'info');
                $(this._div).hide();
                this.update();
                return this._div;
            };
            coverage_info.update = function (properties) {
                $(this._div).hide();
                if (properties) {
                    $(this._div).show();
                    var html = '<h4>Area detail</h4>';
                    html += '<list-group>';
                    $.each(properties, function (key, property) {
                        html += '<div class="list-group-item">' + key.toLowerCase() +
                                '<span class="pull-right text-muted">' + capitalizeFirstLetter(property.toLowerCase()) +
                                '</span>' +
                                '</div>';
                    });
                    html += '</list-group>';
                    $(this._div).html(html);
                }
            };
            that.map.addControl(coverage_info);
        }
    }
</script>
<script>
    {# browser event #}
    window.onbeforeunload = function (e) {
        if (is_in_upload) {
            e = e || window.event;
            if (e) {
                e.returnValue = 'Sure?';
            }
            return 'Sure?';
        }
    };
</script>