<div class="upload-fieldpaper-wrapper">
    <input id="fieldpaper-id" type="file" name="filename" hidden/>
    <button type="button" class="btn btn-outline btn-primary btn-lg btn-upload-fieldpaper" id="upload-fieldpaper">
        Upload GeoJSON File
    </button>

</div>

<script>
    $('#upload-fieldpaper').click(uploadFieldpaper);
    $('#fieldpaper-id').change(handleFileSelect);

    function uploadFieldpaper(el) {
        if (window.File && window.FileReader && window.FileList && window.Blob) {
            // Great success! All the File APIs are supported.
        } else {
          alert('The File APIs are not fully supported in this browser.');
          return;
        }

        $('#fieldpaper-id').click();
    }

    function isnull(feature) {
        let entries = Object.entries(feature);

        for (let entry of entries) {
            if (entry[1] === null) {
                return true;
                break;
            }

            if (typeof entry[1] === 'object') {
                if (isnull(entry[1])) {
                    return true
                }
            }
        }
        return false
    }

    function invalidGeometry(features) {
        var invalidGeom = false;
        features.forEach((feature) => {
            type = feature['geometry']['type']
            if ((type === "MultiPolygon") || (type === "LineString"))
                invalidGeom = true;
        });
        return invalidGeom;
    }

    function handleFileSelect(evt) {
        var files = evt.target.files;
        var output = [];
        if(files.length <= 0) {
            return;
        }

        var uploadedFile = files[0];

        // Check filename
        if(uploadedFile.name.indexOf('.geojson') === -1) {
            alert('Wrong format');
            return;
        }

        var reader = new FileReader();
        reader.onload = function (e) {
            var geojsonFeature = JSON.parse(reader.result);
            geojsonFeature = geojsonFeature['features'];
            if (invalidGeometry(geojsonFeature)) {
                showNotifications('Geometry type not supported', 'danger');
                return;
            }

            // Traverse over json elements and check for any null values.
            let nulljson = false;
            geojsonFeature.forEach((feature) => {
                nulljson = isnull(feature)
            });

            // If there are some elements show notifications.
            if (nulljson) {
                showNotifications('GeoJson file has null values', 'danger');
                return;
            }

            drawnItems.clearLayers();
            var geojsonLayer = L.geoJSON(geojsonFeature, {
                style: function (feature) {
                    return {
                        weight: 2,
                        color: "#999",
                        opacity: 1,
                        fillColor: '#D3D3D3',
                        fillOpacity: 0.8
                    }
                },
                onEachFeature: onEachFeature
            });
            campaignMap.fitBounds(drawnItems.getBounds());
            stringfyGeometry();
            getAreaSize();
        };

        reader.readAsText(uploadedFile);
    }

    function onEachFeature(feature, featureLayer) {
        featureLayer.bindPopup(
            '<div class="layer-popup">' +
                '<div class="layer-popup-area">' +
                    'Area &nbsp;&nbsp;: -'+
                '</div>'+
                '<div class="layer-popup-team">' +
                    'Team &nbsp;: -'+
                '</div>'+
                '<div class="layer-popup-team">' +
                    'Status : Unassigned'+
                '</div>'+
            '</div>'
        );
        drawnItems.addLayer(featureLayer);
    }

</script>