body {
  background: $page-background;
  color: $blue-dark;
  display: flex;
  min-height: 100vh;
  flex-direction: column;
  a {
    color: $red;
    &:hover, &:focus {
      color: $red;
    }
  }
}
.page-content {
  background: $page-background;
  padding: 80px 0;
  display: flex;
  flex: 1;
}