#page-home {
  hr {
    border: none;
    height: 1px;
    width: 100%;
    background: $blue-light;
    margin: 47px 0;
  }
  background: $white;
  .btn-default {
    border: 1px solid $grey1;
  }
  .page-header {
    height: auto;
    padding: 92px 0 78px 0;
    background-image: linear-gradient(to bottom, $red-medium, $red);
    background-size: 100%;
    img {
      max-width: 100%;
    }
    h1 {
      display: block;
      text-transform: none;
      background: transparent;
      position: static;
      font-size: 48px;
      padding: 0;
      margin-bottom: 44px;
    }
  }
}