.panel {
  .panel-search {
    box-shadow: 0 4px 10px 0 rgba(0, 0, 0, 0.1);
    ul {
      margin: 0 !important;
      padding: 0 !important;
    }
    li {
      height: 41px;
      line-height: 41px;
      font-size: 16px;
      padding-left: 38px;
      &:hover {
        background-color: rgba($black, 0.1);
      }
    }
  }
}
.panel.panel-tile {
  border: 1px solid $grey-light2;
  padding: 16px 1px;
  min-height: 185px;
  border-radius: 2px;
  -webkit-column-break-inside: avoid;
  page-break-inside: avoid;
  break-inside: avoid;
  position: relative;
  .panel-name {
    width: 100%;
    font-size: 18px;
    font-weight: bold;
    margin-top: 0;
    margin-bottom: 5px;
    svg {
      vertical-align: middle;
      margin-right: 8px;
    }
  }
  .panel-more-button {
    position: absolute;
    right: 20px;
    top: -2px;
    border: 0;
    padding: 0;
    -webkit-appearance: none;
    appearance: none;
  }
  .panel-info  {
    color: $blue-grey;
  }
  .panel-total {
    width: 100%;
    font-family: 'Barlow Condensed', sans-serif;
    font-size: 72px;
    font-weight: bold;
    display: block;
    margin-bottom: 5px;
    line-height: 85px;
    &-primary {
      color: $red;
      margin: 20px 0 40px;
    }
  }
  .panel-total-label {
    font-family: 'Archivo', sans-serif;
    text-align: center;
    font-size: 9px;
    color: $blue-light;
    display:block;
  }
  .panel-subhead {
    margin-bottom: 26px;
  }
  p {
    margin-bottom: 7px;
    margin-top: 0;
    font-size: 12px;
    b {
      font-size: 14px;
    }
  }
  .label-default {
    overflow: hidden;
    max-height: 2em;
    text-overflow: ellipsis;
    max-width: 100%;
  }
  .progress {
    clear: both;
    &-rank {
      clear: none;
    }
    margin-bottom:19px;
    &:last-child {
      margin-bottom: 0;
    }
  }
}