
.progress {
  height: 11px;
  border-radius: 6px;
  margin-bottom: 13px;
  box-shadow: none;
  background-color: $grey-light3;
  .progress-bar {
    background-color: $red !important;
    border-radius: 6px;
  }
  &-rank {
    height: 16px;
    border-radius: 0;
    background-color: transparent;
    .progress-bar {
      border-radius: 0;
    }
  }
}
.progress-label {
  color: $blue-light;
  width: 120px;
  overflow: hidden;
  text-overflow: ellipsis;
  float: left;
  font-weight: 14px;
}
.progress-value {
  display: block;
  font-weight: bold;
  font-size: 16px;
  margin-top: -4px;
}