.status {
  white-space: nowrap;
  &:before {
    content: '';
    display: inline-block;
    height: 8px;
    width: 8px;
    margin-right: 5px;
    background-color: $blue-light;
    border: none;
    border-radius: 4px;
    vertical-align: middle;
    margin-top: -2px;
  }
  &-success:before {
    background-color: $green;
  }
  &-warn:before {
    background-color: $orange;
  }
}