<div class="col-lg-12">
  <div id="total-feature-completeness-errors"></div>
  <table id="pagination-errors" class="table">
    <thead>
      <tr>
        <th>Status</th>
        <th>Name</th>
        <th>Date</th>
        <th>Comment</th>
      </tr>
    </thead>
    <tbody>
    </tbody>
  </table>
  <div class='pagination-nav'>
    <nav>
      <ul class="pager" style="text-align:left">
        <li class='previous-page'><a data-target="#">Previous</a></li>
        <li class='current-page'></li>
        <li class='next-page'><a data-target="#">Next</a></li>
      </ul>
    </nav>
  </div>
  <a href="{{ url }}/errors.osm" class="btn" style="background:#fc6525; color:white">Download</a>
</div>
<script type="text/javascript">
  function renderErrorsWarnings() {
    var errorsFilesCount = {{ feature_completeness['errors_files_count']}};

    var totalErrors = 0;
    for (var i = 1; i <= errorsFilesCount; i++) {
      var errorsUrl = "{{ url | safe }}" + '/errors_' + i + '.json';
      var requests = [];
      requests.push($.ajax({
        url: errorsUrl,
        dataType: 'json',
        cache: false
      }));
    }
    $.when.apply($, requests).then(function() {
      data = []
      if (requests.length == 1) {
        data = arguments[0];
      } else {
        for (var i = 0; i < arguments.length; i++) {
          data = data.concat(arguments[i][0]);
        }
      }
      $('#total-feature-completeness-errors').html(data.length);

      totalPages = Math.round(data.length / 10);
      currentPage = 0;
      sliceStart = 0;
      sliceEnd = 10;
      renderPage(data.slice(sliceStart, sliceEnd));
    });
  }

  function buildData(data) {    
    return {
      status: data.status,
      name: buildLink(data.id, data.type),
      comment: buildComment(data.status, data.comment),
      date: moment(data.date).format('YYYY-MM-DD')
    }
  }

  function hidePagination() {
    $('#pagination-errors').hide();
    $('.pagination-nav').hide();
  }

  function renderPage(slicedData) {
    $('#pagination-errors tbody').html('');
    $('.current-page').html(`${currentPage + 1}/${totalPages}`);
    var prout = slicedData;
    for (var i = 0; i < prout.length; i++) {
      var dataRow = buildData(prout[i]);
      var row = `
      <tr>
        <td>${dataRow.status}</td>
        <td>${dataRow.name}</td>
        <td>${dataRow.date}</td>
        <td>${dataRow.comment}</td>
      </tr>`;
      $('#pagination-errors tbody').append(row);
    }
  }

  function buildLink(id, type) {
    return `<a href="https://www.openstreetmap.org/${type}/${id}" target="_blank">${type}:${id}</a>`
  }

  function buildComment(status, comment) {
    if (status === 'error') {
      return `
        <div class="error-completeness">
          Errors: ${comment}
        </div>`;
    } else if (status === 'warning') {
      return `
        <div class="warning-completeness">
          Warnings: ${comment}
        </div>`;
    }
  }

  $('.next-page').click(function() {
    currentPage += 1;
    sliceStart += 10;
    sliceEnd += 10;

    if (currentPage === totalPages)
      resetIndexes();

    renderPage(data.slice(sliceStart, sliceEnd));
  });

  $('.previous-page').click(function() {
    if (currentPage === 0)
      return
    currentPage -= 1;
    sliceStart -= 10;
    sliceEnd -= 10;

    if (currentPage < 0)
      resetIndexes();

    renderPage(data.slice(sliceStart, sliceEnd));
  });    

  function resetIndexes() {
    currentPage = 0;
    sliceStart = 0;
    slicedEnd = 10;
  }

  renderErrorsWarnings();
</script>