<div id="campaign-map-detail"></div>
<script type="text/javascript" src="https://unpkg.com/leaflet.markercluster@1.4.0/dist/leaflet.markercluster.js"></script>
<link href="https://unpkg.com/leaflet.markercluster@1.4.0/dist/MarkerCluster.css" rel="stylesheet">
<link href="https://unpkg.com/leaflet.markercluster@1.4.0/dist/MarkerCluster.Default.css" rel="stylesheet">
<script type="text/javascript">

  var map = createMap();
  addLegend(map);
  setTitleLayer(map);
  setViewFromCampaign(map);
  renderMap(map);


  function createMap() {
    return L.map('campaign-map-detail').setView([0, 0], 1);
  }

  function addLegend(map) {
    var legend = L.control({position: 'bottomleft'});
    legend.onAdd = function (map) {
      var div = L.DomUtil.create('div', 'legend');
      div.innerHTML += '<span><b>Completeness</b></span><br/>';
      div.innerHTML += '<i style="background-color:#00840d"></i> <span>100%</span><br/>';
      div.innerHTML += '<i style="background-color:#faff00"></i> <span>75%</span><br/>';
      div.innerHTML += '<i style="background-color:#ffe500"></i> <span>50%</span><br/>';
      div.innerHTML += '<i style="background-color:#FD9A08"></i> <span>25%</span><br/>';
      div.innerHTML += '<i style="background-color:#ff0000"></i> <span>0%</span><br/>';
      return div;
    };
    legend.addTo(map);    
  }
    
  function setTitleLayer(map) {
    L.tileLayer('https://api.tiles.mapbox.com/v4/{id}/{z}/{x}/{y}.png?access_token=pk.eyJ1IjoiaG90IiwiYSI6IlBtUmNiR1kifQ.dCS1Eu9DIRNZGktc24IwtA', {
      minZoom: 1,
      maxZoom: 18,
      attribution: "© <a href='https://www.mapbox.com/about/maps/'>Mapbox</a> © <a href='http://www.openstreetmap.org/copyright'>OpenStreetMap</a> <strong><a href='https://www.mapbox.com/map-feedback/' target='_blank'>Improve this map</a></strong>",
      id: 'mapbox.light',
      unloadInvisibleTiles: true,
      updateWhenIdle: true,
      reuseTiles: true
    }).addTo(map);
  }

  function setViewFromCampaign(map) {
      
    geometry = {{ geometry }}
    campaign_layer = L.geoJSON(geometry);
    map.addLayer(campaign_layer);
    map.fitBounds(campaign_layer.getBounds());
    window.setTimeout(function() {
      map.invalidateSize();  
    }, 2000);
    
    return map;
  }

  function renderMap(map) {
    var geojsonFilesCount = {{ feature_completeness['geojson_files_count']}};

    for (var i = 1; i <= geojsonFilesCount; i++) {
      var geojsonUrl = "{{ url | safe }}" + '/geojson_' + i + '.json';
      $.ajax({
        url: geojsonUrl,
        dataType: 'json',
        cache: false,
        success: function(data) {
          var geojson = L.geoJSON(data, {
            pointToLayer: function (feature, latlng) {
              return L.circle(latlng, {
                radius: 5,
                fillColor: feature.properties.completeness_color,
                color: feature.properties.completeness_color,
                weight: 5,
                opacity: 1,
                fillOpacity: 0.8
                });
            },
            onEachFeature: onEachFeature,
            style: function(feature) {
              return {color: feature.properties.completeness_color}
            }
          });

          var markers = L.markerClusterGroup({chunkedLoading: true});
          markers.addLayer(geojson);

          map.addLayer(markers);
        }
      });
    }
  }

  function displayPopup(event) {
    var feature = event.target.feature;

    var link = `<a href="https://www.openstreetmap.org/${feature.properties.type}/${feature.id}" target="_blank">https://www.openstreetmap.org/${feature.properties.type}/${feature.id}</a>`;
    var content = `${link}<br />`;

    var type = `<b>type</b> : ${feature.properties.type}`;
    content += `${type}<br />`;

    if (feature.properties.errors !== null) {
      var errors = `<div style='color:red'><b>errors</b> : ${feature.properties.errors}</div>`;
      content += errors;
    }

    if (feature.properties.warnings !== null) {
      var warnings = `<div style='color:orange'><b>warnings</b> : ${feature.properties.warnings}</div>`
      content += warnings;
    }    

    var tags = []
    for (var tag in feature.properties.tags) {
      tag_to_s = `<b>${tag}</b> : ${feature.properties.tags[tag]}`
      tags.push(tag_to_s)
    }
    tags = tags.join('<br />')
  
    content += `${tags}<br />`;
    
    var percentage = `<b>completeness</b> : ${feature.properties.completeness_pct}`;

    content += percentage;

    map.openPopup(content, event.latlng);
  }

  function onEachFeature(feature, layer) {
    layer.on({
      click: displayPopup
    });
  } 

</script>