<div id="campaign-map-detail">
  <div class="legend">
    <span><b>Completeness</b></span><br/>
    <i style="background-color:#00840d"></i> <span>100%</span><br/>
    <i style="background-color:#faff00"></i> <span>75%</span><br/>
    <i style="background-color:#ffe500"></i> <span>50%</span><br/>
    <i style="background-color:#FD9A08"></i> <span>25%</span><br/>
    <i style="background-color:#ff0000"></i> <span>0%</span><br/>
  </div>
</div>
<script>
  var s3_base_url = "https://s3-us-west-2.amazonaws.com/hotosm-fieldcampaigner-data-staging/campaigns/";
  var vt_url =  s3_base_url + "{{ uuid }}" + "/render/" + "{{ type_id }}" + "/tiles/{z}/{x}/{y}.pbf";
  mapboxgl.accessToken = 'pk.eyJ1Ijoid2lsbGUiLCJhIjoicFNVWk5VWSJ9.hluCd0YGvYHNlFi_utWe2g';
  map = new mapboxgl.Map({
    container: 'campaign-map-detail',
    style: 'mapbox://styles/mapbox/light-v10',
    center: [0, 0],
    zoom: 1
  });
  map.addControl(new mapboxgl.NavigationControl());

  map.on('load', function() {
    map.resize();
    map.addSource('tiles', {
      "type": "vector",
      "minzoom": 10,
      "maxzoom": 17,
      "tiles": [vt_url]
    });

    map.addSource('aoi', {
      "type": "geojson",
      "data": {{ geometry }}
    });
    // load aoi geometry layer
    map.addLayer({
      "id": "aoi-geometry",
      "type": "fill",
      "source": "aoi",
      "paint": {
        "fill-color": "#3388ff",
        "fill-opacity": 0.1
      }
    });
    map.addLayer({
      "id": "aoi-bounds",
      "type": "line",
      "source": "aoi",
      "paint": {
        "line-color": "#003278"
      }
    });
    // add campaign layers by type
    map.addLayer({
      "id": "campaign-polygons",
      "type": "fill",
      "source": "tiles",
      "source-layer": "campaign",
      "filter": ["in", "$type", "Polygon"],
      "paint": {
        "fill-color": ['get', 'completeness_color'],
        "fill-opacity": 1
      }
    });
    map.addLayer({
      "id": "campaign-lines",
      "type": "line",
      "source": "tiles",
      "source-layer": "campaign",
      "filter": ["in", "$type", "LineString"],
      "paint": {
        "line-color": ['get', 'completeness_color'],
        "line-opacity": 0.7
      }
    });
    map.addLayer({
      "id": "campaign-points",
      "type": "circle",
      "source": "tiles",
      "source-layer": "campaign",
      "filter": ["in", "$type", "Point"],
      "paint": {
        "circle-color": ['get', 'completeness_color'],
      }
    });

    var popup = new mapboxgl.Popup({
      closeButton: false,
      closeOnClick: false
    });
    map.on('mouseenter', 'aoi-bounds', function(e) {
      map.getCanvas().style.cursor = 'pointer';
      var description = `
      <h4>Area</h4>
      <div class="layer-group">
        <div class="layer-popup-area">
          <b>Area:</b> ${e.features[0].properties.area || '-'}
        </div>
        <div class="layer-popup-area">
          <b>Team:</b> ${e.features[0].properties.team || '-'}
        </div>
        <div class="layer-popup-area">
          <b>Status:</b> ${e.features[0].properties.status || '-'}
        </div>
      </div>
      `;
      popup.setLngLat(e.lngLat)
      .setHTML(description)
      .addTo(map);
    });
    map.on('mouseleave', 'aoi-bounds', function() {
      map.getCanvas().style.cursor = '';
      popup.remove();
    });
    map.fitBounds(extent({{ geometry }}), {padding: 40});
  });


  ["campaign-polygons", "campaign-lines", "campaign-points"].forEach(
    layer => {
      map.on('mouseenter', layer, () => {
        map.getCanvas().style.cursor = 'pointer';
      });

      map.on('mouseleave', layer, () => {
        map.getCanvas().style.cursor = '';
      });
    }
  );

  ["campaign-polygons", "campaign-lines", "campaign-points"].forEach(
    layer => {
      map.on('click', layer, e => displayPopup(e))
    }
  );

  function displayPopup(e) {
    var feature = e.features[0];
    var link = `
      <a href="https://www.openstreetmap.org/${feature.properties.type}/${feature.properties.id}" target="_blank">
        ${feature.properties.type} / ${feature.properties.id}
      </a>
    `;
    var content = `${link}<br />`;

    var percentage = `<b>Completeness</b>: ${feature.properties.completeness_pct}`;
    content += percentage;

    if (feature.properties.errors && feature.properties.errors !== "null") {
      var errors = `<div style='color:red'><b>Errors</b>: ${feature.properties.errors}</div>`;
      content += errors;
    }

    if (feature.properties.warnings && feature.properties.warnings !== "null") {
      var warnings = `<div style='color:orange'><b>warnings</b>: ${feature.properties.warnings}</div>`
      content += warnings;
    }

    var tags = Object.entries(JSON.parse(feature.properties.tags)).map(
      i => `<b>${i[0]}</b>: ${i[1]}`
    );
    tags = tags.join('<br />')
    content += `<p><i>${tags}</i></p>`;

    new mapboxgl.Popup()
      .setLngLat(e.lngLat)
      .setHTML(content)
      .addTo(map);
  }
</script>
