{% extends 'base.html' %}

{% block extra_head %}
<title>MapCampaigner - Forbidden</title>
{% endblock %}

{% block content %}
<div class="container container-fluid">
  <div class="row">
    <div class="col-xs-6 col-xs-offset-3 text-center">
      <h1>Approval Required!</h1>
      <p>In order to create or edit campaigns, you need to be a authorized campaign manager. Please review the Manager resources and register your OpenStreetMap username in order to be an approved manager.</p>
      <p>Go back to <a href="{{url_for('campaign_manager.campaigns_list', osm_id=0)}}">campaign listing</a>.</p>
    </div>
  </div>
</div>
{% endblock %}