{% extends 'new_base.html' %}
{% block extra_head %}
    <title>403 Forbidden</title>
{% endblock %}
{% block extra_css %}
{% endblock %}
{% block content %}
    <div style="height: 100%; width: 100%; text-align: center; margin-top: 100px">
        <div>
            <h1 style="margin-bottom: 50px">Approval Required!</h1>
            <h2 style="margin-bottom: 50px">In order to create or edit campaigns, you need to be a authorized campaign manager. Please review the Manager resources and register your OpenStreetMap username in order to be an approved manager.</h2>
            <h2 style="margin-bottom: 50px">Go back to <a href="/">Campaign listing</a></h2>
        </div>
    </div>
{% endblock %}
{% block extra_js %}
{% endblock %}