{% extends 'new_base.html' %}
{% block extra_head %}
    <title>403 Forbidden</title>
{% endblock %}
{% block extra_css %}
{% endblock %}
{% block content %}
    <div style="height: 100%; width: 100%; text-align: center; margin-top: 100px">
        <div>
            <h1 style="margin-bottom: 50px">Sorry!</h1>
            <h2 style="margin-bottom: 50px">The request was valid, but the server is refusing action. The user might not have the necessary permissions.</h2>
            <h2 style="margin-bottom: 50px">Please back to <a href="/">Home</a></h2>
        </div>
    </div>
{% endblock %}
{% block extra_js %}
{% endblock %}