{% extends 'new_base.html' %}
{% block extra_head %}
    <title>404 Not Found</title>
{% endblock %}
{% block extra_css %}
{% endblock %}
{% block content %}
    <div style="height: 100%; width: 100%; text-align: center; margin-top: 100px">
        <div>
            <h1 style="margin-bottom: 50px">Sorry!</h1>
            <h2 style="margin-bottom: 50px">The page you are looking for could not be found</h2>
            <h2 style="margin-bottom: 50px">Please back to <a href="/campaign_manager">Home</a></h2>
        </div>
    </div>
{% endblock %}
{% block extra_js %}
{% endblock %}