{% extends 'new_base.html' %}

{% block header_content %}
    <div class="home-header"><h1 style="font-weight: 700">ABOUT</h1></div>
{% endblock %}

{% block content %}
    <style>
    .page-title {
        font-weight: 600;
        margin-top: 40px;
    }
    .page-content {
        margin-left: 25px;
        font-size: 12pt;
    }
    </style>

    <div id="page-wrapper" class="panel-custom" style="background-color: white;">
        <div style="vertical-align: middle !important;">
        <div class="row">
            <h2 class="page-title">WHAT IS THIS?</h2>
            <div class="page-content">
                <p>The OSM Campaign Manager project aims to bring field data collectors and campaign managers together on a single platform.</p>
                <p>Campaign managers are confederate insights from various platforms to evaluate progress on field campaigns.</p>
                <p>Field data collectors are encouraged to participate in a campaign close to them.</p>
            </div>
        </div>
        <div class="row">
            <h2 class="page-title">WHO BUILT THIS PROJECT?</h2>
            <div class="page-content">
                <p>HOT &amp; <a href="http://www.kartoza.com">Kartoza</a></p>
            </div>
        </div>
        <div class="row">
            <h2 class="page-title">WHERE CAN I FIND THIS PROJECT?</h2>
            <div class="page-content"><p>You can find this project on <a href="https://github.com/hotosm/field-campaigner">Github</a></p></div>
        </div>
        </div>
    </div>
{% endblock %}
