{% extends 'new_base.html' %}

{% block extra_title %}
    - {{ name }}
{% endblock %}

{% block extra_head %}
    <meta property="og:type" content="website" />
    <meta property="og:title" content="Map Campaigner" />
    <meta property="og:description" content="{{ description }}" />
    <meta property="og:image"  content="/static/img/kartoza-logo.png" />
{% endblock %}

{% block header_content %}

    <script src="http://connect.facebook.net/en_US/all.js" async=""></script>

    <!-- Custom CSS -->
    <link href="/static/css/campaign-detail.css" rel="stylesheet">

{% endblock %}


{% block content %}

    <div class="row">
        <div class="col-lg-7">
            <h3 class="detail-campaign-name">{{ name }}</h3>
            {% if types %}
                {% for type, value in types.items() %}
                    <label class="detail-tag"> {{ value.type }} </label>
                {% endfor %}
            {% endif %}
            <p>
                {% if description %}
                    {{ description }}
                {% else %}
                    <span class="grey-italic">No description</span>
                {% endif %}
            </p>
        </div>
        <div class="col-lg-5">
            <div class="panel panel-default detail-panel-information">
                <div class="panel-body">
                    <div class="detail-campaign-status running">
                        <i class="fa fa-circle" aria-hidden="true"></i> <label>Running</label>
                    </div>
                    <div class="detail-campaign-timeline">
                        <span class="pull-left">
                            <i class="fa fa-calendar-o" aria-hidden="true"></i> <span class="grey-italic">Started</span> : {{ start_date_date }} {{ start_date_year }}
                        </span>
                        <span class="pull-right">
                            <i class="fa fa-calendar-o" aria-hidden="true"></i> <span class="grey-italic">Ends</span> : {{ end_date_date }} {{ end_date_year }}
                        </span>
                    </div>
                    <div class="detail-progress">
                        <div class="progress">
                            <div class="progress-bar" id="campaign-progress" role="progressbar" aria-valuenow="60" aria-valuemin="0" aria-valuemax="100">
                            </div>
                        </div>
                    </div>
                    <div class="detail-creator-info">
                        <p>
                            <span class="grey-italic">Creator : </span>
                            {{ campaign_creator }}</p>
                        <p>
                            <span class="grey-italic">Campaign Manager : </span>
                            <span class="text-muted">
                                {% if campaign_managers %}
                                    {% for campaign_manager in campaign_managers %}
                                        <a href="https://www.openstreetmap.org/user/{{ campaign_manager }}">{{ campaign_manager }}</a>
                                        {% if campaign_manager != campaign_managers[-1] %}
                                            ,
                                        {% endif %}
                                    {% endfor %}
                                {% else %}
                                    -
                                {% endif %}
                            </span>
                        </p>
                        <p>
                            <span class="grey-italic">Map:</span>
                            {% if map_type != '' and map_type != 'https://{s}.tile.openstreetmap.org/{z}/{x}/{y}.png' %}
                                <span id="map-default" style="display: none">
                                Default
                                </span>
                                <span id="map-custom">
                                Custom
                                </span>
                            {% else %}
                                <span id="map-default"></span>
                                Default
                            {% endif %}
                        </p>
                    </div>
                    <div class="detail-button-wrapper">
                        <div class="btn-group btn-share-group" role="group" aria-label="...">
                            <button type="button" class="btn btn-default" onclick="shareTweet('{{ uuid }}')"><i class="fa fa-twitter" aria-hidden="true"></i> Share</button>
                            <button type="button" class="btn btn-default" onclick="shareFacebook()"><i class="fa fa-facebook" aria-hidden="true"></i> Share</button>
                            <button type="button" class="btn btn-default" onclick="openOtherDataCollectonForm(this, 'Maps.me')"><i class="fa fa-mobile" aria-hidden="true"></i> Maps.me</button>
                            <button type="button" class="btn btn-default" onclick="openOtherDataCollectonForm(this, 'OpenMapKit')"><i class="fa fa-mobile" aria-hidden="true"></i> OpenMapKit</button>
                        </div>

                    </div>
                </div>
            </div>
        </div>
    </div>

    <div class="row">
        <div class="col-lg-12">
            <div class="panel panel-default detail-panel-information">
                <div class="panel-body">
                    <div class="row side-panel-wrapper">
                        <div class="col-lg-3 map-side-panel">
                            <div class="map-side-list row">
                                <div class="col-lg-10">
                                    <span class="pull-left map-side-list-name">
                                        Users engaged
                                    </span>
                                    <span class="pull-right map-side-list-number">
                                        <span id="contributors"><span class="grey-italic">Loading data...</span></span>
                                    </span>
                                </div>
                                <div class="col-lg-2 map-side-list-action">
                                    <div class="side-action">
                                        <i class="fa fa-eye-slash" aria-hidden="true"></i>
                                    </div>
                                </div>
                            </div>
                            <div class="map-side-list row">
                                <div class="col-lg-10">
                                    <span class="pull-left map-side-list-name">
                                        Features collected
                                    </span>
                                    <span class="pull-right map-side-list-number">
                                        <span id="features-collected"><span class="grey-italic">Loading data...</span></span>
                                    </span>
                                </div>
                                <div class="col-lg-2 map-side-list-action">
                                    <div class="side-action">
                                        <i class="fa fa-eye-slash" aria-hidden="true"></i>
                                    </div>
                                </div>
                            </div>
                        </div>
                        <div class="col-lg-9">
                            <div id="campaign-map-detail"></div>
                        </div>
                    </div>

                    <div class="insight-function-panel">
                        <ul class="nav nav-tabs insight-tabs" style="display: none;">
                        </ul>
                        <div class="tab-content insight-content">
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>

    <div class="advance-insights-wrapper"></div>

    <div class="advance-insights">
        <div class="row">
            <div class="col-lg-12">
                <div class="panel panel-default detail-panel-insights">
                    <div class="panel-heading">
                    </div>
                    <div class="panel-body">
                    </div>
                </div>
            </div>
        </div>
    </div>

    <div class="button-manage">
        <button class="btn btn-info btn-manage" onclick="location.href='/edit/{{ uuid }}'">Manage</button>
    </div>

{% endblock %}

{% block after_base_js %}

    <script src="/static/libs/chartjs/Chart.bundle.min.js"></script>

    <script type="text/javascript">

        var uuid = '{{ uuid }}';
        var managers = {{ campaign_managers|safe }};
        var selected_functions = {{ selected_functions | safe }};
        var total_features_collected = 0;

        var feature_type_collected = [];
        var feature_type_collected_count = 0;

        var campaign_types = null;
        {% if types %}
            campaign_types = {{ types | safe }};
        {% endif %}
        var start_date = "{{ start_date }}";
        var end_date = "{{ end_date }}";
        var remote_projects = {{ remote_projects|safe }};
        var addedLayers = {};
        var taskStatusFillColor = {
            'READY': '#FFFFFF',
            'MAPPED': '#FFE4B5',
            'INVALIDATED': '#D3D3D3',
            'VALIDATED': '#B0DE5C',
            'BADIMAGERY': '#d2a29e'
        };

        function renderRemoteProjects() {

            if (remote_projects.length === 0) {
                return;
            }

            var active = '';

            $('.insight-tabs').append(
                    '<li class="' + active + '">' +
                    '<a href="#remote-mapper-content" data-toggle="tab" aria-expanded="true">' +
                    'Remote Mapper' +
                    '</li>'
            );

            $('.insight-content').append(
                    '<div class="tab-pane fade in" id="remote-mapper-content">' +
                    '</div>'
            );

            for (var i = 0; i < remote_projects.length; i++) {
                var url = '/project-detail?projectId=' + remote_projects[i];
                $.ajax({
                    url: url,
                    success: function (data) {
                        try {
                            data = JSON.parse(data);
                        } catch (e) {
                            return;
                        }
                        var layerGroup = L.geoJSON([data['tasks']], {
                            style: function (feature) {
                                if (typeof taskStatusFillColor[feature.properties.taskStatus] !== 'undefined') {
                                    return {
                                        weight: 2,
                                        color: "#999",
                                        opacity: 1,
                                        fillColor: taskStatusFillColor[feature.properties.taskStatus],
                                        fillOpacity: 0.8
                                    }
                                }
                                return feature.properties && feature.properties.style;
                            },
                            onEachFeature: function (feature, layer) {
                                var popupContent = feature.properties.taskStatus;
                                layer.bindPopup(popupContent);
                            }
                        });
                        layerGroup.addTo(map);

                        addedLayers[data['projectId']] = layerGroup;

                        $('#remote-mapper-content').append(
                                '<div class="added-project well well-sm" onclick="showProjectMap(this, ' + data['projectId'] + ')">' +
                                '<div class="project-detail-name">' +
                                '#' + data['projectId'] + ' ' + data['projectInfo']['name'] + '' +
                                '</div>' +
                                '<div class="project-detail-desc">' +
                                data['projectInfo']['shortDescription'] +
                                '</div>' +
                                '</div>'
                        )
                    }
                });
            }
        }

        function showProjectMap(el, projectId) {
            var layer = addedLayers[projectId];
            map.fitBounds(layer.getBounds());
        }

        //------------------ EVENT ------------------//

        function loginSuccess(user) {
        }

        function updated(user) {
            renderInsightFunctionsTypes(user.display_name);
            var managers = {{ campaign_managers | safe }};
            // Shows manage button if current user is one of the manager
            if ($.inArray(user.display_name, managers) > -1) {
                $('.btn-manage').show();
            }
        }

        function loginError() {
            renderInsightFunctionsTypes('');
        }

        function logoutSuccess() {
            $('.btn-manage').hide();
            renderInsightFunctionsTypes('');
        }

        $(function () {
            window.isAuthenticated = auth.authenticated();
            if (!auth.authenticated()) {
                update();
            }

            calculateCampaignProgress();
        });

        var total_contributors = 0;
        function calculateContributors(feature) {
            var url = "/campaign/total_contributors/" + uuid + "/" + feature;
            $.ajax({
                url: url,
                success: function (response) {
                    if(typeof response['contributors_total'] !== 'undefined') {
                        total_contributors += parseInt(response['contributors_total']);
                        $('#contributors').html(total_contributors);
                    }
                }
            });
        }

        var useDefault = L.Control.extend({

            options: {
                position: 'topright'
            },

            onAdd: function (map) {
                var container = L.DomUtil.create('input', 'leaflet-bar leaflet-control leaflet-control-custom');

                container.type = 'button';
                container.title = 'switch to default map';
                container.value = 'use default map';
                container.onclick = function () {
                    chooseDefault();
                };

                return container;
            }
        });

        var useCustom = L.Control.extend({
            options: {
                position: 'topright'
            },

            onAdd: function (map) {
                var container = L.DomUtil.create('input', 'leaflet-bar leaflet-control leaflet-control-custom');

                container.type = 'button';
                container.title = 'switch to custom map';
                container.value = 'use custom map';
                container.onclick = function () {
                    chooseCustom();
                };

                return container;
            }
        });

        function chooseDefault() {
            custom_map.removeFrom(map);
            default_map = L.tileLayer('https://{s}.tile.openstreetmap.org/{z}/{x}/{y}.png', {
                attribution: '© <a href="http://www.openstreetmap.org" target="_parent">OpenStreetMap</a> and contributors, ' +
                'under an <a href="http://www.openstreetmap.org/copyright" target="_parent">open license</a>',
                maxZoom: 20
            }).addTo(map);
            document.getElementById('map-custom').classList.add('hide');
            document.getElementById('map-default').classList.add('show');
            document.getElementById('map-custom').classList.remove('show');
            map.removeControl(switchMap);
            map.addControl(switchCustom)
        }

        function chooseCustom() {
            default_map.removeFrom(map);
            custom_map.addTo(map);
            document.getElementById('map-custom').classList.add('show');
            document.getElementById('map-default').classList.remove('show');
            document.getElementById('map-default').classList.add('hide');
            map.removeControl(switchCustom);
            map.addControl(switchMap)
        }

        var drawnItems = new L.FeatureGroup();
        var map = L.map('campaign-map-detail').setView([0, 0], 1);
        var map_type = '{{ map_type }}';
        var attribution = '{{ attribution|safe }}';
        if (!map_type) {
            L.tileLayer('https://{s}.tile.openstreetmap.org/{z}/{x}/{y}.png', {
                attribution: '© <a href="http://www.openstreetmap.org" target="_parent">OpenStreetMap</a> and contributors, ' +
                'under an <a href="http://www.openstreetmap.org/copyright" target="_parent">open license</a>',
                maxZoom: 20
            }).addTo(map);
        }
        else {
            var default_map;
            var custom_map = L.tileLayer(map_type, {
                attribution: attribution,
                maxZoom: 20
            }).addTo(map);
            var switchMap = new useDefault();
            var switchCustom = new useCustom();
            map.addControl(switchMap);
        }

        {% if geometry %}
            drawnItems = L.geoJSON(
                    $.parseJSON('{{ geometry|safe }}'), {
                        style: {
                            weight: 1,
                        }
                    });
            map.addLayer(drawnItems);
            map.fitBounds(drawnItems.getBounds());
        {% endif %}

        function highlightFeature(e) {
            var layer    = e.target;

            layer.setStyle({
                weight: 3,
                dashArray: '3',
                fillOpacity: 1
            });

            if (!L.Browser.ie && !L.Browser.opera && !L.Browser.edge) {
                layer.bringToFront();
            }
            coverage_info.update(layer.feature.properties);
        }
        function resetHighlight(e) {
            coverage_layer.resetStyle(e.target);
            coverage_info.update();
        }
        function zoomToFeature(e) {
            map.fitBounds(e.target.getBounds());
        }

        function shareTweet(uuid) {
            var host = window.location.origin;
            var windowReference = window.open('', '_blank', 'location=yes,height=570,width=520,scrollbars=yes,status=yes');
            windowReference.location = 'https://twitter.com/intent/tweet?text=Check out this campaign! %23MapCampaigner %0A' +
                    host + '/campaign/' + uuid;
        }

        function shareFacebook() {
            var url = 'https://www.facebook.com/sharer/sharer.php?';
            url += 'u='+document.URL;
            url += '&amp;src=sdkpreparse&';
            url += '&quote=Check+out+this+campaign+!';

            window.open(url,'popup','width=600,height=500');
            return false;
        }

        // Apps
        var isMobile = {
            Android: function () {
                return /Android/i.test(navigator.userAgent);
            },
            iOS: function () {
                return /iPad|iPhone|iPod/.test(navigator.userAgent) && !window.MSStream;
            },
            any: function () {
                return (isMobile.Android() || isMobile.BlackBerry() || isMobile.iOS() || isMobile.Windows());
            }
        };

        var formLink = {
            "OpenMapKit": {
                Windows: '',
                Android: 'https://play.google.com/store/apps/details?id=org.redcross.openmapkit',
                BlackBerry: '',
                iOS: ''
            },
            "Maps.me": {
                Windows: '',
                Android: 'https://play.google.com/store/apps/details?id=com.mapswithme.maps.pro',
                BlackBerry: '',
                iOS: 'https://itunes.apple.com/app/id510623322'
            }
        };

        function openOtherDataCollectonForm(element, app) {
            var appUrl = '';
            if (isMobile.Android()) {
                appUrl = formLink[app]['Android'];
            } else if (isMobile.iOS()) {
                appUrl = formLink[app]['iOS'];
            }

            if(appUrl) {
                window.open(appUrl, '_blank');
            } else {
                showNotifications(app + ' is not available in your current device', 'danger');
            }
        }

    </script>

    <script src="/static/js/detail/insight_functions.js"></script>

{% endblock %}