{% extends 'base.html' %}
{% set active_page = "contributors" %}

{% block extra_title %}
- {{ name }}
{% endblock %}

{% block header_content %}
<link href="/static/css/campaign-detail.css" rel="stylesheet">
{% endblock %}

{% block subhead %}
{% include 'components/project_header.html' %}
{% endblock %}

{% block content %}
<div class="row">
  <div class="col-lg-9">
    <h2>Contributors Monitored: {{ campaign_contributors | length }} </h2>
  </div>
  <div class="show-ranking">
    <label class="toggle-switch active">
      <input type="checkbox" checked=""> Showing ranking
    </label>
  </div>
</div>

{% if True %}
<div class="row">
  <div class="col-lg-6">
    <a class="pull-left" href="#">
      <img class="media-object" src="https://placehold.it/560x304/A8B7C1" alt="">
    </a>
  </div>
  {% include 'campaign_detail/contributors_ranking.html' %}
</div>
{% else %}
<div class="row">
  <div class="col-lg-6" style="padding: 0">
    {% include 'campaign_detail/contributors_monitored.html' %}
  </div>
  {% include 'campaign_detail/contributors_ranking.html' %}
</div>
{% endif %}

{% endblock %}
