{% extends 'base.html' %}
{% set active_page = "contributors" %}

{% block extra_title %}
- {{ name }}
{% endblock %}

{% block header_content %}
<link href="/static/css/campaign-detail.css" rel="stylesheet">
{% endblock %}

{% block subhead %}
{% include 'components/project_header.html' %}
{% endblock %}

{% if True %}
<div class="row">
  <div class="col-lg-9">
    <h2>Total Contributors: {{ total_contributors }} </h2>
  </div>
  <div class="show-ranking">
    <label class="toggle-switch active">
      <input type="checkbox" checked=""> Showing ranking
    </label>
  </div>
</div>
<div class="row">
  <div class="col-lg-6">
    <a class="pull-left" href="#">
      <img class="media-object" src="https://placehold.it/560x304/A8B7C1" alt="">
    </a>
  </div>
  <div class="col-lg-6">
    <div class="panel panel-tile" style="height: 304px">
          <div class="container-fluid">
            <div class="row">
              <div class="col-xs-12">
                <h4 class="panel-name">Contribution Ranking</h4>
                <p class="panel-subhead">Based on total changesets made</p>
                <span class="progress-label">user366</span>
                <div class="progress progress-rank">
                  <div class="progress-bar" id="campaign-progress" role="progressbar" aria-valuenow="90" aria-valuemin="0" aria-valuemax="100" style="width:90%">
                  </div>
                  <span class="progress-value">&nbsp;134</span>
                </div>
                <span class="progress-label">user7365</span>
                <div class="progress progress-rank">
                  <div class="progress-bar" id="campaign-progress" role="progressbar" aria-valuenow="79" aria-valuemin="0" aria-valuemax="100" style="width:79%">
                  </div>
                  <span class="progress-value">&nbsp;121</span>
                </div>
                <span class="progress-label">user2</span>
                <div class="progress progress-rank">
                  <div class="progress-bar" id="campaign-progress" role="progressbar" aria-valuenow="64" aria-valuemin="0" aria-valuemax="100" style="width:64%">
                  </div>
                  <span class="progress-value">&nbsp;107</span>
                </div>
                <span class="progress-label">user2848</span>
                <div class="progress progress-rank">
                  <div class="progress-bar" id="campaign-progress" role="progressbar" aria-valuenow="50" aria-valuemin="0" aria-valuemax="100" style="width:50%">
                  </div>
                  <span class="progress-value">&nbsp;96</span>
                </div>
                <span class="progress-label">user23</span>
                <div class="progress progress-rank">
                  <div class="progress-bar" id="campaign-progress" role="progressbar" aria-valuenow="24" aria-valuemin="0" aria-valuemax="100" style="width:24%">
                  </div>
                  <span class="progress-value">&nbsp;82</span>
                </div>
              </div>
            </div>
          </div>
        </div>
  </div>
</div>

{% else %}
  <div class="row">
  <div class="col-lg-9">
    <h2>Contributors Monitored: {{ total_contributors }} </h2>
  </div>
  <div class="show-ranking">
    <label class="toggle-switch active">
      <input type="checkbox" checked=""> Showing ranking
    </label>
  </div>
</div>
<div class="row">
  <div class="col-lg-6" style="padding: 0">
    {% include 'campaign_detail/contributors_monitored.html' %}
  </div>
  <div class="col-lg-6">
    <div class="panel panel-tile" style="height: 304px">
          <div class="container-fluid">
            <div class="row">
              <div class="col-xs-12">
                <h4 class="panel-name">Contribution Ranking</h4>
                <p class="panel-subhead">Based on total changesets made</p>
                <span class="progress-label">user366</span>
                <div class="progress progress-rank">
                  <div class="progress-bar" id="campaign-progress" role="progressbar" aria-valuenow="90" aria-valuemin="0" aria-valuemax="100" style="width:90%">
                  </div>
                  <span class="progress-value">&nbsp;134</span>
                </div>
                <span class="progress-label">user7365</span>
                <div class="progress progress-rank">
                  <div class="progress-bar" id="campaign-progress" role="progressbar" aria-valuenow="79" aria-valuemin="0" aria-valuemax="100" style="width:79%">
                  </div>
                  <span class="progress-value">&nbsp;121</span>
                </div>
                <span class="progress-label">user2</span>
                <div class="progress progress-rank">
                  <div class="progress-bar" id="campaign-progress" role="progressbar" aria-valuenow="64" aria-valuemin="0" aria-valuemax="100" style="width:64%">
                  </div>
                  <span class="progress-value">&nbsp;107</span>
                </div>
                <span class="progress-label">user2848</span>
                <div class="progress progress-rank">
                  <div class="progress-bar" id="campaign-progress" role="progressbar" aria-valuenow="50" aria-valuemin="0" aria-valuemax="100" style="width:50%">
                  </div>
                  <span class="progress-value">&nbsp;96</span>
                </div>
                <span class="progress-label">user23</span>
                <div class="progress progress-rank">
                  <div class="progress-bar" id="campaign-progress" role="progressbar" aria-valuenow="24" aria-valuemin="0" aria-valuemax="100" style="width:24%">
                  </div>
                  <span class="progress-value">&nbsp;82</span>
                </div>
              </div>
            </div>
          </div>
        </div>
  </div>
</div>

{% endif %}

{% endblock %}
