{% extends 'base.html' %}
{% set active_page = "features" %}

{% block extra_title %}
- {{ name }}
{% endblock %}

{% block subhead %}
{% include 'components/project_header.html' %}
{% endblock %}

{% block content %}
<div class="row" style="margin-bottom: 32px;">
  <div class="col-xs-12">
    <h2 class="pull-left">Feature Types</h2>
    <label class="toggle-switch active pull-right">
      <input type="checkbox" checked id="check-show-map"> Show map
    </label>
  </div>
</div>
<div class="row">
  <div id="features-list" class="col-xs-12 col-md-6">
    <div class="row">
    {% for type in types %}
    <div class="col-xs-12 col-md-6">
      <div class="panel panel-tile">
        <div class="container-fluid">
          <div class="row">
            <div class="col-xs-12">
              <h4 class="panel-name">
                {% if types[type]['element_type'] == 'Polygon' %}
                {% include 'svgs/polygon.html' %}
                {% elif types[type]['element_type'] == 'Point' %}
                {% include 'svgs/point.html' %}
                {% else %}
                {% include 'svgs/line.html' %}
                {% endif %}
                {{ types[type]['type'] }}
              </h4>
              <a href="" class="panel-more-button">
                {% include 'svgs/right_arrow.html' %}
              </a>
            </div>
          </div>
          <div class="row">
            <div class="col-xs-12">
              <span class="panel-total-label">Total features checked</span>
              <strong class="panel-total text-center">{{ types[type]['feature_count'] }}</strong>
            </div>
          </div>
          <div class="row">
            <div class="col-xs-12">
              <p><b>{{ (types[type]['complete']/types[type]['feature_count']*100)|round|int }}%</b> <span class="panel-info">Attributes completeness</span> <span class="pull-right">{{ types[type]['complete'] }}/{{ types[type]['feature_count'] }}</span></p>
              <div class="progress">
                <div class="progress-bar" id="campaign-progress" role="progressbar" aria-valuenow="{{ (types[type]['complete']/types[type]['feature_count']*100)|round|int }}" aria-valuemin="0" aria-valuemax="100" style="width:{{ (types[type]['complete']/types[type]['feature_count']*100)|round|int }}%">
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
    {% endfor %}
  </div>
  </div>
  <div class="col-xs-12 col-md-6">
    <div id="campaign-map"></div>
  </div>
</div>
{% endblock %}

{% block after_base_js %}
<script type="text/javascript">
  var map = L.map('campaign-map').setView([0, 0], 2);
  L.tileLayer('{{ map_provider }}', {
    maxZoom: 15
  }).addTo(map);
  $('#check-show-map').click(function () {
    if ($(this).is(':checked')) {
      $('#campaign-map').show();
      $('#features-list').addClass('col-md-6').removeClass('col-md-12')
      $(this).parents(".toggle-switch").addClass('active');
    } else {
      $('#campaign-map').hide();
      $('#features-list').addClass('col-md-12').removeClass('col-md-6')
      $(this).parents(".toggle-switch").removeClass('active');
    }
  });
</script>
{% endblock %}