{% extends 'base.html' %}
{% set active_page = "create" %}

{% block content %}

<div class="row">
  <div class="col-xs-12">
    <h1>Create Project</h1>
    <ul class="nav nav-tabs step-tabs">
      <li class="active"><a href="#general-information" data-toggle="tab">General Information</a></li>
      <li><a href="#area-of-interest" data-toggle="tab">Area of Interest (AOI)</a></li>
      <li><a href="#features-and-attributes" data-toggle="tab">Features &amp; Attributes</a></li>
      <li><a href="#settings" data-toggle="tab">Settings</a></li>
    </ul>
  </div>
</div>
<div id="create-notification-holder"></div>
<form id="campaign-form" method="POST" action="{{ url }}" role="form">
  {{ form.hidden_tag() }}
  <div class="row">
    <div class="col-xs-12 col-sm-6">
      <div class="tab-content">
        <div class="tab-pane active" id="general-information">
          <fieldset id="fieldset-1" data-fieldset-step="1">
            <div class="form-group">
              <label for="project-name">Project Name <span class="required">*</span></label>
              {{ form.name }}
              <p class="help-block">A project name is required.</p>
            </div>
            <div class="form-group form-date">
              <label for="start-date">Start Date <span class="required">*</span></label>
              {{ form.start_date }}
              <p class="help-block">A start date is required.</p>
            </div>
            <div class="form-group form-date pull-right">
              <label for="end-date">End Date <span class="required">*</span></label>
              {{ form.end_date }}
              <p class="help-block">An end date is required.</p>
            </div>
            <div class="form-group">
              <label for="description">Description</label></label>
              {{ form.description }}
            </div>
            <input id="campaign_status" title="campaign_status" name="campaign_status" style="display: none;" />
            <input id="user_id" title="user_id" name="user_id" style="display: none;" />
          </fieldset>
          <div class="form-footer">
          <a class="btn btn-primary btn-next pull-right">Next</a>
          </div>
        </div>
        <div class="tab-pane" id="area-of-interest">
          <fieldset id="fieldset-2" data-fieldset-step="2">
            <div class="form-group">
              <p>Option 1: Set your AOI by using the drawing tools on the map</p>
              <a class="btn btn-default btn-lg btn-expand" data-toggle="modal" data-target="#map-draw-modal">
                Draw on the map {% include 'svgs/right_arrow.html' %}
              </a>
              {% include 'modals/modal_draw_on_map.html' %}
            </div>
            <div class="form-group">
              <p>Option 2: Upload files to define your AOI (.geojson or .zip containing .shp, .shx, .dbf)</p>
              {% include 'campaign_widget/ui/upload_file.html' %}
            </div>
            <div style="display:none;" class="area-table">
              <div class="area-table-title">
                <label>Label and Assign Campaign Areas (Optional)</label>
              </div>
              <div class="area-table-list"></div>
            </div>
          </fieldset>
          <div class="form-footer">
            <a class="btn btn-previous btn-default">Back</a>
          <a class="btn btn-primary btn-next pull-right">Next</a>
          </div>
        </div>
        <div class="tab-pane" id="features-and-attributes">
          <fieldset id="fieldset-3" data-fieldset-step="3">
            <div class="form-group">
              <a id="btn-add" class="btn btn-default btn-lg btn-expand" data-toggle="modal" data-target="#custom-types-tags">
                Add a feature {% include 'svgs/right_arrow.html' %}
              </a>
            </div>
            <div class="row">
              <div class="col-xs-12">
                <select style="display:none;" id="types" multiple="" name="types"></select>
                <div style="display:none;" class="row">
                  <div class="form-body col-lg-4">
                    <div class="form-group">
                      <label for="types">Types</label><span class="help-block">Add at least one campaign type</span>
                      <div class="types-required-message">This field is required</div>
                    </div>
                  </div>
                </div>
                <div id="typesTagsContainer"></div>
              </div>
            </div>
            <div class="form-footer">
              <a class="btn btn-previous btn-default">Back</a>
              <a class="btn btn-primary btn-next pull-right">Next</a>
            </div>
          </fieldset>
        </div>
        <div class="tab-pane" id="settings">
          <fieldset id="fieldset-4" data-fieldset-step="4">
            <div class="panel-group" id="accordion" role="tablist" aria-multiselectable="true">
              <div class="panel panel-default">
                <div class="panel-heading" role="tab" id="project-managers-heading">
                  <h4 class="panel-title">
                    <a role="button" class="collapsed" data-toggle="collapse" data-parent="#accordion" href="#project-managers" aria-expanded="true" aria-controls="project-managers">
                      Project managers
                      <span class="expand-icon pull-right">
                        {% include 'svgs/down_arrow.html' %}
                      </span>
                    </a>
                  </h4>
                </div>
                <div id="project-managers" class="panel-collapse collapse in" role="tabpanel" aria-labelledby="project-managers-heading">
                  <div class="panel-body">
                    <div class="container-fluid">
                      <div class="row">
                        <div class="form-body">
                          <div class="form-group">
                            <input class="search-input" type="text" id="search-osm-manager" placeholder="Search OpenStreetMap Users" />
                            <div style="display: none;" id="users-loading-manager" class="panel-search">Searching...</div>
                            <div style="display: none;" id="users-not-found-manager" class="panel-search">No users found.</div>
                            <div style="display: none;" id="users-found-manager" class="panel-search">
                              <ul id="osm-users-list-manager"></ul>
                            </div>
                            <div id="managers-list" class="osm-user-list"></div>
                            <input id="campaign_managers" name="campaign_managers" type="hidden" />
                            <p class="helock"></p>
                          </div>
                        </div>
                      </div>
                    </div>
                  </div>
                </div>
              </div>
              <div class="panel panel-default">
                <div class="panel-heading" role="tab" id="project-viewers-heading">
                  <h4 class="panel-title">
                    <a role="button" class="collapsed" data-toggle="collapse" data-parent="#accordion" href="#project-viewers" aria-expanded="true" aria-controls="project-viewers">
                      Project viewers
                      <span class="expand-icon pull-right">{% include 'svgs/down_arrow.html' %}</span>
                    </a>
                  </h4>
                </div>
                <div id="project-viewers" class="panel-collapse collapse" role="tabpanel" aria-labelledby="project-viewers-heading">
                  <div class="panel-body">
                    <div class="container-fluid">
                      <div class="row">
                        <div class="form-body">
                          <div class="form-group">
                            <input class="search-input" type="text" id="search-osm-viewer" placeholder="Search OpenStreetMap Users" />
                            <div style="display: none;" id="users-loading-viewer" class="panel-search">Searching...</div>
                            <div style="display: none;" id="users-not-found-viewer" class="panel-search">No users found.</div>
                            <div style="display: none;" id="users-found-viewer" class="panel-search">
                              <ul id="osm-users-list-viewer"></ul>
                            </div>
                            <div id="viewers-list" class="osm-user-list"></div>
                            <input id="campaign_viewers" name="campaign_viewers" type="hidden" />
                            <p class="helock"></p>
                          </div>
                        </div>
                      </div>
                    </div>
                  </div>
                </div>
              </div>
              <div class="panel panel-default">
                <div class="panel-heading" role="tab" id="contributors-heading">
                  <h4 class="panel-title">
                    <a role="button" class="collapsed" data-toggle="collapse" data-parent="#accordion" href="#contributors" aria-expanded="true" aria-controls="contributors">
                      Contributors monitored
                      <span class="expand-icon pull-right">{% include 'svgs/down_arrow.html' %}</span>
                    </a>
                  </h4>
                </div>
                <div id="contributors" class="panel-collapse collapse" role="tabpanel" aria-labelledby="contributors-heading">
                  <div class="panel-body">
                    <div class="container-fluid">
                      <div class="row">
                        <div class="form-body">
                          <div class="form-group">
                            <input class="search-input" type="text" id="search-osm-contributor" placeholder="Search OpenStreetMap Users" />
                            <div style="display: none;" id="users-loading-contributor" class="panel-search">Searching...</div>
                            <div style="display: none;" id="users-not-found-contributor" class="panel-search">No users found.</div>
                            <div style="display: none;" id="users-found-contributor" class="panel-search">
                              <ul id="osm-users-list-contributor"></ul>
                            </div>
                            <div id="contributors-list" class="osm-user-list"></div>
                            <input id="campaign_contributors" name="campaign_contributors" type="hidden" />
                            <p class="helock"></p>
                          </div>
                        </div>
                      </div>
                    </div>
                  </div>
                </div>
              </div>
              <div class="panel panel-default">
                <div class="panel-heading" role="tab" id="custom-basemap-heading">
                  <h4 class="panel-title">
                    <a role="button" class="collapsed" data-toggle="collapse" data-parent="#accordion" href="#custom-basemap" aria-expanded="true" aria-controls="custom-basemap">
                      Custom Basemap
                      <span class="expand-icon pull-right">{% include 'svgs/down_arrow.html' %}</span>
                    </a>
                  </h4>
                </div>
                <div id="custom-basemap" class="panel-collapse collapse" role="tabpanel" aria-labelledby="custom-basemap-heading">
                  <div class="panel-body">
                    <div class="form-group map-input">
                      {{ form.map_type }}
                      {% if form['errors'] %}
                      <p class="error-form">
                        {% if form['errors'].map_type %}
                        {{ form['errors'].map_type[0] }}
                        {% endif %}
                      </p>
                      {% endif %}
                      <p class="help-block">Input <a data-toggle="tooltip" data-title="example: https://{s}.tile.openstreetmap.org/{z}/{x}/{y}.png">map url</a> to change map display, leave blank to use default</p>
                    </div>
                  </div>
                </div>
              </div>
            </div>
          </fieldset>
          <div class="form-footer">
            <a class="btn btn-previous btn-default">Back</a>
          <button id="submit" name="submit" type="submit" class="btn btn-primary pull-right submit-button">Submit</button>
          </div>
        </div>
      </div>
    </div>
    <div class="col-xs-12 col-sm-6">
      <div id="campaign-map-display"></div>
    </div>
  </div>
  <div class="row">
    <fieldset id="fieldset-5" data-fieldset-step="5" style="display: none;">
      <div class="row insight-functions">
        <div class="form-body col-lg-12">
          <div class="form-group">
            <div id="insight-function" class="function-wrapper">
              <label class="category-label">Insight Functions</label>
              <div class="function-form"></div>
              <button id="insight-function-add" class="btn btn-outline btn-add-coverage" type=button onclick="addFunction(this)">
                Add Function
              </button>
            </div>
          </div>
        </div>
      </div>
    </fieldset>
  </div>
</form>

{% include 'modals/modal_main.html' %}

{% endblock %}

{% block after_base_js %}
<script type="text/javascript">

  // Validate all inputs inside .tab-pane elements when they change
  document.addEventListener("DOMContentLoaded", ()=>{
    Array.from(document.querySelectorAll('input')).forEach(el=>{
      const pane = el.closest('.tab-pane');
      if (!pane) return;
      const tab = document.querySelector('a[href="#' + pane.id + '"]');
      const formGroup = el.closest('.form-group');
      el.addEventListener('change', e=>{
        const isValid = el.checkValidity();
        if (!isValid) {
          formGroup.classList.add('has-error');
          tab.parent().querySelector('.valid-icon').remove();
        }
      });
      el.addEventListener('focus', removeError);
    });
  })

  $('.step-tabs').find('a').on('hide.bs.tab', function (e) {
    const tabLink = e.target;
    const tabId = tabLink.href.split('#')[1];
    const tabToValidate = document.querySelector('#'+tabId);
    const currentFieldset = tabToValidate.querySelector('fieldset');
    if (!currentFieldset) return;

    const hasValidIcon = !!$(this).parent().find('.valid-icon')[0];
    const step = currentFieldset.dataset.fieldsetStep;
    const isStepValid = checkSteps(step);
    if (isStepValid) {
      const validIcon = $("#_template-valid-icon").html();
      if (!hasValidIcon) $(this).parent().append(validIcon);
      return true;
    } else {
      if (hasValidIcon) $(this).parent().find('.valid-icon').remove();
      e.preventDefault();
      return false;
    }
  });

  $('.btn-next').click(function () {
    $('.step-tabs > .active').next('li').find('a').trigger('click');
  });
  $('.btn-previous').click(function () {
    $('.step-tabs > .active').prev('li').find('a').trigger('click');
  });

  var taskStatusFillColor = {
    'READY': '#FFFFFF',
    'unassigned': '#D3D3D3',
    'MAPPED': '#FFE4B5',
    'INVALIDATED': '#D3D3D3',
    'VALIDATED': '#B0DE5C',
    'complete': '#B0DE5C',
    'incomplete': '#FFE4B5',
    'BADIMAGERY': '#d2a29e'
  };

  var remaining_days = 0;

  if (start_date === 'None' || end_date === 'None') {
    remaining_days = 0;
  } else {
    end_date = moment(end_date.split(' ')[0], 'YYYY-MM-DD', true);
    remaining_days = end_date.diff(moment(), 'days') + 1;
  }

  if (remaining_days > 0) {
    $('#campaign-active').show();
  } else {
    $('#campaign-inactive').show();
  }

  $('#link-to-omk-form').click(function () {
    if ($(this).children(':checked')[0]) {
      $(this).addClass('active');
    } else {
      $(this).removeClass('active');
    }
  });
</script>

<script type="text/javascript" src="/static/js/leaflet.draw-0.4.9/leaflet.draw.js"></script>
<script src="//cdnjs.cloudflare.com/ajax/libs/underscore.js/1.8.3/underscore-min.js"></script>
<script src="https://cdnjs.cloudflare.com/ajax/libs/js-yaml/3.12.0/js-yaml.min.js"></script>
<script type="text/javascript" src="/static/libs/jquery.throttle-debounce.min.js"></script>
<script type="text/javascript" src="/static/js/create/map.js"></script>

<script type="text/javascript" src="/static/js/create/types_tags.js"></script>
<script type="text/javascript" src="/static/js/create/modal.js"></script>
<script type="text/javascript" src="/static/js/create/campaign-json-handler.js"></script>

<script type='text/template' id='_template-function-form'>
  <div class="well well-sm">
    <div class="function-form-row row tooltip-help" id="function-<%=index%>">
      <div class="col-lg-1">
        <button class="btn btn-danger btn-sm btn-block" type=button onclick="removeFunction(this)">
          <i class="fa fa-minus"></i>
        </button>
      </div>
      <div class="col-lg-3">
        <select class="form-control function-selection" data-toggle="tooltip" data-placement="top" data-original-title="Select insight function" onchange="functionOnSelected(this)">
          <option value="">-------------------</option>
            {% for key, value in functions.items() %}
              <option value="{{ key }}">{{ value.name }}</option>
            {% endfor %}
        </select>
      </div>
      <div class="col-lg-2">
        <input class="form-control function-type" data-toggle="tooltip" data-placement="top" data-original-title="Put feature to extract">
      </div>
      <div class="col-lg-2">
        <input class="form-control function-feature" data-toggle="tooltip" data-placement="top" data-original-title="Put feature to extract">
      </div>
      <div class="col-lg-2">
        <input class="form-control function-attributes" data-toggle="tooltip" data-placement="top" data-original-title="Additional attributes for this function">
      </div>
    </div>
  </div>
</script>

<script type='text/template' id='_template-valid-icon'>
  <span class="valid-icon">
    <svg width="24" height="24" viewBox="0 0 24 24" fill="none" xmlns="http://www.w3.org/2000/svg">
      <path fill-rule="evenodd" clip-rule="evenodd" d="M12 22C17.5228 22 22 17.5228 22 12C22 6.47715 17.5228 2 12 2C6.47715 2 2 6.47715 2 12C2 17.5228 6.47715 22 12 22Z" fill="#40BB95"/>
      <path d="M18.5 8L10.5 16L5.5 11" stroke="white" stroke-width="2" stroke-linecap="round"/>
    </svg>
  </span>
</script>

<script type='text/template' id='_template-feature-tile'>

<div class="row" id="<%=slug%>-feature-tile">
  <div class="col-xs-12">
    <div class="panel panel-tile">
      <div class="container-fluid">
        <div class="row">
          <div class="col-xs-12">
            <h4 class="panel-name">
              {% include 'svgs/point.html' %}
              <%=name%>
            </h4>
            <p class="panel-info"><%=osmFeature%></p>
            <a href="#" class="panel-more-button btn-remove-type" onclick="removeTags(this, '<%=slug%>')">
              {% include 'svgs/right_arrow.html' %}
            </a>
          </div>
        </div>
        <div class="row">
          <div class="col-xs-12 row-tags-wrapper">
            <div class="row-tags feature-tags"></div>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
</script>

<script type='text/template' id='_template-osm-user'>
  <span class="osm-user" data-user-type="<%=type%>" data-osm-user="<%=slugify(name)%>">
    <span class="osm-user-icon" aria-hidden="true"><%=name[0]%>
      <% if (!isCreator) { %>
        <span class="remove-osm-user" onclick="removeOsmUser(this, '<%=slugify(name)%>', '<%=type%>')">Remove</span>
      <% } %>
    </span>
    <span class="osm-user-name"><%=name%></span>
  </span>
</script>

<script type="text/javascript">
  typesOptions = '{{ form.types_options }}';
  var initialLoad = true;
  var selectedFunctions = [];
  var types = {{ types| safe }};
  var selected_types_data = {};
  {% if form.types.data %}
  selected_types_data = {{ form.types.data | safe }};
  addMultipleTypes(selected_types_data);
  {% endif %}
  initialLoad = false;

  var remote_projects_list = [];
  {% if form.remote_projects.data %}
  remote_projects_list = {{ form.remote_projects.data | safe }};
  {% endif %}


  var managers_list = [];
  {% if form.campaign_managers.data %}
  managers_list = {{ form.campaign_managers.data | safe }};
  managers_list = managers_list.map(manager=>{
    const name = manager.name || manager;
    const osm_id = manager.osm_id || '';
    return { name, osm_id }
  })
  {% endif %}

  var viewers_list = [];
  {% if form.campaign_viewers.data %}
  viewers_list = {{ form.campaign_viewers.data | safe }};
  {% endif %}

  var contributors_list = [];
  {% if form.campaign_contributors.data %}
  contributors_list = {{ form.campaign_contributors.data | safe }};
  {% endif %}

  {% if campaign_creator %}
  var campaign_creator = '{{ campaign_creator }}';
  {% endif %}

  function updateManagerList() {
    $('#managers-list').html('');
    if (managers_list.length > 0) {
      $.each(managers_list, function (index, manager) {
        const name = manager.name || manager;
        const managerTemplate = _.template($("#_template-osm-user").html());
        const managerEl = managerTemplate({
          name,
          isCreator: typeof campaign_creator !== 'undefined' && name == campaign_creator,
          type: 'manager'
        });
        $('#managers-list').append(managerEl);
      })
      $('#campaign-managers').val(JSON.stringify(managers_list));
    }
  }
  function updateViewerList() {
    $('#viewers-list').html('');
    if (viewers_list.length > 0) {
      $.each(viewers_list, function (index, viewer) {
        const name = viewer.name;
        const viewerTemplate = _.template($("#_template-osm-user").html());
        const viewerEl = viewerTemplate({name, type: 'viewer', isCreator: false});
        $('#viewers-list').append(viewerEl);
      })
      $('#campaign-viewers').val(JSON.stringify(viewers_list));
    }
  }
  function updateContributorList() {
    $('#contributors-list').html('');
    if (contributors_list.length > 0) {
      $.each(contributors_list, function (index, contributor) {
        const name = contributor.name;
        const contributorTemplate = _.template($("#_template-osm-user").html());
        const contributorEl = contributorTemplate({name, type: 'contributor', isCreator: false});
        $('#contributors-list').append(contributorEl);
      })
      $('#campaign-viewers').val(JSON.stringify(contributors_list));
    }
  }
  $('#form-panel').hide();
  $(function () {
    updateManagerList();
    updateViewerList();
    updateContributorList();
  });

  function removeOsmUser(e, name, type) {
    if (type === 'manager') {
      managers_list = managers_list.filter(manager=>slugify(manager.name) !== slugify(name));
    } else if (type === 'viewer') {
      viewers_list = viewers_list.filter(viewer=>slugify(viewer.name) !== slugify(name));
    } else if (type === 'contributor') {
      contributors_list = contributors_list.filter(contributor=>slugify(contributor.name) !== slugify(name));
    }
    $('[data-user-type=' + type + '][data-osm-user=' + name + ']').remove();
  }

  function addOsmUser(user, isCreator, type) {
    $('#users-found-' + type).hide();
    $('#search-osm-' + type).val('');
    const name = user.name;
    let userNames = [];
    let listId = '';
    if (type === 'manager') {
      listId = '#managers-list';
      userNames = managers_list.map(u=>u.name);
      managers_list.push(user);
    } else if (type === 'viewer') {
      listId = '#viewers-list';
      userNames = viewers_list.map(u=>u.name);
      viewers_list.push(user);
    } else if (type === 'contributor') {
      listId = '#contributors-list';
      userNames = contributors_list.map(u=>u.name);
      contributors_list.push(user);
    }
    if (userNames.includes(name)) return;
    const userTemplate = _.template($("#_template-osm-user").html());
    $(listId).append(userTemplate({name, isCreator, type}));
  }

  $('#search-osm-manager').keyup(function (e) {
    const searchString = e.target.value;
    if (searchString.length >= 2) {
      debouncedOsmSearch(e.target.value, 'manager');
    }
  });
  $('#search-osm-viewer').keyup(function (e) {
    const searchString = e.target.value;
    if (searchString.length >= 2) {
      debouncedOsmSearch(e.target.value, 'viewer');
    }
  }); 
  $('#search-osm-contributor').keyup(function (e) {
    const searchString = e.target.value;
    if (searchString.length >= 2) {
      debouncedOsmSearch(e.target.value, 'contributor');
    }
  });

  const debouncedOsmSearch = $.debounce(250, function(searchString, type) {
    searchOsmUser(searchString, type);
  })

  let searchRequest = {};
  function searchOsmUser(searchString, type) {
    var url = 'http://whosthat.osmz.ru/whosthat.php?action=names&q=' + searchString;
    $('#users-not-found-' + type).hide();
    $('#users-found-' + type).hide();
    $('#users-loading-' + type).show();
    if(searchRequest && searchRequest.readyState != 4 && searchRequest.abort){
      searchRequest.abort(); // Cancel any previous search request first
    }
    searchRequest = $.ajax({
      url: url,
      success: function (users) {
        $('#osm-users-list-' + type).html('');
        $('#users-loading-' + type).hide();
        if (users.length > 0) {
          $('#users-found-' + type).show();
        } else {
          $('#users-not-found-' + type).show();
        }
        $.each(users, function (index, user) {
          const name = user.names[0];
          const searchRegEx = new RegExp(searchString, 'gi');
          const matches = name.match(searchRegEx);
          $('#osm-users-list-' + type).append($('<li/>', {
            html: name.replace(searchRegEx, '<b>' + matches[0] + '</b>'),
            'data-osm-id': user.id.toString(),
            click: ()=>addOsmUser({ name, osm_id: user.id }, false, type)
          }));
        });
      },
      error: function() {
        $('#users-loading').hide();
        $('#users-not-found').show();
      }
    });
  }

  //------------------ EVENT ------------------//

  function reloadUser() {
    var that = this;
    auth.xhr({
      method: 'GET',
      path: '/api/0.6/user/details'
    }, function (err, res) {

      var u = res.getElementsByTagName('user')[0];
      var changesets = res.getElementsByTagName('changesets')[0];

      var o = {
        display_name: u.getAttribute('display_name'),
        id: u.getAttribute('id'),
        count: changesets.getAttribute('count')
      };
      updated(o);

    }, this);
  }

  function updated(response) {
    {% if action == 'edit' %}
    var managerNames = managers_list ? managers_list.map(manager=>{
      if (manager.name) {
        return manager.name;
      }
      return manager;
    }) : [];
    var is_manager = $.inArray(response.display_name, managerNames);
    if (is_manager == -1) {
      location.href = '/404';
    } else {
      $('#form-panel').show();
      $('#campaign-panel').show();
      $('#submit').show();
    }
    {% else %}
    $('#form-panel').show();
    $('#campaign-panel').show();
    $('#submit').show();
    {% endif %}
    {% if action == 'create' %}
    addOsmUser({ name: response.display_name, osm_id: response.id }, true, 'manager');
    $("#user_id").val(response.id);
    {% endif %}
  }

  if (!window.isAuthenticated) {
    window.location.replace("/");
  } else {
    {% if action == 'create' %}
    $('#form-panel').show();
    $('#campaign-panel').show();
    $('#submit').show();
    {% endif %}
  }

  function updateMap(mapInstance) {
    mapInstance.invalidateSize();
    if (drawnItems.getLayers().length > 0) {
      mapInstance.fitBounds(drawnItems.getBounds());
      getAreaSize();
      stringfyGeometry();
    } else {
      mapInstance.setView([0, 0], 2);
    }
  }

  updateMap(campaignDisplayMap);

  if (!isEmpty(errors)) {
    showNotifications('Failed to create a campaign!', 'danger', '#create-notification-holder');
  }

  function checkSteps(step) {
    switch(step) {
      case '1':
        return checkStep1();
        break;
      case '2':
        return checkStep2();
        break;
      case '3':
        return checkStep3();
        break;
      case '4':
        return checkStep4();
        break;
      case '5':
        return checkStep5();
        break;
      default:
        return true;
    }
  }

  function removeError(e) {
    e.target.closest('.form-group').classList.remove('has-error');
  }

  function checkStep1() {
    const hasInvalidFields = Array.from(document.querySelectorAll('#fieldset-1 [required]')).map(el=>{
      const isValid = el.checkValidity();
      if (!isValid) {
        el.closest('.form-group').classList.add('has-error');
      }
      return isValid;
    }).some(val=>!val);

    const startValue = moment(document.querySelector('#start_date').value);
    const endValue = moment(document.querySelector('#end_date').value);
    const isStartBeforeEnd = startValue.isBefore(endValue);

    return !hasInvalidFields && isStartBeforeEnd;
  }

  function checkStep2() {
    var valid = true;
    var mapErrorNotification = $('.map-wrapper').data('error');
    clearNotification();
    if (!!mapErrorNotification) {
      showNotifications(mapErrorNotification, 'danger', '#create-notification-holder');
      valid = false;
    }
    if (drawnItems.getLayers().length === 0) {
      showNotifications('Map is empty, please draw a layer or upload boundary.', 'danger', '#create-notification-holder');
      valid = false;
    }
    return valid;
  }

  function checkStep3() {
    let valid = true;
    var types_value = getTypesSelectionValue();
    $("#types").val(JSON.stringify(types_value));
    rerenderFunction();
    if (jQuery.isEmptyObject(types_value)) {
      valid = false;
      showNotifications('You must add at least one feature to the project.', 'danger', '#create-notification-holder');
    }
    return valid;
  }

  function checkStep4() {
    if (managers_list.length === 0) {
      reloadUser(); // This used to happen in step 1, but might belong at page level
    }
    if (managers_list < 1) return false;
    $('#campaign_managers').val(JSON.stringify(managers_list))
    $('#campaign_viewers').val(JSON.stringify(viewers_list))
    $('#campaign_contributors').val(JSON.stringify(contributors_list))
    return true;
  }

  function checkStep5() {
    var valid = true;

    clearNotification();

    var campaignJson = $('#advanced-mode-textarea').val();

    if (campaignJson) {
      campaignJson = JSON.parse(campaignJson);
      var rows = $('#insight-function').find('.function-form').find('.function-form-row');
      $.each(rows, function (index, row) {
        if (!$(row).find('.function-selection').val()) {
          var function_name = campaignJson['selected_functions']['function-' + (index + 1)]['function'];
          showNotifications(function_name + ' is not an insight function.', 'danger', '#create-notification-holder');
          valid = false;
        }
      });
    }

    return valid;
  }

  function checkFormHeader() {
    var valid = true;
    var required_forms = $('.form-header').find('.required-form');

    $.each(required_forms, function (index, value) {
      var input_form = $(value).find("[type=text]");

      if (input_form.length > 0) {
        input_form.removeClass('error');

        input_form.click(function () {
          $(this).removeClass('error');
          $(this).attr('placeholder', '');
        });

        if (input_form.val() === '') {
          input_form.addClass('error');
          input_form.attr('placeholder', 'This field is required');
          valid = false;
        }
      }
    });

    return valid;
  }

  $(function () {

    $('input#name').focus();
    $(document).tooltip({
      selector: "[data-toggle=tooltip]",
      container: "body"
    });

    $(".submit-button").click(function () {
      if (!$('.submit-button').hasClass('disabled')) {
        $("#campaign-form").submit();
      }
    });

    $('#campaign-form input').addClass('form-control');
    $('#campaign-form textarea').addClass('form-control');
    $('#campaign-form select').addClass('form-control');
    $('#link_to_omk').removeClass('form-control');

    if ($("#selected_functions").val()) {
      var selected_functions = $.parseJSON($("#selected_functions").val());
      selectedFunctions = selected_functions;
      $.each(selected_functions, function (key, functions) {
        addFunction($('#insight-function-add'), functions);
      });
    }

  });

  function get_selected_functions() {
    var functions = {};
    var rows = $('#insight-function').find('.function-form').find('.function-form-row');
    $.each(rows, function (index, row) {
      if ($(row).find('.function-selection').val()) {
        functions[$(row).attr('id')] = {
          'function': $(row).find('.function-selection').val(),
          'feature': $(row).find('.function-feature').val(),
          'attributes': JSON.parse($(row).find('.function-attributes').val()),
          'type': $(row).find('.function-type').val()
        }
      }
    });
    return functions;
  }
  function checkingAllStep() {
    var valid = true;
    $("fieldset").each(function (index, el) {
      var step = el.id.split('-')[1];
      var validStep = checkSteps(step);
      if (!validStep) {
        valid = validStep;
      }

    });
    var validHeader = checkFormHeader();
    if (!validHeader) {
      valid = validHeader;
    }
    return valid;
  }
  function preprocessSubmitForm() {
    $("#uploader").val($("#profile-name").html());
    $('#campaign_status').val('Start');
    // Processing selected function
    var selected_functions = {};
    selected_functions = $.extend({}, selected_functions, get_selected_functions());
    $("#selected_functions").val(JSON.stringify(selected_functions));

  }
  $("#campaign-form").submit(function (event) {
    if (!auth.authenticated()) {
      event.preventDefault();
      return alert('You are not logged in. Please log in before submitting this form.');
    }
    var allValid = checkingAllStep();
    if (!allValid) {
      event.preventDefault();
      return false;
    }
    preprocessSubmitForm();
  });

  function getFormElement(event, className) {
    return $(event).closest("div").find(className);
  }

  var function_index = 1;
  function addFunction(event, data) {
    $(event).blur();
    var template = _.template($("#_template-function-form").html());
    var html = template({ index: function_index });
    getFormElement(event, '.function-form').append(html);

    var row = $('#function-' + function_index);

    if (data) {
      getFormElement(row, '.function-selection').val(data['function']);
      functionOnSelected(getFormElement(row, '.function-selection'));
      getFormElement(row, '.function-type').val(data['type']);
      getFormElement(row, '.function-feature').val(data['feature']);
      getFormElement(row, '.function-attributes').val(JSON.stringify(data['attributes']));
    }
    function_index += 1;
  }

  function functionOnSelected(event) {
    var $event = $(event).parent().parent();
    getFormElement($event, '.function-feature').html('');
    getFormElement($event, '.function-attributes').val('');
    getFormElement($event, '.function-feature').hide();
    getFormElement($event, '.function-attributes').hide();
    getFormElement($event, '.function-type').hide();

    var insightFunctionName = $(event).val();

    if (insightFunctionName !== '') {
      var need_feature = 'false';
      var need_required_attributes = 'false';

      if (typeof functions[insightFunctionName] !== 'undefined') {
        need_feature = functions[insightFunctionName]['need_feature'];
        need_required_attributes = functions[insightFunctionName]['need_required_attributes'];
      }

      if (need_feature === 'true') {
        getFormElement($event, '.function-type').show();
        getFormElement($event, '.function-feature').show();
      }
      if (need_required_attributes === 'true') {
        getFormElement($event, '.function-attributes').show();
      }
    }
  }

  function removeFunction(event) {
    $(event).parent().parent().parent().remove();
  }

  $("#start_date").attr('data-language', 'en');
  $("#end_date").attr('data-language', 'en');

  $("#start_date").datepicker({
    dateFormat: 'yyyy-mm-dd',
    autoClose: true,
    onSelect: function (date) {
      $("#end_date").val(date);
      $("#end_date").datepicker({ minDate: new Date(date) })
      $('#start-date-value').html(date.toString())
    }
  });

  $("#end_date").datepicker({
    dateFormat: 'yyyy-mm-dd',
    autoClose: true,
    onSelect: function (date) {
      $("#start_date").val(date);
      $("#start_date").datepicker({ maxDate: new Date(date) })
      $('#end-date-value').html(date.toString())
    }
  });

  $("#start-date-icon").click(function () {
    $('#start_date').datepicker().data('datepicker').show()
  });

  $("#end-date-icon").click(function () {
    $('#end_date').datepicker().data('datepicker').show()
  });

  $(function () {
    var end = Date.parse($("#end_date").val());
    var start = Date.parse($("#start_date").val());
    if (start > end) {
      $("#end_date").val($("#start_date").val());
    }

    {% if form.start_date.data and form.end_date.data %}
    var start_date = $("#start_date").val();
    var end_date = $("#end_date").val();
    $('#start-date-value').html(start_date.toString());
    $('#end-date-value').html(end_date.toString());

    $("#start_date").datepicker({
      maxDate: new Date($("#end_date").val().toString())
    });
    $('#start_date').datepicker().data('datepicker').selectDate(new Date(start_date.toString()));

    $("#end_date").datepicker({
      minDate: new Date($("#start_date").val().toString())
    });
    $('#end_date').datepicker().data('datepicker').selectDate(new Date(end_date.toString()));
    {% endif %}

  })

</script>

{% endblock %}

{% block extra_head %}
<link rel="stylesheet" href="/static/js/leaflet.draw-0.4.9/leaflet.draw.css" type="text/css">
<script type="text/javascript">
  var isInCreateMode = ("{{ form.name.data }}" === "None") ? true : false;
  var errors = {{ form['errors'] | safe}};
  var functions = {{ functions| safe }};
  var map_provider = "{{ map_provider }}";
  var oneTimeFunctions = [];
  $.each(functions, function (key, value) {
    if (!value['need_feature']) {
      oneTimeFunctions.push(key)
    }
  });

  var remote_projects_list = [];
  {% if form.remote_projects.data %}
  remote_projects_list = {{ form.remote_projects.data | safe }};
  {% endif %}

  var maxAreaSize = {{ maximum_area_size }};

  var start_date = '{{ form.start_date.data }}';
  var end_date = '{{ form.end_date.data }}';
</script>
{% endblock %}