{% extends 'new_base.html' %}

{% block extra_head %}

    <!-- Custom CSS -->
    <link href="/campaign_manager/static/css/create-campaign.css" rel="stylesheet">
    <link rel="stylesheet" href="/static/js/leaflet.draw-0.4.9/leaflet.draw.css" type="text/css">

{% endblock %}

{% block content %}
    <div class="row">
        <div class="col-lg-12">
            <h3 class="cc-title">{{ action }} Campaign</h3>
            <div class="panel panel-default cc-panel">
                <div class="panel-body cc" id="campaign-panel" style="display: none">
                    <div class="cc-steps">
                        <div class="cc-progress">
                            <div class="cc-progress-line" data-now-value="8.33" data-number-of-steps="6" style="width: 8.33%;"></div>
                        </div>
                        <div class="cc-step active" data-step="1">
                            <div class="cc-step-icon"><i class="fa fa-info-circle"></i></div>
                            <p>General Information</p>
                        </div>
                        <div class="cc-step" data-step="2">
                            <div class="cc-step-icon"><i class="fa fa-map"></i></div>
                            <p>Campaign Map</p>
                        </div>
                        <div class="cc-step" data-step="3">
                            <div class="cc-step-icon"><i class="fa fa-paint-brush"></i></div>
                            <p>Coverage Function</p>
                        </div>
                        <div class="cc-step" data-step="4">
                            <div class="cc-step-icon"><i class="fa fa-star-half-o"></i></div>
                            <p>Quality Function</p>
                        </div>
                        <div class="cc-step" data-step="5">
                            <div class="cc-step-icon"><i class="fa fa-exclamation-triangle"></i></div>
                            <p>Error Function</p>
                        </div>
                        <div class="cc-step" data-step="6">
                            <div class="cc-step-icon"><i class="fa fa-link"></i></div>
                            <p>Engagement Function</p>
                        </div>
                    </div>

                    <form id="campaign-form" method="POST" action="{{ url }}" role="form">
                        {{ form.hidden_tag() }}
                        <fieldset id="fieldset-1" data-fieldset-step="1">
                            <div class="row">
                                <div class="col-lg-6">
                                    <div class="form-group required-form">
                                        <label for="name">Campaign name</label>
                                        {{ form.name }}
                                        <p class="help-block">Name for the campaign</p>
                                    </div>
                                    <br/>
                                    <div class="form-group">
                                        <label for="description">Campaign description</label>
                                        {{ form.description }}
                                        <p class="help-block">Description for the campaign</p>
                                    </div>
                                    <br/>
                                </div>
                                <div class="col-lg-6">
                                    <div class="row">
                                        <div class="col-md-6">
                                            <div class="form-group required-form">
                                                <label for="start_date">Start date of campaign</label>
                                                {{ form.start_date }}
                                                <p class="help-block"></p>
                                            </div>
                                        </div>
                                        <div class="col-md-6">
                                            <div class="form-group required-form">
                                                <label for="end_date">End date of campaign</label>
                                                {{ form.end_date }}
                                                <p class="help-block"></p>
                                            </div>
                                        </div>
                                    </div>
                                    <br/>
                                    <br/>
                                    <div class="form-group required-form">
                                        <label for="campaign_status">Campaign status</label>
                                        {#                                            <div class="error-form">This field is required</div>#}
                                        {{ form.campaign_status }}
                                        <p class="help-block">Status of the campaign</p>
                                    </div>
                                </div>
                            </div>
                            <div class="row" style="margin-bottom: -12px;">
                                <div class="col-lg-6">
                                    <div class="form-group">
                                        <label for="campaign_managers">Managers of campaign</label>
                                        <div class="error-form error-managers" style="display: none">This field is required</div>
                                        <div id="managers-list">
                                        </div>
                                        <select id="campaign_managers" multiple name="campaign_managers" style="visibility: hidden; margin-bottom: -85px !important;">
                                            <input type="text" id="search-osm-user-text" placeholder="Search osm users"/>
                                            <button type="button" class="btn btn-default" id="search-osm-user-button" style="margin-top: 10px;"><i class="fa fa-search" aria-hidden="true"></i> Search
                                            </button>
                                            <br/>
                                            <br/>
                                            <div id="users-not-found" style="display: none">
                                                No users found.
                                            </div>
                                            <div id="users-found" style="display: none">
                                                <p>Select osm users</p>
                                                <select id="list-osm-users" multiple class="form-control"></select>
                                                <button type="button" class="btn btn-default" id="add-to-managers" style="margin-top: 10px;"><i class="fa fa-plus" aria-hidden="true"></i> Add to
                                                    managers
                                                </button>
                                            </div>
                                            <p class="helock"></p>
                                    </div>
                                </div>
                                <div class="col-lg-6">
                                    <div class="form-group">
                                        <label for="tags">Tags of campaign</label>
                                        {{ form.tags }}
                                        <p class="help-block"></p>
                                    </div>
                                </div>
                            </div>
                            <div class="cc-buttons">
                                <button type="button" class="btn btn-next pull-right">Next <span class="pull-right"> > </span></button>
                            </div>
                        </fieldset>
                    </form>

                    <fieldset id="fieldset-2" data-fieldset-step="2">
                        <div class="row">
                            <!-- /.col-lg-6 (nested) -->
                            <div class="col-lg-8">
                                <div class="form-group map-wrapper" data-error="">
                                    <label>Campaign Map</label>
                                    <div id="campaign-map"></div>
                                    <div class="label label-success" id="campaign-map-area-size">Area size : 0.0 km<sup>2</sup></div>
                                </div>
                            </div>
                            <div class="col-lg-4">
                                <div class="form-group">
                                    <label>Update boundary by shp</label>
                                    {% include 'campaign_widget/ui/upload_boundary.html' %}
                                </div>
                            </div>
                        </div>
                        <div class="cc-buttons">
                            <button type="button" class="btn btn-prev pull-left">Prev <span class="pull-left"> < </span></button>
                            <button type="button" class="btn btn-next pull-right">Next <span class="pull-right"> > </span></button>
                        </div>
                    </fieldset>

                    {% for category in categories %}
                        <fieldset id="fieldset-{{ loop.index + 2 }}" data-fieldset-step="{{ loop.index + 2 }}">
                            <div class="row insight-functions">
                                <div class="col-lg-12">
                                    <div class="form-group" style="padding-bottom: 25px;">
                                        <div id="{{ category }}-function" class="function-wrapper">
                                            <label class="category-label">{{ category }} Functions</label>
                                            <div class="function-form">
                                            </div>
                                            <button id="{{ category }}-function-add" class="btn btn-outline btn-add-coverage"
                                                    type=button onclick="addFunction(this)" style="margin-top: 5px;">
                                                <i class="fa fa-plus"></i> Add Function
                                            </button>
                                        </div>
                                    </div>
                                </div>
                            </div>
                            <div class="cc-buttons">
                                <div class="row">
                                    <div class="col-lg-4">
                                        <button type="button" class="btn btn-prev pull-left">Prev <span class="pull-left"> < </span></button>
                                    </div>
                                    <div class="col-lg-4">
                                        <input id="submit" name="submit" type="submit" value="Submit" class="btn submit-button">
                                    </div>
                                    <div class="col-lg-4">
                                        {% if loop.index < categories|length %}
                                            <button type="button" class="btn btn-next pull-right">Next <span class="pull-right"> > </span></button>
                                        {% endif %}
                                    </div>
                                </div>
                            </div>
                        </fieldset>
                    {% endfor %}
                    <!-- /.row (nested) -->
                </div>
                <!-- /.panel-body -->
            </div>
            <!-- /.panel -->
        </div>
        <!-- /.col-lg-12 -->
    </div>

{% endblock %}

{% block after_base_js %}

    <script type="text/javascript" src="/static/js/leaflet.draw-0.4.9/leaflet.draw.js"></script>
    <script src="//cdnjs.cloudflare.com/ajax/libs/underscore.js/1.8.3/underscore-min.js"></script>

    <script type='text/template' id='_template-function-form'>
        <div class="well well-sm" style="margin-bottom: 5px;">
            <div class="function-form-row row tooltip-help" id="function-<%=index%>">
                <div class="col-lg-1">
                    <button class="btn btn-danger btn-sm btn-block"
                            type=button onclick="removeFunction(this)">
                        <i class="fa fa-minus"></i></button>
                </div>
                <div class="col-lg-4">
                    <select class="form-control function-selection" data-toggle="tooltip" data-placement="top"
                            data-original-title="Select insight function"
                            onchange="functionOnSelected(this)">
                        <option value="">-------------------</option>
                        {% for key, value in functions.items() %}
                            <option value="{{ key }}">{{ value.name }}</option>
                        {% endfor %}
                    </select>
                </div>
                <div class="col-lg-4">
                    <select class="form-control  function-feature" data-toggle="tooltip" data-placement="top"
                            data-original-title="Select type of feature to extract"
                            style="display: none">
                    </select>
                </div>
                <div class="col-lg-3">
                    <input class="form-control function-attributes" data-toggle="tooltip" data-placement="top"
                           data-original-title="Additional attributes for this function"
                           style="display: none">
                </div>
            </div>
        </div>
    </script>

    <script type="text/javascript">

        //------------------ CAMPAIGN MANAGERS ------------------//
        var managers_list = [];
        {% if form.campaign_managers.data %}
            managers_list = {{ form.campaign_managers.data | safe }};
        {% endif %}

        $(function () {
            if (managers_list.length > 0) {
                $.each(managers_list, function (index, value) {
                    $('#managers-list').append(
                            '<span class="manager">' + value +
                            '<i class="fa fa-times remove-manager" onclick="removeManager(this, \'' + value + '\')" aria-hidden="true"></i></span>'
                    )
                })
            }
        });

        function removeManager(e, manager) {
            var index = managers_list.indexOf(manager);
            if (index > -1) {
                managers_list.splice(index, 1);
            }
            $(e).parent().remove();
        }

        $("#add-to-managers").click(function () {
            var listOsmUsers = [];
            $('#list-osm-users :selected').each(function (i, selected) {
                listOsmUsers[i] = $(selected).text();
            });

            $('.error-managers').hide();

            for (var i = 0; i < listOsmUsers.length; i++) {
                if ($.inArray(listOsmUsers[i], managers_list) === -1) {
                    managers_list.push(listOsmUsers[i]);
                    $('#managers-list').append(
                            '<span class="manager">' + listOsmUsers[i] +
                            '<i class="fa fa-times remove-manager" onclick="removeManager(this, \'' + listOsmUsers[i] + '\')" aria-hidden="true"></i></span>'
                    )
                }
            }

        });

        $("#search-osm-user-button").click(function () {
            searchOsmUser();
        });

        $('#search-osm-user-text').keypress(function (e) {
            if (e.which === 13) {
                searchOsmUser();
            }
        });

        function searchOsmUser() {
            var textInput = $('#search-osm-user-text').val();
            var url = '/campaign_manager/search_osm/' + textInput;
            var $searchOsmButton = $('#search-osm-user-button');
            $searchOsmButton.attr('disabled', 'disabled');
            $searchOsmButton.LoadingOverlay("show", {image: "/campaign_manager/static/resources/loading-spinner.gif"});
            $('#users-not-found').hide();
            $('#users-found').hide();
            $.ajax({
                url: url,
                success: function (data) {
                    $searchOsmButton.removeAttr('disabled');
                    $searchOsmButton.LoadingOverlay("hide");
                    $('#list-osm-users').html('');
                    var dataObj = JSON.parse(data);

                    if (dataObj.length > 0) {
                        $('#users-found').show("slow");
                    } else {
                        $('#users-not-found').show("slow");
                    }

                    $.each(dataObj, function (index, value) {
                        $('#list-osm-users').append($('<option/>', {
                            value: value,
                            text: value
                        }));
                    });
                }
            });
        }


        //------------------ BUTTONS ------------------//

        function scrollToClass(element_class, removed_height) {
            var scrollTo = $(element_class).offset().top - removed_height;
            if ($(window).scrollTop() !== scrollTo) {
                $('html, body').stop().animate({scrollTop: scrollTo}, 0);
            }
        }

        function barProgress(progressLine, direction) {
            var numberOfSteps = progressLine.data('number-of-steps');
            var nowValue = progressLine.data('now-value');
            var newValue = 0;
            if (direction === 'right') {
                newValue = nowValue + ( 100 / numberOfSteps );
            }
            else if (direction === 'left') {
                newValue = nowValue - ( 100 / numberOfSteps );
            }
            if (newValue < 0) return;
            progressLine.attr('style', 'width: ' + newValue + '%;').data('now-value', newValue);
        }

        $('.btn-next').click(function () {
            var nextStep = true;
            var currentActiveStep = $(this).parents('.cc').find('.cc-step.active');
            var progressLine = $(this).parents('.cc').find('.cc-progress-line');
            var parentFieldset = $(this).parents('fieldset');
            var currentFieldsetNumber = parentFieldset.data('fieldset-step');

            var currentStep = currentActiveStep.data('step');
            var totalSteps = progressLine.data('number-of-steps');

            if (currentStep === totalSteps) return;

            nextStep = checkSteps(currentStep);

            // scroll window to beginning of the form
            scrollToClass($('#wrapper'), 20);

            if (nextStep) {
                $(parentFieldset).children().find('button').attr('disabled', 'disabled');
                $('#fieldset-' + currentFieldsetNumber).fadeOut(400, function () {
                    // change icons
                    currentActiveStep.removeClass('active').addClass('activated').next().addClass('active');
                    // progress bar
                    barProgress(progressLine, 'right');

                    // show next step
                    $('#fieldset-' + (parseInt(currentFieldsetNumber) + 1)).fadeIn();
                    $('#fieldset-' + (parseInt(currentFieldsetNumber) + 1)).children().find('button').removeAttr('disabled');

                    if (currentFieldsetNumber + 1 === 2) {
                        campaignMap.invalidateSize();
                        if (drawnItems.getLayers().length > 0) {
                            campaignMap.fitBounds(drawnItems.getBounds());
                        } else {
                            campaignMap.setView([0, 0], 2);
                        }
                    }
                });
            }
        });

        $('.btn-prev').click(function () {
            // navigation steps / progress steps
            var currentActiveStep = $(this).parents('.cc').find('.cc-step.active');
            var progressLine = $(this).parents('.cc').find('.cc-progress-line');
            var parentFieldset = $(this).parents('fieldset');
            var currentFieldsetNumber = parentFieldset.data('fieldset-step');

            var currentStep = currentActiveStep.data('step');

            if (currentStep === 1) return;

            $('#fieldset-' + currentFieldsetNumber).fadeOut(400, function () {
                $(parentFieldset).children().find('button').attr('disabled', 'disabled');
                // change icons
                currentActiveStep.removeClass('active').prev().removeClass('activated').addClass('active');
                // progress bar
                barProgress(progressLine, 'left');

                // show previous step
                $('#fieldset-' + (parseInt(currentFieldsetNumber) - 1)).fadeIn();
                $('#fieldset-' + (parseInt(currentFieldsetNumber) - 1)).children().find('button').removeAttr('disabled');

                // scroll window to beginning of the form
                scrollToClass($('#wrapper'), 20);
            });
        });

        //------------------ EVENT ------------------//

        function updated(response) {
            $('#campaign-panel').show();
            {% if action == 'create' %}
                managers_list.push(response.display_name);
                $('#managers-list').append(
                        '<span class="manager">' + response.display_name +
                        '<i class="fa fa-times remove-manager" onclick="removeManager(this, \'' + response.display_name + '\')" aria-hidden="true"></i></span>'
                );
            {% endif %}
        }

        function loginSuccess(response) {
            clearNotification();
        }

        function logoutSuccess() {
            window.location.replace("/campaign_manager");
        }

        if (!window.isAuthenticated) {
            window.location.replace("/campaign_manager");
        } else {
            $('#campaign-panel').show();
        }

        //------------------ FORM ------------------//

        var errors = {{ form['errors'] | safe}};
        var functions = {{ functions|safe }};

        if (!isEmpty(errors)) {
            showNotifications('Failed to create a campaign!', 'danger');
        }

        function checkSteps(step) {
            if (step === 1) {
                return checkStep1();
            } else if (step === 2) {
                return checkStep2();
            }
            return true;
        }

        function checkStep1() {
            var valid = true;

            var required_forms = $('#fieldset-1').find('.required-form');

            $.each(required_forms, function (index, value) {
                var input_form = $(value).find("[type=text]");
                var radio_form = $(value).find("[type=radio]");
                var select_form = $(value).find('select');

                if (input_form.length > 0) {
                    input_form.removeClass('error');

                    input_form.click(function () {
                        $(this).removeClass('error');
                        $(this).attr('placeholder', '');
                    });

                    if (input_form.val() === '') {
                        input_form.addClass('error');
                        input_form.attr('placeholder', 'This field is required');
                        valid = false;
                    }
                } else if (select_form.length > 0) {
                    select_form.removeClass('error');

                    select_form.click(function () {
                        $(this).removeClass('error');
                    });

                    if (select_form.val().length === 0) {
                        select_form.addClass('error');
                        valid = false;
                    }
                } else if (radio_form.length > 0) {
                    var radio_checked = false;
                    for (var i = 0; i < radio_form.length; i++) {
                        if (!$(radio_form[i]).is(":checked")) {
                            valid = false;
                        } else {
                            radio_checked = true;
                            break;
                        }
                    }
                    var error = radio_form.parent().parent().find('.error-form');
                    $(error).remove();
                    if (!radio_checked) {
                        radio_form.parent().parent().prepend('<div class="error-form">This field is required</div>');
                    }
                }
            });

            if (managers_list.length === 0) {
                valid = false;
                $('.error-managers').show();
            }

            return valid;
        }

        function checkStep2() {
            var valid = true;
            var mapErrorNotification = $('.map-wrapper').data('error');

            clearNotification();

            if (mapErrorNotification !== '') {
                showNotifications(mapErrorNotification, 'danger');
                valid = false;
            }

            // Check drawn item
            if (drawnItems.getLayers().length === 0) {
                showNotifications('Map is empty, please draw a layer or upload boundary.', 'danger');
                valid = false;
            }

            return valid;
        }

        $(function () {

            $(document).tooltip({
                selector: "[data-toggle=tooltip]",
                container: "body"
            });

            $(".submit-button").click(function () {
                if (!$('.submit-button').hasClass('disabled')) {
                    $("#campaign-form").submit();
                }
            });

            $('#campaign-form input').addClass('form-control');
            $('#campaign-form textarea').addClass('form-control');
            $('#campaign-form select').addClass('form-control');

            var $categoryLabels = $('.category-label');
            for (var i = 0; i < $categoryLabels.length; i++) {
                var $label = $($categoryLabels[i]);
                $label.html(capitalizeFirstLetter($label.html()));
            }

            {# selected functions#}
            if ($("#selected_functions").val()) {
                var selected_functions = $.parseJSON($("#selected_functions").val());
                $.each(selected_functions, function (key, functions) {
                    addFunction($('#' + functions['category'] + '-add'), functions);
                });
            }

            $('.cc fieldset:first').fadeIn('slow');

        });

        function get_selected_functions(category) {
            {# functions #}
            var functions = {};
            var rows = $('#' + category).find('.function-form').find('.function-form-row');
            $.each(rows, function (index, row) {
                if ($(row).find('.function-selection').val()) {
                    functions[$(row).attr('id')] = {
                        'function': $(row).find('.function-selection').val(),
                        'feature': $(row).find('.function-feature').val(),
                        'category': category,
                        'attributes': $(row).find('.function-attributes').val()
                    }
                }
            });
            return functions;
        }

        //------------------ MAP ------------------//

        var drawnItems = new L.geoJSON();
        var bounds = [
            [-34.053726, 20.411482],
            [-34.009483, 20.467358]
        ];

        $("#campaign-form").submit(function (event) {
            $("#uploader").val($("#profile-name").html());

            $.each(managers_list, function (index, value) {
                $('#campaign_managers').append('<option selected="selected" value="' + value + '">' + value + '</option>')
            });

            if (!auth.authenticated() || !$("#uploader").val()) {
                window.location.replace("/campaign_manager/not-logged-in.html");
            }

            // Processing selected function
            var selected_functions = {};
            selected_functions = $.extend({}, selected_functions, get_selected_functions('quality-function'));
            selected_functions = $.extend({}, selected_functions, get_selected_functions('coverage-function'));
            selected_functions = $.extend({}, selected_functions, get_selected_functions('error-function'));
            selected_functions = $.extend({}, selected_functions, get_selected_functions('engagement-function'));
            $("#selected_functions").val(JSON.stringify(selected_functions));
        });

        var campaignMap = L.map('campaign-map');
        L.tileLayer('https://{s}.tile.openstreetmap.org/{z}/{x}/{y}.png', {
            attribution: '© <a href="http://www.openstreetmap.org" target="_parent">OpenStreetMap</a> and ' +
            'contributors, under an <a href="http://www.openstreetmap.org/copyright" target="_parent">open license</a>',
            maxZoom: 18
        }).addTo(campaignMap);

        new L.Control.GPlaceAutocomplete({
            position: "topright",
            callback: function (location) {
                campaignMap.fitBounds([
                    [
                        location.geometry.viewport.getSouthWest().lat(),
                        location.geometry.viewport.getSouthWest().lng()
                    ],
                    [
                        location.geometry.viewport.getNorthEast().lat(),
                        location.geometry.viewport.getNorthEast().lng()
                    ]
                ]);
            }
        }).addTo(campaignMap);

        // Get user location
        {% if action == 'create' %}
            navigator.geolocation.getCurrentPosition(successGetBrowserLocation, errorGetBrowserLocation);
        {% endif %}

        function successGetBrowserLocation(position) {
            var zoom = 10;
            var userLocation = new L.latLng(position.coords.latitude, position.coords.longitude);
            campaignMap.setView(userLocation, zoom);
        }

        function errorGetBrowserLocation() {
            console.log('Error get browser location');
        }

        $("#submit").click(function () {
            $("#form").submit();
        });

        $("#start_date").attr('data-language', 'en');
        $("#end_date").attr('data-language', 'en');
        $("#start_date").datepicker({
            dateFormat: 'yyyy-mm-dd',
            autoClose: true
        });
        $("#end_date").datepicker({
            dateFormat: 'yyyy-mm-dd',
            autoClose: true
        });

        campaignMap.fitBounds(bounds);

        if ($("#geometry").val()) {
            drawnItems = L.geoJSON($.parseJSON($("#geometry").val()));
            campaignMap.fitBounds(drawnItems.getBounds());
        }
        campaignMap.addLayer(drawnItems);

        var drawControl = new L.Control.Draw({
            draw: {
                polyline: false,
                marker: false,
                circle: false
            },
            edit: {
                featureGroup: drawnItems
            },
            remove: {
                featureGroup: drawnItems
            }
        }, this);

        campaignMap.addControl(drawControl);
        campaignMap.on('draw:created', saveLayer);
        campaignMap.on('draw:edited', editLayer);
        campaignMap.on('draw:deleted', deleteLayer);
        campaignMap.on('draw:drawstart', startDraw);
        campaignMap.on('draw:drawstop', stopDraw);

        var temporaryDrawnLayers = null;

        function saveLayer(e) {
            temporaryDrawnLayers = null;
            var layer = e.layer;
            drawnItems.addLayer(layer);
            getAreaSize();
            stringfyGeometry();
        }

        function editLayer(e) {
            var layers = e.layers;
            getAreaSize();
            stringfyGeometry();
        }

        function deleteLayer(e) {
            var layers = e.layers;
            layers.eachLayer(function (feature) {
                drawnItems.removeLayer(feature);
            });
            getAreaSize();
            stringfyGeometry();
        }

        function startDraw(e) {
            temporaryDrawnLayers = jQuery.extend(true, {}, drawnItems);
            drawnItems.clearLayers();
        }

        function stopDraw(e) {
            if (temporaryDrawnLayers !== null) {
                var temporaryLayers = temporaryDrawnLayers._layers;
                for (var key in temporaryLayers) {
                    drawnItems.addLayer(temporaryLayers[key]);
                }
                temporaryDrawnLayers = null;
            }
        }

        function stringfyGeometry() {
            var json = drawnItems.toGeoJSON();
            $("#geometry").val(JSON.stringify(json));
        }

        var maxAreaSize = {{ maximum_area_size }};
        function getAreaSize() {
            var totalAreaSize = 0;
            drawnItems.eachLayer(function (layer) {
                totalAreaSize += L.GeometryUtil.geodesicArea(layer.getLatLngs()[0]);
            });

            var kmSquare = parseFloat(totalAreaSize / 1000000);
            $('#campaign-map-area-size').html('Area size : ' + kmSquare.toFixed(2) + ' km<sup>2</sup>');
            if (totalAreaSize > maxAreaSize) {
                showNotifications('Area of the campaign is too big, please reduce the area.', 'danger');
                $('.map-wrapper').data('error', 'Area of the campaign is too big, please reduce the area.');
                $('#campaign-map-area-size').removeClass('label-success');
                $('#campaign-map-area-size').addClass('label-danger');
            } else {
                clearNotification();
                $('#campaign-map-area-size').removeClass('label-danger');
                $('#campaign-map-area-size').addClass('label-success');
                $('.map-wrapper').data('error', '');
            }
        }

        function getFormElement(event, className) {
            return $(event).closest("div").find(className);
        }

        var function_index = 1;
        function addFunction(event, data) {
            $(event).blur();
            var template = _.template($("#_template-function-form").html());
            var html = template({index: function_index});
            getFormElement(event, '.function-form').append(html);

            var row = $('#function-' + function_index);
            var function_selections = getFormElement(row, '.function-selection').find('option');
            $.each(function_selections, function (index, function_selection) {
                var wrapper_id = $(row).closest('.function-wrapper').attr('id');
                wrapper_id = wrapper_id.replace('-function', '');
                if ($(function_selection).val()) {
                    var categories = functions[$(function_selection).val()]['category'];
                    if (jQuery.inArray(wrapper_id, categories) < 0) {
                        $(function_selection).remove();
                    }
                }
            });

            if (data) {
                getFormElement(row, '.function-selection').val(data['function']);
                functionOnSelected(getFormElement(row, '.function-selection'));
                getFormElement(row, '.function-feature').val(data['feature']);
                getFormElement(row, '.function-attributes').val(data['attributes']);
            }
            function_index += 1;
        }

        function functionOnSelected(event) {
            var $event = $(event).parent().parent();
            getFormElement($event, '.function-feature').html('');
            getFormElement($event, '.function-attributes').val('');
            getFormElement($event, '.function-feature').hide();
            getFormElement($event, '.function-attributes').hide();

            if ($(event).val() !== '') {
                var need_feature = 'false';
                var need_required_attributes = 'false';
                var features = null;
                if(typeof functions[$(event).val()] !== 'undefined') {
                    need_feature = functions[$(event).val()]['need_feature'];
                    need_required_attributes = functions[$(event).val()]['need_required_attributes'];
                    features = functions[$(event).val()]['features'];
                }

                if (features && need_feature === 'true') {
                    getFormElement($event, '.function-feature').show();
                    $.each(features, function (index, feature) {
                        getFormElement($event, '.function-feature').append(
                                "<option value='" + feature + "'>" + feature + "</option>"
                        );
                    });
                }
                if (need_required_attributes === 'true') {
                    getFormElement($event, '.function-attributes').show();
                }
            }

            var selected_functions = {};
            selected_functions = $.extend({}, selected_functions, get_selected_functions('quality-function'));
            selected_functions = $.extend({}, selected_functions, get_selected_functions('coverage-function'));
            selected_functions = $.extend({}, selected_functions, get_selected_functions('error-function'));
            selected_functions = $.extend({}, selected_functions, get_selected_functions('engagement-function'));
        }

        function removeFunction(event) {
            $(event).parent().parent().parent().remove();
        }
    </script>

{% endblock %}