{% extends 'new_base.html' %}

{% block extra_head %}

    <!-- Custom CSS -->
    <link href="/static/css/create-campaign.css" rel="stylesheet">
    <link rel="stylesheet" href="/static/js/leaflet.draw-0.4.9/leaflet.draw.css" type="text/css">

{% endblock %}

{% block content %}
    <div id="form-panel">
    <div class="row form-border">
        <div class="col-lg-2">
            <div class="panel panel-default panel-header">
                <span class="panel-header-info">STATUS</span><br/>
                <div id="campaign-active">
                    <span class="campaign-status-icon status-active"><i class="fa fa-circle" aria-hidden="true"></i></span>
                    <span class="campaign-status">&nbsp;Active</span>
                </div>
                <div id="campaign-inactive">
                    <span class="campaign-status-icon status-inactive"><i class="fa fa-circle" aria-hidden="true"></i></span>
                    <span class="campaign-status">&nbsp;Inactive</span>
                </div>
            </div>
            <div class="cc-nav-steps" style="background-color: white;">
                <div class="panel panel-default panel-header cc-nav active" data-step="1">
                    <div><i class="fa fa-info-circle"></i><span>&nbsp;&nbsp;General Information</span>
                        <span class="cc-nav-icon pull-right" style="display: none"><i class="fa fa-check"></i></span></div>
                </div>
                <div class="panel panel-default panel-header cc-nav disabled" data-step="2">
                    <div><i class="fa fa-globe"></i><span>&nbsp;&nbsp;Campaign AOI</span>
                        <span class="cc-nav-icon pull-right" style="display: none"><i class="fa fa-check"></i></span></div>
                </div>
                <div class="panel panel-default panel-header cc-nav disabled" data-step="3">
                    <div><i class="fa fa-map"></i><span>&nbsp;&nbsp;Remote Mapping</span>
                        <span class="cc-nav-icon pull-right" style="display: none"><i class="fa fa-check"></i></span></div>
                </div>
                <div class="panel-header-info panel-section">ADVANCED</div>
                <div class="panel panel-default panel-header cc-nav disabled" data-step="4">
                    <div><p><i class="fa fa-cogs" aria-hidden="true"></i><span>&nbsp;&nbsp;Advanced Mode</span></div>
                </div>
                <div class="panel panel-default panel-header cc-nav" data-step="5" hidden>
                    <div><p><i class="fa fa-cogs" aria-hidden="true"></i><span>&nbsp;&nbsp;Insight Functions</span>
                        <span class="cc-nav-icon pull-right" style="display: none"><i class="fa fa-times"></i></span></p></div>
                </div>
            </div>
        </div>
        <div class="col-lg-10">
            <div class="panel panel-default cc-panel">
                <div class="panel-body cc" id="campaign-panel" style="display: none">
                    <form id="campaign-form" method="POST" action="{{ url }}" role="form">
                        {{ form.hidden_tag() }}
                        <div class="row">
                            <div class="form-header col-lg-9">
                                <div class="panel panel-default panel-header">
                                    <span class="panel-header-info">NAME</span><br/>
                                    <div class="form-group required-form">
                                        {{ form.name }}
                                    </div>
                                </div>
                            </div>
                            <div class="form-header col-lg-3">
                                <div class="panel panel-default panel-header">
                                    <div class="form-header col-md-6">
                                        <div class="form-group required-form">
                                            <label class="panel-header-info">START DATE</label>
                                            <div id="start-date-value">---</div>
                                        </div>
                                    </div>
                                    <div class="form-header col-md-6">
                                        <div class="form-group required-form">
                                            <label class="panel-header-info">END DATE</label>
                                            <div id="end-date-value">---</div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                        <fieldset id="fieldset-1" data-fieldset-step="1">
                            <div class="row">
                                <div class="form-body col-lg-9">
                                <div class="row" style="margin-bottom: 20px">
                                <div class="col-md-3">
                                    <div class="form-group required-form">
                                        <i id="start-date-icon" class="fa fa-calendar" aria-hidden="true"></i>
                                        {{ form.start_date }}
                                        <p class="help-block"></p>
                                    </div>
                                </div>
                                <div class="col-md-3">
                                    <div class="form-group required-form">
                                        <span id="end-date-icon" class="fa fa-calendar" aria-hidden="true"></span>
                                        {{ form.end_date }}
                                        <p class="help-block"></p>
                                    </div>
                                </div>
                                </div>
                                    <div class="form-group">
                                        <label for="description">Description</label><span class="help-block pull-right">Describes which features campaign collects, the AOI, and the reason of the campaign creation.</span>
                                        {{ form.description }}
                                    </div>
                                    <input id="campaign_status" title="campaign_status" name="campaign_status" style="display: none;"/>
                                    <br/>
                                    <div class="form-group map-input">
                                        {{ form.map_type }}
                                        {% if form['errors'] %}
                                            <p class="error-form">
                                                {% if form['errors'].map_type %}
                                                    {{ form['errors'].map_type[0] }}
                                                {% endif %}
                                            </p>
                                        {% endif %}
                                        <p class="help-block">Input <a data-toggle="tooltip" data-title="example: https://{s}.tile.openstreetmap.org/{z}/{x}/{y}.png">map url</a> to change map display,
                                            leave blank to use default</p>
                                    </div>
                                    <div class="form-group" id="link-to-omk-form">
                                        {{ form.link_to_omk(checked=link_to_omk) }}
                                        {{ form.link_to_omk.label }}
                                        <br/><span class="help-block">Check the box if you like your campaign automatically opens OpenMapKit application in mobile</span>
                                    </div>
                                    <br/>
                                </div>
                            </div>
                            <select id="remote_projects" multiple name="remote_projects" style="display: none;"></select>
                            <select id="types" multiple="" name="types" style="display: none;"></select>
                            <div class="row">
                                <div class="form-body col-lg-4">
                                    <div class="form-group">
                                        <label for="types">Types</label><span class="help-block">&nbsp;&nbsp;&nbsp;Add at least one campaign type</span>
                                        <div class="types-required-message">This field is required</div>
                                    </div>
                                </div>
                                <div class="form-body col-lg-7">
                                    <div class="form-group">
                                        <label>&nbsp;&nbsp;Tags</label><span class="help-block">&nbsp;&nbsp;&nbsp;You can add new/remove the campaign tags</span> <br/>
                                        <span id="warning-tag" style="color: #ac3232"></span>
                                    </div>
                                </div>
                            </div>
                            <div id="typesTagsContainer"></div>
                            <div class="row">
                                <div class="form-body form-group col-lg-4" style="margin-top: 10px">
                                    <input id="btn-add" type="button" value="+ Add type" onclick="addTypes()">
                                    <input id="btn-add" type="button" value="+ Add custom type" style="margin-top: 10px" data-toggle="modal" data-target="#custom-types-tags">
                                </div>
                            </div>
                            <div class="row" style="margin-bottom: -12px;">
                                <div class="form-body">
                                    <div class="form-group">
                                        <label for="campaign_managers">Managers</label><span class="help-block">&nbsp;&nbsp;&nbsp;You may add additional manager by searching their osm username in the box below.</span>
                                        <div class="error-form error-managers" style="display: none">This field is required</div>
                                        <div id="managers-list" class="manager-list">
                                        </div>
                                        <select id="campaign_managers" multiple name="campaign_managers" style="visibility: hidden; margin-bottom: -85px !important;"></select>
                                        <input type="text" id="search-osm-user-text" placeholder="Search osm users"/>
                                        <button type="button" class="btn btn-default" id="search-osm-user-button" style="margin-top: 10px;"><i class="fa fa-search" aria-hidden="true"></i> Search
                                        </button>
                                        <br/>
                                        <br/>
                                        <div id="users-not-found" style="display: none">
                                            No users found.
                                        </div>
                                        <div id="users-found" style="display: none">
                                            <p>Select osm users</p>
                                            <select id="list-osm-users" multiple class="form-control"></select>
                                            <button type="button" class="btn btn-default" id="add-to-managers" style="margin-top: 10px;"><i class="fa fa-plus" aria-hidden="true"></i> Add to
                                                managers
                                            </button>
                                        </div>
                                        <p class="helock"></p>
                                    </div>
                                </div>
                            </div>
                            <div class="cc-buttons">
                                <button type="button" class="btn btn-next pull-right"><span class="btn-step-next">NEXT </span><span class="btn-icon-next"> > </span></button>
                            </div>
                        </fieldset>

                    </form>

                    <fieldset id="fieldset-2" data-fieldset-step="2">
                        <div class="row">
                            <!-- /.col-lg-6 (nested) -->
                            <div class="form-body col-lg-8">
                                <div class="form-group map-wrapper" data-error="">
                                    <label>Create AOI</label>
                                    <div id="campaign-map" style="margin-top: 30px"></div>
                                    <div class="label label-success" id="campaign-map-area-size">Area size : 0.0 km<sup>2</sup></div>
                                </div>
                            </div>
                            <div class="col-lg-2">
                                <div style="margin-top: 20px;font-weight: bold; margin-bottom: 20px;">
                                    The AOI is specified in one of the following ways:
                                </div>
                                <ul>
                                    <li>
                                        Digitising on the map.
                                    </li>
                                    <li>
                                        Upload a SHP file which either has only one polygon containing the AOI or multiple polygons each indicating a campaign area.
                                        Teams can be assigned in this file by adding a "team" column and the status is deduced from a "date" column indicating on which date the team will complete
                                        their mapping.
                                        When using multiple polygons these must be union-able into a single polygon.
                                    </li>
                                    <li>
                                        Upload a GeoJSON file.
                                    </li>
                                </ul>
                            </div>
                        </div>
                        <div class="row">
                            <div class="form-body col-lg-6">
                                <div class="form-group">
                                    <label>Upload Shapefiles</label>
                                    {% include 'campaign_widget/ui/upload_boundary.html' %}
                                </div>
                            </div>
                            <div class="form-body col-lg-6">
                                <div class="form-group">
                                    <label>Upload GeoJSON file</label>
                                    {% include 'campaign_widget/ui/upload_fieldpaper.html' %}
                                </div>
                            </div>
                        </div>
                        <hr/>
                        <div class="row form-body">
                            <div class="col-lg-8 area-table">
                                <div class="area-table-title row">
                                    <div class="col-lg-4">
                                        AREA
                                    </div>
                                    <div class="col-lg-4">
                                        TEAM
                                    </div>
                                    <div class="col-lg-4">
                                        STATUS
                                    </div>
                                </div>

                                <div class="area-table-list">
                                </div>

                            </div>
                        </div>
                        <div class="cc-buttons">
                            <div class="col-lg-6">
                                <button type="button" class="btn btn-prev pull-left"><span class="btn-icon-prev"> < </span><span class="btn-step-prev">PREV </span></button>
                            </div>
                            <div class="col-lg-6">
                                <button type="button" class="btn btn-next pull-right"><span class="btn-step-next">NEXT </span><span class="btn-icon-next"> > </span></button>
                            </div>
                        </div>
                    </fieldset>

                    <fieldset id="fieldset-3" data-fieldset-step="3">
                        <div class="row">
                            <!-- /.col-lg-6 (nested) -->
                            <div class="col-lg-12">
                                <div class="row" style="margin-bottom: 20px;">
                                    <div class="col-lg-9">
                                        <label>Remote Map</label>
                                        <div id="remote-map"></div>
                                    </div>
                                </div>
                                <div class="form-group" style="margin-bottom: 20px !important;">
                                    <label>Remote Projects</label>
                                    <div class="row">
                                        <div class="col-lg-9">
                                            <div id="list-added-projects">
                                                <div id="empty-list-remote-project">
                                                    -
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                                <div class="form-group" data-error="">
                                    <label>Search Project</label>

                                    <div class="form-group">
                                        <div class="row">
                                            <div class="col-lg-3">
                                                <input type="text" id="sp-text-search" placeholder="Text Search" class="form-control"/>
                                            </div>
                                            <div class="col-lg-3">
                                                <select class="form-control" id="sp-mapper-level">
                                                    <option value="" disabled selected>Mapper Level</option>
                                                    <option value="BEGINNER">
                                                        Beginner
                                                    </option>
                                                    <option value="INTERMEDIATE">
                                                        Intermediate
                                                    </option>
                                                    <option value="ADVANCED">
                                                        Advanced
                                                    </option>
                                                </select>
                                            </div>
                                            <div class="col-lg-3">
                                                <select class="form-control" id="sp-mapping-types">
                                                    <option value="" disabled selected>Mapping Types</option>
                                                    <option value="ROADS">
                                                        Roads
                                                    </option>
                                                    <option value="BUILDINGS">
                                                        Buildings
                                                    </option>
                                                </select>
                                            </div>
                                        </div>
                                        <div class="row" style="margin-top: 10px;">
                                            <div class="col-lg-3">
                                                <input type="text" id="sp-organisation-tag" placeholder="Organisation Tag" class="form-control"/>
                                            </div>
                                            <div class="col-lg-3">
                                                <input type="text" id="sp-campaign-tag" placeholder="Campaign Tag" class="form-control"/>
                                            </div>
                                        </div>
                                        <button type="button" class="btn btn-default" id="search-projects-button" style="margin-top: 10px;">
                                            <i class="fa fa-search" aria-hidden="true"></i> Search
                                        </button>
                                    </div>

                                    <div>
                                        <div class="row">
                                            <div class="col-lg-9">
                                                <div id="list-projects" style="margin-top: 20px;">
                                                </div>
                                            </div>
                                        </div>
                                    </div>

                                </div>
                            </div>
                        </div>

                        <div class="cc-buttons">
                                <button type="button" class="btn btn-prev pull-left"><span class="btn-icon-prev"> < </span><span class="btn-step-prev">PREV </span></button>
                        </div>
                    </fieldset>

                    <fieldset id="fieldset-4" data-fieldset-step="4">
                        <div class="row">
                            <!-- /.col-lg-6 (nested) -->
                            <div class="form-body col-lg-8">
                                <div class="form-group" data-error="">
                                    <label>Advanced Mode</label>
                                    <br>
                                    <i style="color: grey">
                                        Advanced mode is for change json manually.
                                        Submit button will be enabled if json is pass of <b>check json</b>, so make sure to click check json.
                                        Insights functions that we have for now are:
                                        {% for key, value in functions.items() %}
                                            <br> - <b>{{ key }}</b>
                                        {% endfor %}
                                        <br>
                                        So be sure not put insights function other that those, or json will be failed.
                                    </i>
                                    <textarea id="advanced-mode-textarea" placeholder="Campaign setting" class="form-control"></textarea>
                                    <div class="btn-group">
                                        <button type="button" class="btn btn-danger" onclick="checkCampaignJson()">Check json</button>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </fieldset>

                    <fieldset id="fieldset-5" data-fieldset-step="5">
                        <div class="row insight-functions">
                            <div class="form-body col-lg-12">
                                <div class="form-group" style="padding-bottom: 25px;">
                                    <div id="insight-function" class="function-wrapper">
                                        <label class="category-label">Insight Functions</label>
                                        <div class="function-form">
                                        </div>
                                        <button id="insight-function-add" class="btn btn-outline btn-add-coverage"
                                                type=button onclick="addFunction(this)" style="margin-top: 5px;">
                                            <i class="fa fa-plus"></i> Add Function
                                        </button>
                                    </div>
                    </fieldset>
                </div>
                <!-- /.row (nested) -->
            </div>
            <!-- /.panel-body -->
        </div>
    </div>
    <div class="col-lg-10 pull-right">
        <input id="submit" style="display: none" name="submit" type="submit" value="SUBMIT/UPDATE" class="btn submit-button">
    </div>
    </div>
    {% include 'modals/custom-types-and-tags.html' %}

{% endblock %}

{% block after_base_js %}
    <script type="text/javascript">

        var taskStatusFillColor = {
            'READY': '#FFFFFF',
            'unassigned': '#D3D3D3',
            'MAPPED': '#FFE4B5',
            'INVALIDATED': '#D3D3D3',
            'VALIDATED': '#B0DE5C',
            'complete': '#B0DE5C',
            'incomplete': '#FFE4B5',
            'BADIMAGERY': '#d2a29e'
        };

        var isInCreateMode = ("{{ form.name.data }}" === "None") ? true : false;
        var errors = {{ form['errors'] | safe}};
        var functions = {{ functions|safe }};
        var map_provider = "{{ map_provider }}";
        var oneTimeFunctions = [];
        $.each(functions, function (key, value) {
            if (!value['need_feature']) {
                oneTimeFunctions.push(key)
            }
        });


        var remote_projects_list = [];
        {% if form.remote_projects.data %}
            remote_projects_list = {{ form.remote_projects.data | safe }};
        {% endif %}

        var maxAreaSize = {{ maximum_area_size }};

        var start_date = '{{ form.start_date.data }}';
        var end_date = '{{ form.end_date.data }}';
        var remaining_days = 0;

        if (start_date === 'None' || end_date === 'None') {
            remaining_days = 0;
        } else {
            end_date = moment(end_date.split(' ')[0], 'YYYY-MM-DD', true);
            remaining_days = end_date.diff(moment(), 'days') + 1;
        }

        if (remaining_days > 0) {
            $('#campaign-active').show();
        } else {
            $('#campaign-inactive').show();
        }

    </script>

    <script type="text/javascript" src="/static/js/leaflet.draw-0.4.9/leaflet.draw.js"></script>
    <script src="//cdnjs.cloudflare.com/ajax/libs/underscore.js/1.8.3/underscore-min.js"></script>
    <script type="text/javascript" src="/static/js/create/map.js"></script>
    <script type="text/javascript" src="/static/js/create/remote_mapping.js"></script>
    <script type="text/javascript" src="/static/js/create/types_tags.js"></script>
    <script type="text/javascript" src="/static/js/create/campaign-json-handler.js"></script>

    <script type='text/template' id='_template-function-form'>
        <div class="well well-sm" style="margin-bottom: 5px;">
            <div class="function-form-row row tooltip-help" id="function-<%=index%>">
                <div class="col-lg-1">
                    <button class="btn btn-danger btn-sm btn-block"
                            type=button onclick="removeFunction(this)">
                        <i class="fa fa-minus"></i></button>
                </div>
                <div class="col-lg-3">
                    <select class="form-control function-selection" data-toggle="tooltip" data-placement="top"
                            data-original-title="Select insight function"
                            onchange="functionOnSelected(this)">
                        <option value="">-------------------</option>
                        {% for key, value in functions.items() %}
                            <option value="{{ key }}">{{ value.name }}</option>
                        {% endfor %}
                    </select>
                </div>
                <div class="col-lg-2">
                    <input class="form-control function-type" data-toggle="tooltip" data-placement="top"
                           data-original-title="Put feature to extract"
                           style="display: none">
                </div>
                <div class="col-lg-2">
                    <input class="form-control function-feature" data-toggle="tooltip" data-placement="top"
                           data-original-title="Put feature to extract"
                           style="display: none">
                </div>
                <div class="col-lg-2">
                    <input class="form-control function-attributes" data-toggle="tooltip" data-placement="top"
                           data-original-title="Additional attributes for this function"
                           style="display: none">
                </div>
            </div>
        </div>
    </script>

    <script type="text/javascript">
        typesOptions = '{{ form.types_options }}';
        var initialLoad = true;
        var selectedFunctions = [];
        var types = {{ types|safe }};
        var selected_types_data = {};
        {% if form.types.data %}
            selected_types_data = {{ form.types.data | safe }};
            addMultipleTypes(selected_types_data);
        {% endif %}
        initialLoad = false;

        var remote_projects_list = [];
        {% if form.remote_projects.data %}
            remote_projects_list = {{ form.remote_projects.data | safe }};
        {% endif %}

        //------------------ CAMPAIGN MANAGERS ------------------//
        var managers_list = [];
        {% if form.campaign_managers.data %}
            managers_list = {{ form.campaign_managers.data | safe }};
        {% endif %}
        {% if campaign_creator %}
            var campaign_creator = '{{ campaign_creator }}';
        {% endif %}

        function updateManagerList() {
            $('#managers-list').html('');
            if (managers_list.length > 0) {
                $.each(managers_list, function (index, value) {
                    if (typeof campaign_creator !== 'undefined' && value == campaign_creator) {
                        $('#managers-list').append(
                                '<span class="manager">' + value
                        )
                    } else {
                        $('#managers-list').append(
                                '<span class="manager">' + '<i class="fa fa-times remove-manager" onclick="removeManager(this, \'' + value + '\')" aria-hidden="true"></i>' + value + '</span>'
                        )
                    }
                })
            }
        }
        $('#form-panel').hide();
        $(function () {
            updateManagerList();
        });

        function removeManager(e, manager) {
            var index = managers_list.indexOf(manager);
            if (index > -1) {
                managers_list.splice(index, 1);
            }
            $(e).parent().remove();
        }

        $("#add-to-managers").click(function () {
            var listOsmUsers = [];
            $('#list-osm-users :selected').each(function (i, selected) {
                listOsmUsers[i] = $(selected).text();
            });

            $('.error-managers').hide();

            for (var i = 0; i < listOsmUsers.length; i++) {
                if ($.inArray(listOsmUsers[i], managers_list) === -1) {
                    managers_list.push(listOsmUsers[i]);
                    $('#managers-list').append(
                            '<span class="manager">' + listOsmUsers[i] +
                            '<i class="fa fa-times remove-manager" onclick="removeManager(this, \'' + listOsmUsers[i] + '\')" aria-hidden="true"></i></span>'
                    )
                }
            }

        });

        $("#search-osm-user-button").click(function () {
            searchOsmUser();
        });

        $('#search-osm-user-text').keypress(function (e) {
            if (e.which === 13) {
                searchOsmUser();
            }
        });

        function searchOsmUser() {
            var textInput = $('#search-osm-user-text').val();
            var url = '/search_osm/' + textInput;
            var $searchOsmButton = $('#search-osm-user-button');
            $searchOsmButton.attr('disabled', 'disabled');
            $searchOsmButton.LoadingOverlay("show", {image: "/static/resources/loading-spinner.gif"});
            $('#users-not-found').hide();
            $('#users-found').hide();
            $.ajax({
                url: url,
                success: function (data) {
                    $searchOsmButton.removeAttr('disabled');
                    $searchOsmButton.LoadingOverlay("hide");
                    $('#list-osm-users').html('');
                    var dataObj = JSON.parse(data);

                    if (dataObj.length > 0) {
                        $('#users-found').show("slow");
                    } else {
                        $('#users-not-found').show("slow");
                    }

                    $.each(dataObj, function (index, value) {
                        $('#list-osm-users').append($('<option/>', {
                            value: value,
                            text: value
                        }));
                    });
                }
            });
        }


        //------------------ BUTTONS ------------------//

        function scrollToClass(element_class, removed_height) {
            var scrollTo = $(element_class).offset().top - removed_height;
            if ($(window).scrollTop() !== scrollTo) {
                $('html, body').stop().animate({scrollTop: scrollTo}, 0);
            }
        }

        $('.btn-next').click(function () {
            nextStep(this);
        });

        $('.btn-prev').click(function () {
            // navigation steps / progress steps
            prevStep(this);
        });

        //------------------ EVENT ------------------//

        function reloadUser() {
            var that = this;
            auth.xhr({
                method: 'GET',
                path: '/api/0.6/user/details'
            }, function (err, res) {

                var u = res.getElementsByTagName('user')[0];
                var changesets = res.getElementsByTagName('changesets')[0];

                var o = {
                    display_name: u.getAttribute('display_name'),
                    id: u.getAttribute('id'),
                    count: changesets.getAttribute('count')
                };

                updated(o);

            }, this);
        }

        function updated(response) {
            {% if action == 'edit' %}
                var is_manager = $.inArray(response.display_name, managers_list);
                if(is_manager == -1){
                    location.href='/404';
                }else {
                    $('#form-panel').show();
                    $('#campaign-panel').show();
                    $('#submit').show();
                }
            {% else %}
                $('#form-panel').show();
                $('#campaign-panel').show();
                $('#submit').show();
            {% endif %}
            {% if action == 'create' %}
                managers_list.push(response.display_name);
                $('#managers-list').append(
                        '<span class="manager">' + response.display_name
                );
            {% endif %}
        }

        function loginSuccess(response) {
            clearNotification();
        }

        function logoutSuccess() {
            window.location.replace("/");
        }

        if (!window.isAuthenticated) {
            window.location.replace("/");
        } else {
            {% if action=='create' %}
                $('#form-panel').show();
                $('#campaign-panel').show();
                $('#submit').show();
            {% endif %}
        }

        //------------------ STEPS ------------------//

        // If in edit mode, activate all steps
        if (!isInCreateMode) {
            var totalSteps = $('.cc-nav-steps').children('.cc-nav').length;
            for (var i = 1; i < totalSteps + 1; i++) {
                activateStep(i);
            }
        }

        if (!isEmpty(errors)) {
            showNotifications('Failed to create a campaign!', 'danger');
        }

        function checkSteps(step) {
            activateStep(step);
            var valid = true;
            if (step === 1) {
                valid = checkStep1();
            } else if (step === 2) {
                valid = checkStep2();
            } else if (step === 5) {
                valid = checkStep5();
            }

            var $currentActiveStep = $(".cc-nav-steps").find('[data-step="' + step + '"]');
            $currentActiveStep.addClass('clickable-menu');
            $currentActiveStep.find('.cc-nav-icon').show();
            if (!valid) {
                $currentActiveStep.find('.cc-nav-icon .fa').removeClass('fa-check');
                $currentActiveStep.find('.cc-nav-icon .fa').addClass('fa-times times-red');
            } else {
                $currentActiveStep.find('.cc-nav-icon .fa').addClass('fa-check');
                $currentActiveStep.find('.cc-nav-icon .fa').removeClass('fa-times times-red');
            }
            return valid;
        }

        function checkStep1() {
            var valid = true;

            var required_forms = $('#fieldset-1').find('.required-form');

            $.each(required_forms, function (index, value) {
                var input_form = $(value).find("[type=text]");
                var radio_form = $(value).find("[type=radio]");
                var select_form = $(value).find('select');

                if (input_form.length > 0) {
                    input_form.removeClass('error');

                    input_form.click(function () {
                        $(this).removeClass('error');
                        $(this).attr('placeholder', '');
                    });

                    if (input_form.val() === '') {
                        input_form.addClass('error');
                        input_form.attr('placeholder', 'This field is required');
                        valid = false;
                    }
                } else if (select_form.length > 0) {
                    select_form.removeClass('error');
                    select_form.parent().removeClass('error');

                    select_form.click(function () {
                        $(this).removeClass('error');
                    });

                    if (select_form.val().length === 0) {
                        select_form.addClass('error');
                        select_form.parent().addClass('error');
                        select_form.parent().prepend('This field is required');
                        valid = false;
                    }
                } else if (radio_form.length > 0) {
                    var radio_checked = false;
                    for (var i = 0; i < radio_form.length; i++) {
                        if (!$(radio_form[i]).is(":checked")) {
                            valid = false;
                        } else {
                            radio_checked = true;
                            break;
                        }
                    }
                    var error = radio_form.parent().parent().find('.error-form');
                    $(error).remove();
                    if (!radio_checked) {
                        radio_form.parent().parent().prepend('<div class="error-form">This field is required</div>');
                    }
                }
            });

            if (managers_list.length === 0) {
                reloadUser();
            }

            var types_value = getTypesSelectionValue();
            $("#types").val(JSON.stringify(types_value));
            rerenderFunction();
            if (jQuery.isEmptyObject(types_value)) {
                valid = false;
                $('.types-required-message').show();
            }

            return valid;
        }

        function checkStep2() {
            var valid = true;
            var mapErrorNotification = $('.map-wrapper').data('error');

            clearNotification();

            if (mapErrorNotification !== '') {
                showNotifications(mapErrorNotification, 'danger');
                valid = false;
            }
            // Check drawn item
            if (drawnItems.getLayers().length === 0) {
                showNotifications('Map is empty, please draw a layer or upload boundary.', 'danger');
                valid = false;
            }
            if (error_format_before) {
            }

            return valid;
        }

        function checkStep5() {
            var valid = true;
            var mapErrorNotification = $('.map-wrapper').data('error');

            clearNotification();

            var campaignJson = $('#advanced-mode-textarea').val();

            if (campaignJson) {
                campaignJson = JSON.parse(campaignJson);
                var rows = $('#insight-function').find('.function-form').find('.function-form-row');
                $.each(rows, function (index, row) {
                    if (!$(row).find('.function-selection').val()) {
                        var function_name = campaignJson['selected_functions']['function-' + (index + 1)]['function'];
                        showNotifications(function_name + ' is not an insight function.', 'danger');
                        valid = false;
                    }
                });
            }

            return valid;
        }

        function activateStep(step) {
            var currentActiveStep = $(".cc-nav-steps").find('[data-step="' + step + '"]');
            // change icons
            currentActiveStep.find('.cc-nav-icon').addClass('activated');
            currentActiveStep.removeClass('disabled');
            currentActiveStep.addClass('clickable-menu');
            currentActiveStep.click(function () {
                var nextStep = $(this).data('step');
                var currentStep = $('.cc-nav-steps').find('.active').data('step');
                var isNextStep = checkSteps(currentStep);
                var nameDateValid = checkFormHeader();
                showStep(currentStep, nextStep, false);
            })
        }

        function preparingStep(current_step) {
            if (current_step === 3) {
                activateStep(4);
            }
            else if (current_step === 4) {
                preprocessSubmitForm();
                $('#advanced-mode-textarea').LoadingOverlay("show", {image: "/campaign_manager/static/resources/loading-spinner.gif"});
                $.post("/submit_campaign_data_to_json", $("#campaign-form").serialize()).done(
                        function (data) {
                            $('#advanced-mode-textarea').LoadingOverlay("hide");
                            $('#advanced-mode-textarea').val(JSON.stringify(JSON.parse(data), null, 4));
                        }).fail(
                        function () {
                            $('#advanced-mode-textarea').LoadingOverlay("hide");
                            showNotifications('Some of form is not filled.', 'danger');
                        }
                );
            }
        }

        function showStep(previousStep, nextStep, activatePrevStep) {
            if (previousStep === nextStep) {
                return false;
            }
            var $prevFieldset = $('#fieldset-' + previousStep);
            var $nextFieldset = $('#fieldset-' + nextStep);

            var $nextNavStep = $(".cc-nav-steps").find('[data-step="' + nextStep + '"]');
            var $prevNavStep = $(".cc-nav-steps").find('[data-step="' + previousStep + '"]');

            $nextNavStep.removeClass('disabled');

            preparingStep(nextStep);
            $prevFieldset.hide();
            $prevNavStep.removeClass('active');
            if (activatePrevStep) {
                activateStep(previousStep);
            }
            $nextNavStep.addClass('active');

            $nextFieldset.fadeIn();
            $nextFieldset.children().find('button').removeAttr('disabled');

            if (nextStep === 2) {
                var aoiMap = getAOIMap();
                aoiMap.invalidateSize();
                if (drawnItems.getLayers().length > 0) {
                    aoiMap.fitBounds(drawnItems.getBounds());
                    getAreaSize();
                    stringfyGeometry();
                } else {
                    aoiMap.setView([0, 0], 2);
                }
            } else if (nextStep === 3) {
                remoteMap.invalidateSize();
            }

            // scroll window to beginning of the form
            scrollToClass($('#wrapper'), 20);
        }

        function nextStep(elm) {
            var currentActiveStep = $('.cc-nav-steps').find('.cc-nav.active');
            var progressLine = $(elm).parents('.cc').find('.cc-progress-line');
            var parentFieldset = $(elm).parents('fieldset');
            var currentFieldsetNumber = parentFieldset.data('fieldset-step');

            var currentStep = currentActiveStep.data('step');
            var totalSteps = progressLine.data('number-of-steps');

            if (currentStep === totalSteps) return;

            var isNextStep = checkSteps(currentStep);
            var nameDateValid = checkFormHeader();

            // scroll window to beginning of the form
            scrollToClass($('#wrapper'), 20);

            if (isNextStep && nameDateValid) {
                $(parentFieldset).children().find('button').attr('disabled', 'disabled');
                showStep(currentFieldsetNumber, currentFieldsetNumber + 1, true);
            }
        }

        function prevStep(elm) {
            var currentActiveStep = $('.cc-nav-steps').find('.cc-nav.active');
            var parentFieldset = $(elm).parents('fieldset');
            var currentFieldsetNumber = parentFieldset.data('fieldset-step');

            var currentStep = currentActiveStep.data('step');

            if (currentStep === 1) return;

            $(parentFieldset).children().find('button').attr('disabled', 'disabled');
            showStep(currentFieldsetNumber, currentFieldsetNumber - 1, false);
        }

        function checkFormHeader() {
            var valid = true;
            var required_forms = $('.form-header').find('.required-form');

            $.each(required_forms, function (index, value) {
                var input_form = $(value).find("[type=text]");

                if (input_form.length > 0) {
                    input_form.removeClass('error');

                    input_form.click(function () {
                        $(this).removeClass('error');
                        $(this).attr('placeholder', '');
                    });

                    if (input_form.val() === '') {
                        input_form.addClass('error');
                        input_form.attr('placeholder', 'This field is required');
                        valid = false;
                    }
                }
            });

            return valid;
        }

        $(function () {

            $('input#name').focus();
            $(document).tooltip({
                selector: "[data-toggle=tooltip]",
                container: "body"
            });

            $(".submit-button").click(function () {
                if (!$('.submit-button').hasClass('disabled')) {
                    $("#campaign-form").submit();
                }
            });

            $('#campaign-form input').addClass('form-control');
            $('#campaign-form textarea').addClass('form-control');
            $('#campaign-form select').addClass('form-control');
            $('#link_to_omk').removeClass('form-control');

            {# selected functions#}
            if ($("#selected_functions").val()) {
                var selected_functions = $.parseJSON($("#selected_functions").val());
                selectedFunctions = selected_functions;
                $.each(selected_functions, function (key, functions) {
                    addFunction($('#insight-function-add'), functions);
                });
            }

            $('.cc fieldset:first').fadeIn('slow');

        });

        function get_selected_functions() {
            {# functions #}
            var functions = {};
            var rows = $('#insight-function').find('.function-form').find('.function-form-row');
            $.each(rows, function (index, row) {
                if ($(row).find('.function-selection').val()) {
                    functions[$(row).attr('id')] = {
                        'function': $(row).find('.function-selection').val(),
                        'feature': $(row).find('.function-feature').val(),
                        'attributes': JSON.parse($(row).find('.function-attributes').val()),
                        'type': $(row).find('.function-type').val()
                    }
                }
            });
            return functions;
        }
        function checkingAllStep() {
            var valid = true;
            $("fieldset").each(function (index) {
                var validStep = checkSteps(index + 1);
                if (!validStep) {
                    valid = validStep;
                }

            });
            var validHeader = checkFormHeader();
            if (!validHeader) {
                valid = validHeader;
            }
            return valid;
        }
        function preprocessSubmitForm() {
            $("#uploader").val($("#profile-name").html());

            $('#campaign_managers').html('');
            $.each(managers_list, function (index, value) {
                $('#campaign_managers').append('<option selected="selected" value="' + value + '">' + value + '</option>')
            });

            if (!auth.authenticated() || !$("#uploader").val()) {
                window.location.replace("/not-logged-in.html");
            }

            $('#remote_projects').html('');
            for (var key in addedLayers) {
                $('#remote_projects').append('<option selected="selected" value="' + key + '">' + key + '</option>')
            }

            $('#campaign_status').val('Start');

            // Processing selected function
            var selected_functions = {};
            selected_functions = $.extend({}, selected_functions, get_selected_functions());
            $("#selected_functions").val(JSON.stringify(selected_functions));

        }
        $("#campaign-form").submit(function (event) {
            preprocessSubmitForm();
            var allValid = checkingAllStep();
            if (!allValid) {
                return false;
            }
        });

        function getFormElement(event, className) {
            return $(event).closest("div").find(className);
        }

        var function_index = 1;
        function addFunction(event, data) {
            $(event).blur();
            var template = _.template($("#_template-function-form").html());
            var html = template({index: function_index});
            getFormElement(event, '.function-form').append(html);

            var row = $('#function-' + function_index);

            if (data) {
                getFormElement(row, '.function-selection').val(data['function']);
                functionOnSelected(getFormElement(row, '.function-selection'));
                getFormElement(row, '.function-type').val(data['type']);
                getFormElement(row, '.function-feature').val(data['feature']);
                getFormElement(row, '.function-attributes').val(JSON.stringify(data['attributes']));
            }
            function_index += 1;
        }

        function functionOnSelected(event) {
            var $event = $(event).parent().parent();
            getFormElement($event, '.function-feature').html('');
            getFormElement($event, '.function-attributes').val('');
            getFormElement($event, '.function-feature').hide();
            getFormElement($event, '.function-attributes').hide();
            getFormElement($event, '.function-type').hide();

            var insightFunctionName = $(event).val();

            if (insightFunctionName !== '') {
                var need_feature = 'false';
                var need_required_attributes = 'false';

                if (typeof functions[insightFunctionName] !== 'undefined') {
                    need_feature = functions[insightFunctionName]['need_feature'];
                    need_required_attributes = functions[insightFunctionName]['need_required_attributes'];
                }

                if (need_feature === 'true') {
                    getFormElement($event, '.function-type').show();
                    getFormElement($event, '.function-feature').show();
                }
                if (need_required_attributes === 'true') {
                    getFormElement($event, '.function-attributes').show();
                }
            }
        }

        function removeFunction(event) {
            $(event).parent().parent().parent().remove();
        }

        $("#submit").click(function () {
            $("#form").submit();
        });

        $("#start_date").attr('data-language', 'en');
        $("#end_date").attr('data-language', 'en');

        $("#start_date").datepicker({
            dateFormat: 'yyyy-mm-dd',
            autoClose: true,
            onSelect: function (date) {
                $("#end_date").val(date);
                $("#end_date").datepicker({minDate: new Date(date)})
                $('#start-date-value').html(date.toString())
            }
        });

        $("#end_date").datepicker({
            dateFormat: 'yyyy-mm-dd',
            autoClose: true,
            position: 'bottom right',
            onSelect: function (date) {
                $("#start_date").val(date);
                $("#start_date").datepicker({maxDate: new Date(date)})
                $('#end-date-value').html(date.toString())
            }
        });

        $("#start-date-icon").click(function () {
            $('#start_date').datepicker().data('datepicker').show()
        });

        $("#end-date-icon").click(function () {
            $('#end_date').datepicker().data('datepicker').show()
        });

        $(function () {
            var end = Date.parse($("#end_date").val());
            var start = Date.parse($("#start_date").val());
            if(start > end){
                $("#end_date").val($("#start_date").val());
            }

            {% if form.start_date.data and form.end_date.data %}
                var start_date = $("#start_date").val();
                var end_date = $("#end_date").val();
                $('#start-date-value').html(start_date.toString());
                $('#end-date-value').html(end_date.toString());

                $("#start_date").datepicker({
                    maxDate: new Date($("#end_date").val().toString())
                });
                $('#start_date').datepicker().data('datepicker').selectDate(new Date(start_date.toString()));

                $("#end_date").datepicker({
                    minDate: new Date($("#start_date").val().toString())
                });
                $('#end_date').datepicker().data('datepicker').selectDate(new Date(end_date.toString()));
            {% endif %}

        })

    </script>

{% endblock %}