{% extends 'new_base.html' %}

{% block header_content %}

    <!-- List Javascript  -->
    <script type="text/javascript" src="/static/libs/list.min.js"></script>

    <div class="v2-home-header">
        <div class="row">
            <div class="col-lg-6" style="height: 300px">
                <div style="text-align: center; margin-top: 30px">
                    <p><span class="active-campaign-text">Active campaigns:&nbsp;</span>
                        <span class="active-campaign-text-bold" id="active-campaign-number">0</span></p>
                    <p><a class="underline-text" href="#">Display inactive campaigns</a></p>
                </div>
                <div  style="text-align: center; margin-top: 40px; display: flex; justify-content: center;">
                    <table class="home-option">
                        <tr class="home-option">
                            <td class="home-option">Showing:</td>
                            <td class="home-option">
                                <select>
                                    <option>nearest</option>
                                    <option>my</option>
                                    <option>all</option>
                                </select>
                            </td>
                            <td class="home-option">5</td>
                            <td class="home-option">
                                <select>
                                    <option>campaigns</option>
                                    <option>km radius</option>
                                </select>
                            </td>
                            <td class="home-option"><input type="checkbox" id="check-show-map" style="vertical-align: bottom" checked> show map</td>
                        </tr>
                    </table>
                </div>
            </div>
            <div class="col-lg-6">
                <div id="campaign-map"></div>
            </div>
        </div>
    </div>
{#    <div class="home-header">#}
{#        <div class="col-lg-6">#}
{#            <div class="row">#}
{#                <div class="col-md-6">#}
{#                    <button id="create-campaign" class="btn btn-home btn-lg btn-block">Start a campaign</button>#}
{#                </div>#}
{#                <div class="col-md-6">#}
{#                    <button class="btn btn-home btn-lg btn-block" onclick="participate()">Participate</button>#}
{#                </div>#}
{#            </div>#}
{#        </div>#}
{#        <div class="col-lg-1">#}
{#            <span class="v-separator"></span>#}
{#        </div>#}
{#        <div class="col-lg-2 header-info">#}
{#            <span class="header-number" id="active-campaign-number">0</span>#}
{#            <span class="header-number-text">active campaigns</span>#}
{#        </div>#}
{##}
{#        <div class="col-lg-1">#}
{#            <span class="v-separator"></span>#}
{#        </div>#}
{#        <div class="col-lg-2 header-info crimson">#}
{#            <span class="header-number" id="participants-number">0</span> <span class="header-number-text">participants</span>#}
{#        </div>#}
{##}
{#    </div>#}
{% endblock %}

{% block content %}

{#    <button id="all-campaigns" type="button" class="btn btn-outline btn-info btn-lg">#}
{#        <i class="fa fa-globe" aria-hidden="true"></i>#}
{#        <span style="margin-left: 5px;">All Campaigns</span>#}
{#    </button>#}
{##}
{#    <button id="nearest-campaigns" type="button" class="btn btn-outline btn-info btn-lg">#}
{#        <i class="fa fa-globe" aria-hidden="true"></i>#}
{#        <span style="margin-left: 5px;">Nearest Campaigns</span>#}
{#    </button>#}

    <div class="row" id="campaign-list">

        <div class="row" style="margin-bottom: 20px">

            <div class="col-lg-6">
                <!-- class="search" automagically makes an input a search field. -->
                <input class="search" placeholder="Search"/><span class="search-icon" style="text-align: right"><i class='fa fa-search' style="font-size: 12pt"></i></span>
                <!-- class="sort" automagically makes an element a sort buttons. The date-sort value decides what to sort by. -->
            </div>

            <div class="col-lg-6" style="text-align: right">
                <button class="sort" data-sort="campaign-name">
                    Sort By Name
                </button>
                <button class="sort" data-sort="campaign-start-date">
                    Sort By Date
                </button>
            </div>
        </div>

        <div class="row">
        <ul class="list card-wrapper">

        </ul>
        </div>

    </div>

{% endblock %}

{% block before_base_js %}

    <style type="text/css">

        #campaign-table, #campaign-table_wrapper {
            font-size: 10pt;
        }

        #campaign-table_info {
            font-size: 9pt;
        }

        .paginate_button {
            padding: 0.3em 0.7em !important;
        }

        #campaign-table_wrapper {
            padding-bottom: 20px;
            padding-top: 10px;
        }

        #campaign-table .tag {
            font-size: 9pt;
        }

        #campaign-table_filter input[type=search] {
            border-radius: 4px;
            border: 1px solid #d1d1d1;
        }

        #campaign-table tr.odd {
            background-color: rgba(223, 234, 242, 0.30) !important;
        }


        #campaign-table tr.odd:hover, tr.even:hover {
            background-color: rgba(59, 132, 172, 0.13) !important;
        }

        .label-tag {
            font-size: 12pt;
            position: absolute;
            margin-left: 8px;
            margin-top: 12px;
        }

        .label-tag a {
            color: #bbb;
            cursor: pointer;
            opacity: 0.6;
        }

        .label-tag a:hover {
            opacity: 1.0
        }

        .label-tag .remove-tag {
            vertical-align: bottom;
            top: 0;
        }

        .label-tag a {
            margin: 0 0 0 .3em;
        }

        .label-tag a .glyphicon-white {
            color: #fff;
            margin-bottom: 2px;
        }

        #all-campaigns, #nearest-campaigns {
            display: none;
        }

    </style>

    <script type="text/javascript">

        $(function () {
            var user_location_setting = Cookies.get('user_location_setting');
            var tag = "{{ tag }}";
            if(user_location_setting === 'all' && auth.authenticated()) {
                // check current url
                var current_href = window.location.href.split('/');
                if(current_href[current_href.length-1] !== 'all' && !tag) {
                   location.href='/all';
                }
            }
        });

        var map = L.map('campaign-map').setView([0, 0], 2);
        L.tileLayer('https://{s}.tile.openstreetmap.org/{z}/{x}/{y}.png', {
            attribution: '© <a href="http://www.openstreetmap.org" target="_parent">OpenStreetMap</a> and contributors, ' +
            'under an <a href="http://www.openstreetmap.org/copyright" target="_parent">open license</a>',
            maxZoom: 15
        }).addTo(map);

        $('#create-campaign').click(function () {
            if (window.isAuthenticated) {
                location.href='/create';
            } else {
                showNotifications('You need to login first.', 'danger');
            }
        });

    </script>

{% endblock %}

{% block after_base_js %}

    <script type="text/javascript">

{#        var table = $('#campaign-table').DataTable({#}
{#            "lengthChange": false#}
{#        });#}
        var table = null;
        $('.dataTables_filter').addClass('pull-left');
        var userCoordinate = '';
        var mapLayers = new L.FeatureGroup();
        var mapMarkers = new L.FeatureGroup();
        var tag = "{{ tag }}";
        map.addLayer(mapMarkers);
        map.addLayer(mapLayers);

        //---------------- EVENT ------------------//
        $('#check-show-map').click(function () {
           if( $(this).is(':checked') ){
               $('#campaign-map').show();
           } else{
               $('#campaign-map').hide();
           }
        });

        function participate() {
            var participateUrl = "/participate"
            if(userCoordinate) {
                participateUrl += "?coordinate="+userCoordinate;
            }
            window.location.href = participateUrl;
        }

        function updated(user) {
            clearNotification();
            var currentUser = user.display_name;
            var url = "/campaigns";
            userCoordinate = user['lat'] + ',' + user['lon'];

            if(user['lon'] && user['lat']) {
                url = "/nearest_campaigns/" + user['lat'] + ',' + user['lon'];
            }
            clearMap();
            clearTable();
            getCampaigns(url, currentUser);
            getTotalCampaigns();
            {% if not all %}
                $('#all-campaigns').show();
            {% else %}
                $('#nearest-campaigns').show();
            {% endif %}
        }

        $('.remove-tag').click(function () {
            location.href='/'
        });

        $('#all-campaigns').click(function () {
            Cookies.set('user_location_setting', 'all');
            location.href='/all'
        });

        $('#nearest-campaigns').click(function () {
            Cookies.set('user_location_setting', 'nearest');
            location.href='/'
        });

        function logoutSuccess() {
            clearMap();
            clearTable();
            // Clear cookies
            Cookies.set('user_location_setting', '');
            {% if all %}
                location.href='/';
            {% endif %}
            $('#all-campaigns').hide();
            $('#nearest-campaigns').hide();
        }

        if(!auth.authenticated()) {
            {% if all %}
                location.href='/';
            {% endif %}
            getBrowserLocation();
            getTotalCampaigns();
        }

        function loginError() {
            getBrowserLocation();
        }

        function clearMap() {
            map.removeLayer(mapMarkers);
            map.removeLayer(mapLayers);
            mapLayers = new L.FeatureGroup();
            mapMarkers = new L.FeatureGroup();
            map.addLayer(mapMarkers);
            map.addLayer(mapLayers);
        }

        function clearTable() {
            // table.clear().draw('false');
        }

        function getBrowserLocation() {
            // Get user location
            navigator.geolocation.getCurrentPosition(successGetBrowserLocation, errorGetBrowserLocation);

            function successGetBrowserLocation(position) {
                var zoom = 10;
                var userLocation = new L.latLng(position.coords.latitude, position.coords.longitude);
                var url = "/nearest_campaigns/" + position.coords.latitude + ',' + position.coords.longitude;
                getCampaigns(url);
                userCoordinate = position.coords.latitude + ',' + position.coords.longitude;
                map.setView(userLocation, zoom);
            }

            function errorGetBrowserLocation() {
                console.log('Error get browser location');
                clearMap();
                clearTable();
                getCampaigns();
            }
        }

        function getTotalCampaigns() {
            var url = "/total_campaigns";
            $.ajax(url, {
                success: function (response) {
                    $('#active-campaign-number').html(response['campaign_total']);
                    $('#participants-number').html(response['participant_total']);
                }
            })
        }

        function getCampaigns(url, user) {

            $('#panel-campaign').LoadingOverlay("show", {image: "/static/resources/loading-spinner.gif"});

            if(!url) {
                url = "/campaigns";
            }
            {% if all %}
                url = "/campaigns";
            {% endif %}

            var campaign_status = '/active';

            url += campaign_status;

            if(tag) {
                url += '/'+tag;
            }

            // Clear campaign list in navbar
            $('.campaign-list-navbar').html('');

            var participants = [];

            $.ajax(url, {
                success: function(campaigns){
                    $.each(campaigns, function (index, campaign) {
                        var types = [];
                        var action_button = '';

                        if(campaign['types']) {
                            $.each(campaign['types'], function (index, type) {
                               types.push(type['type']);
                            });
                            types = types.join()
                        }else{
                            types = '-'
                        }

                        if($.inArray(user, campaign['campaign_managers'])>-1) {
                            action_button = '<button type="button" href="#" class="campaign-list btn"'+
                                                'onclick="location.href=\'/edit/'+campaign['uuid']+'\'">'+
                                                '<span class="pull-left"><i class="fa fa-cog" aria-hidden="true"></i> Manage</span>'+
                                             '</button>'
                        }

                        $.each(campaign['campaign_managers'], function (index, manager) {
                            if($.inArray(manager, participants)==-1) {
                                participants.push(manager);
                            }
                        })

                        $('.card-wrapper').append(
                            '<li class="col-lg-6">'+
                                '<div class="campaign-card panel">'+
                                    '<div class="panel-heading">'+
                                        '<div class="campaign-name"><a href=/campaign/'+ campaign['uuid'] +'>'+
                                            campaign['name'] +
                                        '</a></div>'+
                                        '<div class="row">' +
                                            '<div class="col-lg-6">'+
                                                '<div class="campaign-start-date">'+
                                                    'started '+ campaign['start_date'] +
                                                '</div>'+
                                            '</div>'+
                                            '<div class="col-lg-6">'+
                                                '<div class="campaign-progress-bar">'+
                                                    '<img src="/static/img/progress-dummy.png" height="20px" width="200px">' + ' 60%' +
                                                '</div>'+
                                            '</div>'+
                                        '</div>' +
                                        '<div class="row">'+
                                            '<div class="col-lg-8">'+
                                                '<div>'+
                                                    '<span class="campaign-tags">tag</span>'+
                                                '</div>'+
                                                '<div class="campaign-description">'+
                                                    campaign['description']+
                                                '</div>'+
                                            '</div>'+
                                            '<div class="col-lg-4">'+
                                                '<img src="/static/img/map-dummy.png" height="100px" align=right>'+
                                            '</div>'+
                                        '</div>'+
                                        '<div class="row">'+
                                            '<div class="col-lg-12">'+
                                                '<div class="campaign-creator">'+
                                                        'Campaign creator <span class="campaign-creator-name">'+ campaign['campaign_creator'] + '</span>' +
                                                '</div>'+
                                            '</div>'+
                                        '</div>' +
                                    '</div>'+
                                '</div>'+
                            '</li>');

                        // Add to navigation bar
                        $('.campaign-list-navbar').append('<li>'+
                            '<a href="/campaign/'+campaign['uuid']+'">'+campaign['name']+'</a>'+
                        '</li>');

                        // Add campaign layer
                        var campaignLayer = L.geoJson(campaign['geometry'], {
                            onEachFeature: function (feature, layer) {
                                // Check if feature is a polygon
                                if (feature.geometry.type === 'Polygon') {
                                    // Don't stroke and do opaque fill
                                    layer.setStyle({
                                        'weight': 0.3,
                                        'fillOpacity': 0.2,
                                        'color': '#FF5722'
                                    });
                                }
                            }
                        }).addTo(mapLayers);

                        var bounds = campaignLayer.getBounds();
                        var center = bounds.getCenter();

                        var marker = L.marker(center, {icon: orangeIcon}).addTo(mapMarkers);
                        marker.bindPopup(
                            '<div class="campaign-marker"><a href="/campaign/'+
                                campaign['uuid'] +'"> ' +
                                campaign['name'] +
                            '</a></div>'
                        );
                    });

                    $('#panel-campaign').LoadingOverlay("hide");

                    {% if all %}
                        map.fitBounds(mapLayers.getBounds());
                    {% endif %}

                    var options = {
                        valueNames: ['campaign-name', 'campaign-start-date']
                    }
                    var campaignList = new List('campaign-list', options);
                }
            });
        }

    </script>

{% endblock %}