{% extends 'new_base.html' %}

{% block header_content %}

    <!-- List Javascript  -->
    <script type="text/javascript" src="/static/libs/list.min.js"></script>
    <script type="text/javascript" src="/static/libs/ellipsis.js"></script>

    <div class="v2-home-header">
        <div class="row">
            <div class="col-lg-6">
                <div style="text-align: center; margin-top: 10px">
                    <div class="head-title">Monitor Field Mapping in OpenStreetMap</div>
                    <div class="head-desc">
                        MapCampaigner is aimed at managing and monitoring field data collection campaigns in OpenStreetMap. Campaign managers may use this tool to setup new and review ongoing and completed campaigns. Mappers can find nearby field campaigns to participate in. The result – improved data collection standards and project management.
                    </div>
                    <div class="active-campaing-text-wrapper">
                        <span class="active-campaign-text">Active campaigns:&nbsp;</span>
                        <span class="active-campaign-text-bold" id="active-campaign-number">0</span>
                    </div>
                </div>
            </div>
            <div class="col-lg-6">
                <div id="campaign-map"></div>
            </div>
        </div>
    </div>
{% endblock %}

{% block content %}

    <div class="row" id="campaign-list">

        <div class="row" style="margin-bottom: 20px">

            <div class="col-md-5 custom-5" id="search-campaign">
                <!-- class="search" automagically makes an input a search field. -->
                <input class="search" placeholder="Search"/><span class="search-icon" style="text-align: right"><i class='fa fa-search' style="font-size: 12pt"></i></span>
            </div>

            <div class="col-md-5" style="text-align: center; display: flex; justify-content: center;">
                    <table class="home-option">
                        <tr class="home-option">
                            <td id="showing-div" class="home-option">Showing:</td>
                            <td class="home-option no-padding">
                                <select class="flat-select" id="campaigns-select">
                                    <!-- <option value="nearest">nearest</option> -->
                                    <option value="all">all</option>
                                    <option value="inactive">inactive</option>
                                </select>
                            </td>
                            <td class="home-option nearest-option no-padding">
                                <input id="limit-page" name="limit-page" type="text" class="form-control" value="5" style="width: 50px;" onkeypress='return event.charCode >= 48 && event.charCode <= 57'/>
                            </td>
                            <td class="home-option nearest-option">
                                campaigns
                            </td>
                            <td class="home-option"><input type="checkbox" id="check-show-map" checked> show map</td>
                        </tr>
                    </table>
                </div>

<!--             <div class="col-md-2 no-padding metroUIform" style="text-align: center">
                <button class="sort" id="sort-campaign-by-name" data-sort="campaign-name" style="display: none">
                    Sort By Name
                </button>
                <button class="sort" id="sort-campaign-by-date" data-sort="campaign-start-date" style="display: none;">
                    Sort By Date
                </button>
                <select class="flat-select" id="filter-select">
                    <option value="name">Sort By Name</option>
                    <option value="date">Sort By Date</option>
                </select>
            </div> -->
        </div>

        <div class="row">
        <ul class="list card-wrapper">

        </ul>
        </div>

    </div>

{% endblock %}

{% block before_base_js %}

    <style type="text/css">

        #campaign-table, #campaign-table_wrapper {
            font-size: 10pt;
        }

        #campaign-table_info {
            font-size: 9pt;
        }

        .paginate_button {
            padding: 0.3em 0.7em !important;
        }

        #campaign-table_wrapper {
            padding-bottom: 20px;
            padding-top: 10px;
        }

        #campaign-table .tag {
            font-size: 9pt;
        }

        #campaign-table_filter input[type=search] {
            border-radius: 4px;
            border: 1px solid #d1d1d1;
        }

        #campaign-table tr.odd {
            background-color: rgba(223, 234, 242, 0.30) !important;
        }


        #campaign-table tr.odd:hover, tr.even:hover {
            background-color: rgba(59, 132, 172, 0.13) !important;
        }

        .label-tag {
            font-size: 12pt;
            position: absolute;
            margin-left: 8px;
            margin-top: 12px;
        }

        .label-tag a {
            color: #bbb;
            cursor: pointer;
            opacity: 0.6;
        }

        .label-tag a:hover {
            opacity: 1.0
        }

        .label-tag .remove-tag {
            vertical-align: bottom;
            top: 0;
        }

        .label-tag a {
            margin: 0 0 0 .3em;
        }

        .label-tag a .glyphicon-white {
            color: #fff;
            margin-bottom: 2px;
        }

        #all-campaigns, #nearest-campaigns {
            display: none;
        }

    </style>

    <script type="text/javascript">

        // $(function () {
        //     var user_location_setting = Cookies.get('user_location_setting');
        //     var tag = "{{ tag }}";
        //     if(user_location_setting === 'all' && auth.authenticated()) {
        //         // check current url
        //         var current_href = window.location.href.split('/');
        //         if(current_href[current_href.length-1] !== 'all' && !tag) {
        //            location.href='/all';
        //         }
        //     }

        //     var campaignStatus = Cookies.get('campaign-status');
        //     if(!campaignStatus) {
        //         campaignStatus = 'active';
        //     }

        //     if(campaignStatus === 'active') {
        //         $('#display-inactive').show();
        //     } else if(campaignStatus === 'all') {
        //         $('#hide-inactive').show();
        //     }

        // });

        var map = L.map('campaign-map').setView([0, 0], 2);
        L.tileLayer('{{ map_provider }}', {
            attribution: "© <a href='https://www.mapbox.com/about/maps/'>Mapbox</a> © <a href='http://www.openstreetmap.org/copyright'>OpenStreetMap</a> <strong><a href='https://www.mapbox.com/map-feedback/' target='_blank'>Improve this map</a></strong>",
            maxZoom: 15
        }).addTo(map);

        $('#create-campaign').click(function () {
            if (window.isAuthenticated) {
                location.href='/create';
            } else {
                showNotifications('You need to login first.', 'danger');
            }
        });

    </script>

{% endblock %}

{% block after_base_js %}

    <script type="text/javascript">

        var table = null;
        $('.dataTables_filter').addClass('pull-left');
        var mapLayers = new L.FeatureGroup();
        var mapMarkers = new L.FeatureGroup();
        var tag = "{{ tag }}";
        var currentUrl = '';
        var currentUser = '';
        var initialLoad = true;
        var userLocation = {};

        map.addLayer(mapMarkers);
        map.addLayer(mapLayers);

        $(document).ready(function(){
            $(document).tooltip({
                selector: "[data-toggle=tooltip]",
                container: "body"
            });
        });

        //---------------- EVENT ------------------//

        $('#check-show-map').click(function () {
           if( $(this).is(':checked') ){
               $('#campaign-map').show();
           } else{
               $('#campaign-map').hide();
           }
        });

        $('#filter-select').change(function () {
            var value = this.value;
            if(value == 'name') {
                $('#sort-campaign-by-name').click();
            } else if(value == 'date') {
                $('#sort-campaign-by-date').click();
            }
        });

        $('#campaigns-select').change(function () {
            var value = this.value;
            if(value == 'all') {
                Cookies.set('user_location_setting', 'all');
                Cookies.set('campaign-status', 'active');
                $('.active-campaign').show();
                $('.inactive-campaign').show();
                // location.href='/all'
            } else if(value == 'nearest') {
                // Cookies.set('user_location_setting', 'nearest');
                // Cookies.set('campaign-status', 'active');
                // location.href='/'
            } else if(value == 'inactive') {
                // displayInactive();
                // location.href='/';
                $('.active-campaign').hide();
            }
        });

        $("#limit-page").on('keyup', function (e) {
            if (e.keyCode == 13) {
                updateLimitPage();
            }
        });

        function displayInactive() {
            Cookies.set('campaign-status', 'inactive');
            clearMap();
            {% if all %}
                getCampaigns(currentUrl, currentUser);
            {% else %}
                var limitPage = Cookies.get('limit_page');
                if(!limitPage) {
                    limitPage = 5;
                }
                getCampaigns(currentUrl, currentUser, limitPage);
            {% endif %}
        }

        $('#hide-inactive').click(function () {
            Cookies.set('campaign-status', 'active');
            clearMap();
            {% if all %}
                getCampaigns(currentUrl, currentUser);
            {% else %}
                var limitPage = Cookies.get('limit_page');
                if(!limitPage) {
                    limitPage = 5;
                }
                getCampaigns(currentUrl, currentUser, limitPage);
            {% endif %}

            $('#display-inactive').show();
            $('#hide-inactive').hide();
        })

        $('#limit-page').focusout(function (e) {
            updateLimitPage();
        });

        function updateLimitPage() {
            var limitPage = $("#limit-page").val();
            var oldLimitPage = Cookies.get('limit_page');
            var shouldUpdate = false;

            if(oldLimitPage) {
                if(oldLimitPage != limitPage) {
                    shouldUpdate = true;
                }
            } else {
                shouldUpdate = true;
            }

            if(shouldUpdate) {
                clearMap();
                getCampaigns(currentUrl, currentUser, limitPage);
                Cookies.set('limit_page', limitPage);
            }
        }

        function participate() {
            var participateUrl = "/participate"
            if('lat' in userLocation) {
                participateUrl += "?coordinate="+userLocation['lat']+','+userLocation['lon'];
            }
            window.location.href = participateUrl;
        }
        function openCampaign(event, element, campaignUUID) {
            location.href = '/campaign/'+ campaignUUID;
        }

        function openManageCampaign(event, element, campaignUUID) {
            event.stopPropagation();
            location.href= '/edit/' + campaignUUID;
        }

        function updated(user) {
            clearNotification();
            var currentUser = user.display_name;
            // var url = "/campaigns";

            // if(user['lon'] && user['lat']) {
            //     userLocation = {
            //         'lat': user['lat'],
            //         'lon': user['lon']
            //     }
            //     url = "/nearest_campaigns";
            // }
            clearMap();
            // clearTable();
            // getTotalCampaigns();
            clearCampaigns();
            getCampaigns(currentUser);
            $('#campaigns-select').val("all");
            // {% if not all %}
            //     var limitPage = Cookies.get('limit_page');
            //     if(limitPage) {
            //         $('#limit-page').val(Cookies.get('limit_page'));
            //     } else {
            //         limitPage = $('#limit-page').val();
            //         Cookies.set('limit_page', limitPage);
            //     }
            //     $('#campaigns-select').val("nearest");
            //     getCampaigns(url, currentUser, limitPage);
            //     $('.nearest-option').show();
            // {% else %}
            //     getCampaigns(url, currentUser);
            //     $('#campaigns-select').val("all");
            // {% endif %}
        }

        function clearCampaigns() {
            $('.card-wrapper').html('');
            $('.active-campaign-number').html('');
        }


        $('.remove-tag').click(function () {
            location.href='/'
        });

        function logoutSuccess() {
            // clearMap();
            // clearTable();
            clearCampaigns();
            getCampaigns(null);
            
            // userLocation = {};
        }

        function clearManageButtons() {
            $('.manage-campaign-button').hide();
        }

        if(!auth.authenticated()) {
            // getBrowserLocation();
            // getTotalCampaigns();
            getCampaigns(null, null, null)
        }

        function loginError() {
            getBrowserLocation();
        }

        function clearMap() {
            map.removeLayer(mapMarkers);
            map.removeLayer(mapLayers);
            mapLayers = new L.FeatureGroup();
            mapMarkers = new L.FeatureGroup();
            map.addLayer(mapMarkers);
            map.addLayer(mapLayers);
        }

        function clearTable() {
            // table.clear().draw('false');
        }

        function getBrowserLocation() {
            // Get user location
            navigator.geolocation.getCurrentPosition(successGetBrowserLocation, errorGetBrowserLocation);

            function successGetBrowserLocation(position) {

                if(Object.keys(userLocation).length > 0) {
                    return;
                }

                var zoom = 10;
                userLocation = {
                    'lat': position.coords.latitude,
                    'lon': position.coords.longitude
                }
                var url = '/';
                var limitPage = Cookies.get('limit_page');
                if(!limitPage){
                    limitPage = $('#limit-page').val();
                }
                $('#limit-page').val(limitPage);

                clearMap();
                {% if not all %}
                    url += "nearest_campaigns";
                    $('#campaigns-select').val('nearest');
                    $('.nearest-option').show();
                    getCampaigns(url, null, limitPage)
                {% else %}
                    url += "campaigns";
                    $('#campaigns-select').val('all');
                    getCampaigns(url, null, null)
                {% endif %}
            }

            function errorGetBrowserLocation() {
                var url = '/';
                var limitPage = Cookies.get('limit_page');
                userLocation = {};
                if(!limitPage){
                    limitPage = $('#limit-page').val();
                }
                $('#limit-page').val(limitPage);

                clearMap();

                {% if not all %}
                    url += "nearest_campaigns";
                    $.getJSON('https://ipapi.co/json/', function(data) {
                        var latitude = data['latitude'];
                        var longitude = data['longitude'];
                        userLocation = {
                            'lat': latitude,
                            'lon': longitude
                        }
                        getCampaigns(url, null, limitPage);
                    });
                    $('#campaigns-select').val('nearest');
                    $('.nearest-option').show();
                {% else %}
                    url += "campaigns";
                    $('#campaigns-select').val('all');
                    getCampaigns(url, null, null);
                {% endif %}

                console.log('Error get browser location');
            }
        }

        function getTotalCampaigns() {
            return;
            var url = "/total_campaigns";
            $.ajax(url, {
                success: function (response) {
                    $('#active-campaign-number').html(response['campaign_total']);
                    $('#participants-number').html(response['participant_total']);
                }
            })
        }

        function tagsToHTML(types) {
            var tags = '';
            $.each(types, function(index, type) {
                tags += '<span class="campaign-tags">'+ type['type'] +'</span> ';
            });
            return tags;   
        }

        function campaignStatus(campaign) {
            var startDate = moment(campaign.start_date, 'YYYY-MM-DD', true);
            var endDate = moment(campaign.end_date, 'YYYY-MM-DD', true);
            var now = moment(new Date(), 'YYYY-MM-DD');
            status = 'inactive'
            if (startDate <= now)
                if (endDate > now)
                    status = 'active';
            return status;
        }

        function buildCampaignCard(campaign, user) {
            return `
                <li class="col-lg-6 ${campaignStatus(campaign)}-campaign">
                <div class="campaign-card panel" onclick="openCampaign(event, this, '${campaign.uuid}')">
                    <div class="panel-heading">
                    <div class="row">
                        <div class="col-xs-11">
                            <a href="/campaign/${campaign.uuid}" data-toggle="tooltip" data-placement="top" data-container="body" title="${campaign.name}">
                                <div class="campaign-name ellipsis multiline">${campaign.name}</div>
                            </a>
                        </div>
                        <div class="col-xs-1">
                            <span class="fa fa-circle ${campaignStatus(campaign)}"></span>
                        </div>
                    </div>
                    <div class="row">
                        <div class="col-xs-6">
                            <div class="campaign-start-date">started ${campaign.start_date}
                            </div>
                        </div>
                        <div class="col-xs-6">
                            <div class="campaign-progress-bar">
                                ${campaignProgress(campaign)}
                            </div>
                        </div>
                    </div>
                    <div class="row">
                        <div class="col-xs-8">
                            <div class="campaign-tags-list ellipsis multiline">
                                ${tagsToHTML(campaign.types)}
                            </div>
                            <div class="campaign-description ellipsis multiline">
                                ${campaign.description}
                            </div>
                        </div>
                        <div class="col-xs-4 campaign-thumbnail"><img src="${campaign.thumbnail}">
                        </div>
                    </div>
                    <div class="row">
                    <div class="col-xs-8"><div class="campaign-creator">Campaign creator <span class="campaign-creator-name">${campaign.campaign_creator}</span>
                            </div>
                        </div>
                        <div class=col-xs-4>
                            ${actionCampaignButton(campaign, user)}
                        </div>
                    </div>
                </div>
            </div>
            </li>`
        }

        function actionCampaignButton(campaign, user) {
            if($.inArray(user, campaign.campaign_managers)>-1) {
                return `
                    <button type="button" href="#" class="manage-campaign-button campaign-list btn" onclick="openManageCampaign(event, this, '${campaign.uuid}')">
                        <span class="pull-left">Manage</span>
                    </button>`;
            } else {
                return '';
            }
        }

        function campaignProgress(campaign) {
            var startDate = moment(campaign.start_date, 'YYYY-MM-DD', true);
            var endDate = moment(campaign.end_date, 'YYYY-MM-DD', true);
            var campaignRange = endDate.diff(startDate, 'days') + 1;
            var remainingDays = endDate.diff(moment(), 'days') + 1;
            var progress = 100 - (remainingDays / campaignRange * 100);
            if(progress>100) {
                progress = 100;
            }
            else if(progress<0) {
                progress = 0;
            }
            return `
                <div class="progress" style="width:82%;float:left;">
                    <div class="progress-bar" id="campaign-progress" role="progressbar" aria-valuenow="60" aria-valuemin="0" aria-valuemax="100" style="width:${progress}%">
                    </div>
                </div>
                ${Math.round(progress)}%`
        }

        function buildRequests(response, bucketUrl, file) {
            return response.map(function(campaign) {
                return $.ajax({
                    url: bucketUrl + campaign + '/' + file,
                    dataType: 'json'
                });
            });
        }

        function getCampaigns(user) {
            showLoading();
            var bucketUrl = "{{ bucket_url }}/campaigns/";

            $.ajax({
                url: "/campaigns",
                success: function(response) {
                    const campaignRequests = buildRequests(response, bucketUrl, 'campaign.json');

                    $.when.apply($, campaignRequests).then(function(){
                        if (campaignRequests.length === 1) {
                            var campaign = arguments[0];
                            addCampaign(campaign, user);
                            fetchGeometry(campaign, bucketUrl);
                        } else {
                            for (var i = 0; i < arguments.length; i++) {
                                var campaign = arguments[i][0];
                                addCampaign(campaign, user);
                                fetchGeometry(campaign, bucketUrl);
                            }
                        }
                        totalActiveCampaigns = $('.active-campaign').length;
                        $('#active-campaign-number').html(totalActiveCampaigns);
                        hideLoading();
                        setSearch();
                    });
                }
            });

        }

        function addCampaign(campaign, user) {
            card = buildCampaignCard(campaign, user);
            $('.card-wrapper').append(card);
        }

        function fetchGeometry(campaign, bucketUrl) {
            $.ajax({
                url: bucketUrl + campaign.uuid + '/campaign.geojson',
                dataType: 'json',
                async: false,
                success: function(geometry) {
                    setMarkerToMap(campaign, geometry);
                }
            });      
        }

        function setMarkerToMap(campaign, geometry) {
            var campaignLayer = L.geoJson(geometry, {
                onEachFeature: function (feature, layer) {
                    if (feature.geometry.type === 'Polygon') {
                        layer.setStyle({
                            'weight': 0.3,
                            'fillOpacity': 0.2,
                            'color': '#FF5722'
                        });
                    }
                }
            }).addTo(mapLayers);

            var bounds = campaignLayer.getBounds();
            var center = bounds.getCenter();

            var marker = L.marker(center, {icon: orangeIcon}).addTo(mapMarkers);
            marker.bindPopup(
                `<div class="campaign-marker">
                    <a href="/campaign/${campaign.uuid}">${campaign.name}</a>
                </div>`
            );

        }

        function setSearch() {
            var options = {
                valueNames: ['campaign-name', 'campaign-start-date']
            }
            var campaignList = new List('campaign-list', options);
        }

        function getCampaignsOld(url, user, limit) {
            if(url) {
                currentUrl = url;
            }

            if(user) {
                currentUser = user;
            }

            $('#panel-campaign').LoadingOverlay("show", {image: "/static/resources/loading-spinner.gif"});

            if(!url) {
                url = "/campaigns";
            }
            {% if all %}
                url = "/campaigns";
            {% endif %}

            var campaign_status = Cookies.get('campaign-status');
            if(!campaign_status) {
                campaign_status = 'active';
            } else if(campaign_status === 'inactive') {
                $('#campaigns-select').val('inactive');
            }

            url += '/' + campaign_status;

            if(tag) {
                url += '/'+tag;
            }

            url += '?';

            if(limit) {
                url += 'per_page='+limit+'&';
            }

            if('lon' in userLocation) {
                url += 'lon='+userLocation['lon']+'&';
            }

            if('lat' in userLocation) {
                url += 'lat='+userLocation['lat']+'&';
            }

            // Clear campaign list in navbar
            $('.campaign-list-navbar').html('');
            $('.card-wrapper').html('');

            var participants = [];
            $.ajax(url, {
                success: function(campaigns){
                    $.each(campaigns, function (index, campaign) {
                        var types = [];
                        var action_button = '';

                        if(campaign['types']) {
                            $.each(campaign['types'], function (index, type) {
                               types.push(type['type']);
                            });
                            types = types.join()
                        }else{
                            types = '-'
                        }

                        

                        $.each(campaign['campaign_managers'], function (index, manager) {
                            if($.inArray(manager, participants)==-1) {
                                participants.push(manager);
                            }
                        });

                        // Campaign progress


                        $('.card-wrapper').append(
                            '<li class="col-lg-6">'+
                                '<div class="campaign-card panel" onclick="openCampaign(event, this, \''+campaign['uuid']+'\')">'+
                                    '<div class="panel-heading">'+
                                        '<a href=/campaign/'+ campaign['uuid'] +' data-toggle="tooltip" data-placement="top" data-container="body" title="'+ campaign['name'] +'"><div class="campaign-name ellipsis multiline">'+
                                            campaign['name'] +
                                        '</div></a>'+
                                        '<div class="row">' +
                                            '<div class="col-xs-6">'+
                                                '<div class="campaign-start-date">'+
                                                    'started '+ campaign['start_date'] +
                                                '</div>'+
                                            '</div>'+
                                            '<div class="col-xs-6">'+
                                                '<div class="campaign-progress-bar">'+
                                                    campaignProgress +
                                                '</div>'+
                                            '</div>'+
                                        '</div>' +
                                        '<div class="row">'+
                                            '<div class="col-xs-8">'+
                                                '<div class="campaign-tags-list ellipsis multiline">'+
                                                    tags+
                                                '</div>'+
                                                '<div class="campaign-description ellipsis multiline">'+
                                                    campaign['description']+
                                                '</div>'+
                                            '</div>'+
                                            '<div class="col-xs-4 campaign-thumbnail">'+
                                                '<img src="'+campaign['thumbnail']+'">'+
                                            '</div>'+
                                        '</div>'+
                                        '<div class="row">'+
                                            '<div class="col-xs-8">'+
                                                '<div class="campaign-creator">'+
                                                        'Campaign creator <span class="campaign-creator-name">'+ campaign['campaign_creator'] + '</span>' +
                                                '</div>'+
                                            '</div>'+
                                            '<div class=col-xs-4>'+
                                                action_button+
                                            '</div>'+
                                        '</div>' +
                                    '</div>'+
                                '</div>'+
                            '</li>');

                        $(".ellipsis").ellipsis();

                        // Add to navigation bar
                        $('.campaign-list-navbar').append('<li>'+
                            '<a href="/campaign/'+campaign['uuid']+'">'+campaign['name']+'</a>'+
                        '</li>');

                        // Add campaign layer
                        var campaignLayer = L.geoJson(campaign['geometry'], {
                            onEachFeature: function (feature, layer) {
                                // Check if feature is a polygon
                                if (feature.geometry.type === 'Polygon') {
                                    // Don't stroke and do opaque fill
                                    layer.setStyle({
                                        'weight': 0.3,
                                        'fillOpacity': 0.2,
                                        'color': '#FF5722'
                                    });
                                }
                            }
                        }).addTo(mapLayers);

                        var bounds = campaignLayer.getBounds();
                        var center = bounds.getCenter();

                        var marker = L.marker(center, {icon: orangeIcon}).addTo(mapMarkers);
                        marker.bindPopup(
                            '<div class="campaign-marker"><a href="/campaign/'+
                                campaign['uuid'] +'"> ' +
                                campaign['name'] +
                            '</a></div>'
                        );
                    });

                    $('#panel-campaign').LoadingOverlay("hide");

                    map.invalidateSize();
                    var layers = mapLayers;
                    if(typeof mapLayers.length === 'undefined') {
                        layers = mapLayers.getLayers();
                    }
                    if(layers.length > 0) {
                        map.fitBounds(mapLayers.getBounds());
                    }

                    var options = {
                        valueNames: ['campaign-name', 'campaign-start-date']
                    }
                    var campaignList = new List('campaign-list', options);

                    $('#sort-campaign-by-name').click();

                    if(initialLoad) {
                        initialLoad = false;
                    } else {
                        $('#sort-campaign-by-name').click();
                    }
                }
            });
        }

    </script>

{% endblock %}