{% extends 'new_base.html' %}

{% block header_content %}
    <div class="home-header"><h1 style="font-weight: 700">Resources</h1></div>
{% endblock %}

{% block content %}
    <style>
    .page-title {
        font-weight: 600;
        margin-top: 40px;
    }
    .page-content {
        font-size: 12pt;
    }
    </style>

    <div id="page-wrapper" class="panel-custom" style="background-color: white;">
        <div style="vertical-align: middle !important;">
        <div class="row">
            <h2 class="page-title">How to set up a campaign</h2>
            <div class="page-content">
                <p>
                    How to set up a campaign and other resources will be available soon.
                </p>
            </div>
        </div>
        </div>
    </div>
{% endblock %}
