.custom-button {
	-moz-box-shadow:inset 0px 1px 0px 0px #21acde;
	-webkit-box-shadow:inset 0px 1px 0px 0px #21acde;
	box-shadow:inset 0px 1px 0px 0px #21acde;
	background:-webkit-gradient(linear, left top, left bottom, color-stop(0.05, #1386b3), color-stop(1, #2885c7));
	background:-moz-linear-gradient(top, #1386b3 5%, #2885c7 100%);
	background:-webkit-linear-gradient(top, #1386b3 5%, #2885c7 100%);
	background:-o-linear-gradient(top, #1386b3 5%, #2885c7 100%);
	background:-ms-linear-gradient(top, #1386b3 5%, #2885c7 100%);
	background:linear-gradient(to bottom, #1386b3 5%, #2885c7 100%);
	filter:progid:DXImageTransform.Microsoft.gradient(startColorstr='#1386b3', endColorstr='#2885c7',GradientType=0);
	background-color:#1386b3;
	-moz-border-radius:18px;
	-webkit-border-radius:18px;
	border-radius:18px;
	border:1px solid #1e7c9e;
	display:inline-block;
	cursor:pointer;
	color:#ffffff;
	font-size:16px;
	padding:8px 30px;
	text-decoration:none;
}
.custom-button:hover {
	background:-webkit-gradient(linear, left top, left bottom, color-stop(0.05, #2885c7), color-stop(1, #1386b3));
	background:-moz-linear-gradient(top, #2885c7 5%, #1386b3 100%);
	background:-webkit-linear-gradient(top, #2885c7 5%, #1386b3 100%);
	background:-o-linear-gradient(top, #2885c7 5%, #1386b3 100%);
	background:-ms-linear-gradient(top, #2885c7 5%, #1386b3 100%);
	background:linear-gradient(to bottom, #2885c7 5%, #1386b3 100%);
	filter:progid:DXImageTransform.Microsoft.gradient(startColorstr='#2885c7', endColorstr='#1386b3',GradientType=0);
	background-color:#2885c7;
	color:#ffffff;
	text-decoration:none;
}
.custom-button:active {
	position:relative;
	top:1px;
}

